@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  outline: none;
  background-color: transparent;
}

body {
  font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif;
  font-weight: 600;
}

.btn-cir_pk1 {
  font-size: 18px;
  color: #fff;
  background-color: #FF6B6B;
  border: 1.5px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.btn-cir_pk1:hover {
  background-color: transparent;
  border: 1.5px solid #FF6B6B;
  color: #FF6B6B;
  transition: ease-out 0.3s;
}

.btn-cir_pk2 {
  font-size: 18px;
  color: #fff;
  background-color: #FF6B6B;
  border: 1.5px solid transparent;
  width: 100px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.btn-cir_pk2:hover {
  background-color: transparent;
  border: 1.5px solid #FF6B6B;
  color: #FF6B6B;
  transition: ease-out 0.3s;
}

.btn-cir_gr1 {
  font-size: 18px;
  color: #fff;
  background-color: #2DC8A9;
  border: 1.5px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.btn-cir_gr1:hover {
  background-color: transparent;
  border: 1.5px solid #2DC8A9;
  color: #2DC8A9;
  transition: ease-out 0.3s;
}

.btn-cir_gr2 {
  font-size: 18px;
  color: #fff;
  background-color: #2DC8A9;
  border: 1.5px solid transparent;
  width: 100px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.btn-cir_gr2:hover {
  background-color: transparent;
  border: 1.5px solid #2DC8A9;
  color: #2DC8A9;
  transition: ease-out 0.3s;
}

.btn-rect_pk1 {
  font-size: 18px;
  color: #fff;
  background-color: #FF6B6B;
  border: 1.5px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_pk1:hover {
  background-color: transparent;
  border: 1.5px solid #FF6B6B;
  color: #FF6B6B;
  transition: ease-out 0.3s;
}

.btn-rect_pk2 {
  font-size: 18px;
  color: #fff;
  background-color: #FF6B6B;
  border: 1.5px solid transparent;
  width: 110px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_pk2:hover {
  background-color: transparent;
  border: 1.5px solid #FF6B6B;
  color: #FF6B6B;
  transition: ease-out 0.3s;
}

.btn-rect_gr1 {
  font-size: 18px;
  color: #fff;
  background-color: #2DC8A9;
  border: 1.5px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_gr1:hover {
  background-color: transparent;
  border: 1.5px solid #2DC8A9;
  color: #2DC8A9;
  transition: ease-out 0.3s;
}

.btn-rect_gr2 {
  font-size: 18px;
  color: #fff;
  background-color: #2DC8A9;
  border: 1.5px solid transparent;
  width: 110px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_gr2:hover {
  background-color: transparent;
  border: 1.5px solid #2DC8A9;
  color: #2DC8A9;
  transition: ease-out 0.3s;
}

.btn-cir_bl {
  font-size: 18px;
  color: #fff;
  background-color: #4db7fe;
  border: 1.5px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.btn-cir_bl:hover {
  background-color: transparent;
  border: 1.5px solid #4db7fe;
  color: #4db7fe;
  transition: ease-out 0.3s;
}

.btn-rect_bl1 {
  font-size: 18px;
  color: #fff;
  background-color: #4db7fe;
  border: 1.5px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_bl1:hover {
  background-color: transparent;
  border: 1.5px solid #4db7fe;
  color: #4db7fe;
  transition: ease-out 0.3s;
}

.btn-rect_bl2 {
  font-size: 18px;
  color: #fff;
  background-color: #4db7fe;
  border: 1.5px solid transparent;
  width: 110px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_bl2:hover {
  background-color: transparent;
  border: 1.5px solid #4db7fe;
  color: #4db7fe;
  transition: ease-out 0.3s;
}

.go-order-btn {
  font-size: 20PX;
  color: #fff;
  background-color: #F36E30;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
}

.speak_box {
  color: #000000;
  background-color: #fff;
  width: 160px;
  height: 70px;
  line-height: 70px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.triangle_L::after {
  content: '';
  border-color: #fff transparent transparent transparent;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 0 0;
  position: absolute;
  bottom: -15px;
  left: 40px;
}

.triangle_R::after {
  content: '';
  border-color: transparent #fff transparent transparent;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 0;
  position: absolute;
  bottom: -15px;
  right: 40px;
}

.d-flex {
  display: flex;
}

.d-display {
  display: inline;
}

.flex-direction-r {
  flex-direction: row-reverse;
}

.justify-content-s {
  justify-content: space-between;
}

.justify-content-a {
  justify-content: space-around;
}

.justify-content-c {
  justify-content: center;
}

.justify-content-d {
  justify-content: flex-end;
}

.align-items-c {
  align-items: center;
}

.mb-1 {
  margin-bottom: 100px;
}

.mb-2 {
  margin-bottom: 30px;
}

.mb-3 {
  margin-bottom: 20px;
}

.mb-4 {
  margin-bottom: 8px;
}

.ml-1 {
  margin-left: 20px;
}

.mr-1 {
  margin-right: 30px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pl-1 {
  padding-left: 20px;
}

.pl-2 {
  padding-left: 100px;
}

.pt-1 {
  padding-top: 180px;
}

.mt-1 {
  margin-top: 20px;
}

.mt-2 {
  margin-top: 40px;
}

/*全域樣式*/
/*color*/
.card_order-btn {
  font-size: 14PX;
  color: #fff;
  background-color: #F36E30;
  width: 70px;
  height: 30px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
}

.card_order-btn a {
  text-decoration: none;
  color: #fff;
}

.card_order-btn:hover {
  background-color: #4DB7FE;
  transition: ease-out 0.4s;
}

.card_plan-btn {
  font-size: 16PX;
  color: #fff;
  background-color: #F36E30;
  width: 80px;
  height: 30px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
}

.card_plan-btn:hover {
  background-color: #4DB7FE;
  transition: ease-out 0.4s;
}

.card_plan_X-btn {
  font-size: 16PX;
  color: #fff;
  background-color: #F36E30;
  width: 80px;
  height: 30px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
  display: none;
}

.card_plan_X-btn:hover {
  background-color: #4DB7FE;
  transition: ease-out 0.4s;
}

.shop_card {
  background-color: #fff;
  width: 31.5%;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.shop_card .card_img_2 {
  width: 100%;
  position: relative;
}

.shop_card .card_img_2::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  border-radius: 25px 25px 0 0;
  background: #fff;
  z-index: 2;
}

.shop_card .card_img_2 img {
  display: block;
  width: 100%;
  position: relative;
}

.shop_card .card_content_2 {
  margin: 0 20px;
  margin-bottom: 20px;
}

.shop_card .card_content_2 .card_warp {
  color: #707070;
  display: flex;
  justify-content: space-between;
}

.shop_card .card_content_2 .card_warp .card_score {
  display: flex;
  margin-top: 20px;
}

.shop_card .card_content_2 .card_warp .card_score .score_star i {
  display: block;
  font-size: 14px;
  color: #FACC39;
}

.shop_card .card_content_2 .card_warp .card_score .score_num {
  font-size: 14px;
  margin: 0 10px 0 5px;
}

.shop_card .card_content_2 .card_warp .card_score .score_num span {
  color: #333333;
}

.shop_card .card_content_2 .card_warp .card_score .score_comment {
  font-size: 14px;
}

.shop_card .card_content_2 .card_title {
  font-size: 22px;
  color: #333333;
}

.shop_card .card_img_2 img {
  height: auto;
}

.card_menu-btn {
  font-size: 16px;
  color: #fff;
  background-color: #134f6c;
  width: 80px;
  border-radius: 50px;
  height: 35px;
  text-align: center;
  margin: 0 8px;
}

.card_menu-btn:hover {
  background-color: #4DB7FE;
  transition: ease-out 0.4s;
  cursor: pointer;
}

.card_timenow-btn {
  font-size: 14px;
  color: #fff;
  background-color: #F75C96;
  width: 80px;
  border-radius: 50px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 0 8px;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.2);
}

.card_look_detail-btn {
  font-size: 16PX;
  color: #fff;
  background-color: #F36E30;
  width: 90px;
  height: 35px;
  border-radius: 6px;
  cursor: pointer;
}

.card_look_detail-btn:hover {
  background-color: #4DB7FE;
  transition: ease-out 0.4s;
}

.shop_card_lightbox {
  background-color: #fff;
  width: 440PX;
  height: 650px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  transform-origin: 0 0;
  transform: scale(0.4, 0.4);
  z-index: 10;
}

.shop_card_lightbox .card_img {
  width: 100%;
  position: relative;
}

.shop_card_lightbox .card_img::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  border-radius: 25px 25px 0 0;
  background: #fff;
  z-index: 10;
}

.shop_card_lightbox .card_img img {
  display: block;
  width: 100%;
  height: 310px;
  position: relative;
}

.shop_card_lightbox .card_img .heart_save {
  display: block;
  background-color: #F36E30;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  top: 15px;
  left: 15px;
}

.shop_card_lightbox .card_img .heart_save i {
  display: block;
  color: #fff;
  cursor: pointer;
}

.shop_card_lightbox .card_img .heart_save i:hover {
  color: #4DB7FE;
  font-weight: 900;
  transition: ease-out 0.3s;
}

.shop_card_lightbox .card_img .card_close {
  background-color: #fff;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.2);
  width: 50px;
  height: 50px;
  border-radius: 0 8px 0 8px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.shop_card_lightbox .card_img .card_close i {
  display: block;
  font-size: 30px;
  color: #4DB7FE;
}

.shop_card_lightbox .card_img .card_timenow-btn {
  position: absolute;
  bottom: 50px;
  right: 20px;
}

.shop_card_lightbox .card_content {
  margin: 0 20px;
  margin-bottom: 15px;
}

.shop_card_lightbox .card_content .card_warp {
  display: flex;
  justify-content: space-between;
}

.shop_card_lightbox .card_content .card_warp .card_score {
  display: flex;
}

.shop_card_lightbox .card_content .card_warp .card_score .score_num {
  color: #fff;
  background-color: #F36E30;
  width: 50px;
  height: 50px;
  line-height: 52px;
  border-radius: 10px;
  text-align: center;
  font-weight: 400;
}

.shop_card_lightbox .card_content .card_warp .card_score .score_con {
  margin-left: 15px;
}

.shop_card_lightbox .card_content .card_warp .card_score .score_con .score_star i {
  font-size: 16px;
  color: #FACC39;
}

.shop_card_lightbox .card_content .card_warp .card_score .score_con .score_comment {
  font-size: 16px;
  color: #333333;
  margin-top: 10px;
}

.shop_card_lightbox .card_content .card_title {
  font-size: 22px;
  color: #333333;
  margin-top: 15px;
}

.shop_card_lightbox .card_content .card_detail {
  color: #707070;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 20px 0;
}

.shop_card_lightbox .card_content .card_detail .card_text {
  line-height: 25px;
  margin: 20px 0;
}

.shop_card_lightbox .card_content .card_detail .card_time {
  line-height: 25px;
  margin: 20px 0;
}

.shop_card_lightbox .card_content .card_warp_btn {
  display: flex;
  justify-content: flex-end;
}

.d-flex {
  display: flex;
}

.d-display {
  display: inline;
}

.flex-direction-r {
  flex-direction: row-reverse;
}

.justify-content-s {
  justify-content: space-between;
}

.justify-content-a {
  justify-content: space-around;
}

.justify-content-c {
  justify-content: center;
}

.justify-content-d {
  justify-content: flex-end;
}

.align-items-c {
  align-items: center;
}

.mb-1 {
  margin-bottom: 100px;
}

.mb-2 {
  margin-bottom: 30px;
}

.mb-3 {
  margin-bottom: 20px;
}

.mb-4 {
  margin-bottom: 8px;
}

.ml-1 {
  margin-left: 20px;
}

.mr-1 {
  margin-right: 30px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pl-1 {
  padding-left: 20px;
}

.pl-2 {
  padding-left: 100px;
}

.pt-1 {
  padding-top: 180px;
}

.mt-1 {
  margin-top: 20px;
}

.mt-2 {
  margin-top: 40px;
}

/*漢堡樣式*/
.navmenu .hamburger {
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.navmenu .hamburger:hover {
  opacity: 0.7;
}

.navmenu .hamburger:hover .hamburger-inner {
  background-color: #F36E30;
  transition: ease 0.25s;
}

.navmenu .hamburger:hover .hamburger-inner::before {
  background-color: #F36E30;
  transition: ease 0.25s;
}

.navmenu .hamburger:hover .hamburger-inner::after {
  background-color: #F36E30;
  transition: ease 0.25s;
}

.navmenu .hamburger.is-active:hover {
  opacity: 0.7;
}

.navmenu .hamburger.is-active:hover .hamburger-inner {
  background-color: #F36E30;
  transition: ease 0.25s;
}

.navmenu .hamburger.is-active:hover .hamburger-inner::before {
  background-color: #F36E30;
  transition: ease 0.25s;
}

.navmenu .hamburger.is-active:hover .hamburger-inner::after {
  background-color: #F36E30;
  transition: ease 0.25s;
}

.navmenu .hamburger.is-active .hamburger-inner,
.navmenu .hamburger.is-active .hamburger-inner::before,
.navmenu .hamburger.is-active .hamburger-inner::after {
  background-color: #333333;
}

.navmenu .hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.navmenu .hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px;
}

.navmenu .hamburger-inner, .navmenu .hamburger-inner::before, .navmenu .hamburger-inner::after {
  width: 20px;
  height: 4px;
  background-color: #333333;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.navmenu .hamburger-inner::before, .navmenu .hamburger-inner::after {
  content: "";
  display: block;
}

.navmenu .hamburger-inner::before {
  top: -8px;
}

.navmenu .hamburger-inner::after {
  bottom: -8px;
}

.navmenu .hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.navmenu .hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.navmenu .hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.navmenu .hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.navmenu .hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.navmenu .hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*主要樣式*/
.navmenu {
  position: fixed;
  width: 100%;
  z-index: 6;
  top: 0;
  font-size: 22px;
  background-color: #fff;
}

.navmenu .wrap {
  width: 100%;
  margin: auto;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navmenu .wrap .logo {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #333333;
  text-align: center;
}

.navmenu .wrap .logo .img {
  padding: 0 20px;
  height: 50px;
}

.navmenu .wrap .logo .img img {
  height: 100%;
  object-fit: cover;
}

.navmenu .wrap > div:last-child {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navmenu .wrap > div:last-child a {
  padding: 0 20px;
  color: #333333;
  text-decoration: none;
  display: inline-block;
}

.navmenu .wrap > div:last-child a:hover {
  color: #F36E30;
  transition: ease 0.25s;
}

.navmenu .wrap > div:last-child ul {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navmenu .wrap > div:last-child ul li {
  height: 70px;
  line-height: 70px;
  text-align: center;
}

.navmenu .wrap > div:last-child .hamburger {
  display: none;
}

/*導覽列>1200時，且scrollTop > 80  ●●●●●這是首頁的●●●●●*/
.navmenu.letmeout {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
}

.navmenu.bgTransparent {
  background-color: transparent !important;
}

.navmenu.bgTransparent .wrap ul a {
  color: white;
}

.navmenu.bgTransparent .wrap .rIcon a {
  color: white;
}

.navmenu.bgTransparent .wrap .rIcon a:hover {
  color: #F36E30;
}

@media screen and (max-width: 1200px) {
  .navmenu {
    background: #fff;
  }
  .navmenu .wrap .logo {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 0;
    align-self: start;
    justify-content: start;
    width: 100%;
    height: 70px;
    background-color: #fff;
  }
  .navmenu .wrap > div:last-child {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 70px;
  }
  .navmenu .wrap > div:last-child ul {
    position: fixed;
    top: 70px;
    z-index: 5;
    width: 100%;
    overflow: auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    margin-right: 0px;
    align-self: start;
    background: #fff;
    height: 100%;
    display: none;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .navmenu .wrap > div:last-child ul li {
    width: 100vw;
  }
  .navmenu .wrap > div:last-child ul li a {
    color: #000000;
    padding: 0;
    display: block;
  }
  .navmenu .wrap > div:last-child ul::-webkit-scrollbar {
    display: none !important;
  }
  .navmenu .wrap > div:last-child .rIcon {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 22px;
    right: 0;
    transition: 0.25s;
  }
  .navmenu .wrap > div:last-child .rIcon a {
    color: #000000;
  }
  .navmenu .wrap > div:last-child .rIcon a:hover {
    color: #F36E30;
    transition: ease 0.25s;
  }
  .navmenu .wrap > div:last-child .rIcon .hamburger {
    display: inline-block;
  }
}

html, body {
  position: relative;
}

.footer {
  font-size: 16px;
  background-color: #F36E30;
  width: 100%;
  margin-top: 40px;
}

.footer .wrap {
  max-width: 1200px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
}

body#cart_final {
  color: #000000;
}

body#cart_final * {
  box-sizing: border-box;
}

body#cart_final .container {
  max-width: 1200px;
  margin: auto;
}

body#cart_final .text {
  text-align: right;
  margin: auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body#cart_final .text > div {
  padding-bottom: 20px;
  min-width: 150px;
  line-height: 50px;
  font-size: 45px;
  display: flex;
  justify-content: flex-end;
}

body#cart_final .text img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

body#cart_final .bom {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

body#cart_final .bom .ctrlBtns .btn-rect_pk2 a {
  text-decoration: none;
  color: #f7f7f7;
}

body#cart_final .bom .ctrlBtns .btn-rect_pk2 a:hover {
  color: #FF6B6B;
}

body#cart_final .bom .ctrlBtns .btn-rect_gr2 a {
  text-decoration: none;
  color: #f7f7f7;
}

body#cart_final .bom .ctrlBtns .btn-rect_gr2 a:hover {
  color: #2DC8A9;
}

body#cart_final .bom img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 25px;
}

body#cart_final .bom > div {
  display: flex;
  align-items: center;
}

body#cart_final .bom button:first-child {
  margin-right: 50px;
}

body#cart_final .bom .txt {
  font-size: 20px;
}
/*# sourceMappingURL=cart_final.css.map */