@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif;
  font-weight: 600;
  outline: none;
  background-color: transparent;
}

body {
  font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif;
  font-weight: 600;
}

.btn-cir_pk1 {
  font-size: 18px;
  color: #fff;
  background-color: #FF6B6B;
  border: 1.8px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.btn-cir_pk1:hover {
  background-color: transparent;
  border: 1.8px solid #FF6B6B;
  color: #FF6B6B;
  transition: ease-out 0.3s;
}

.btn-cir_pk2 {
  font-size: 18px;
  color: #fff;
  background-color: #FF6B6B;
  border: 1.8px solid transparent;
  width: 100px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.btn-cir_pk2:hover {
  background-color: transparent;
  border: 1.8px solid #FF6B6B;
  color: #FF6B6B;
  transition: ease-out 0.3s;
}

.btn-cir_gr1 {
  font-size: 18px;
  color: #fff;
  background-color: #2DC8A9;
  border: 1.8px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.btn-cir_gr1:hover {
  background-color: transparent;
  border: 1.8px solid #2DC8A9;
  color: #2DC8A9;
  transition: ease-out 0.3s;
}

.btn-cir_gr2 {
  font-size: 18px;
  color: #fff;
  background-color: #2DC8A9;
  border: 1.8px solid transparent;
  width: 100px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.btn-cir_gr2:hover {
  background-color: transparent;
  border: 1.8px solid #2DC8A9;
  color: #2DC8A9;
  transition: ease-out 0.3s;
}

.btn-rect_pk1 {
  font-size: 18px;
  color: #fff;
  background-color: #FF6B6B;
  border: 1.8px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_pk1:hover {
  background-color: transparent;
  border: 1.8px solid #FF6B6B;
  color: #FF6B6B;
  transition: ease-out 0.3s;
}

.btn-rect_pk2 {
  font-size: 18px;
  color: #fff;
  background-color: #FF6B6B;
  border: 1.8px solid transparent;
  width: 100px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_pk2:hover {
  background-color: transparent;
  border: 1.8px solid #FF6B6B;
  color: #FF6B6B;
  transition: ease-out 0.3s;
}

.btn-rect_gr1 {
  font-size: 18px;
  color: #fff;
  background-color: #2DC8A9;
  border: 1.8px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_gr1:hover {
  background-color: transparent;
  border: 1.8px solid #2DC8A9;
  color: #2DC8A9;
  transition: ease-out 0.3s;
}

.btn-rect_gr2 {
  font-size: 18px;
  color: #fff;
  background-color: #2DC8A9;
  border: 1.8px solid transparent;
  width: 100px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_gr2:hover {
  background-color: transparent;
  border: 1.8px solid #2DC8A9;
  color: #2DC8A9;
  transition: ease-out 0.3s;
}

.btn-cir_bl {
  font-size: 18px;
  color: #fff;
  background-color: #4db7fe;
  border: 1.8px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.btn-cir_bl:hover {
  background-color: transparent;
  border: 1.8px solid #4db7fe;
  color: #4db7fe;
  transition: ease-out 0.3s;
}

.btn-rect_bl1 {
  font-size: 18px;
  color: #fff;
  background-color: #4db7fe;
  border: 1.8px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_bl1:hover {
  background-color: transparent;
  border: 1.8px solid #4db7fe;
  color: #4db7fe;
  transition: ease-out 0.3s;
}

.btn-rect_bl2 {
  font-size: 18px;
  color: #fff;
  background-color: #4db7fe;
  border: 1.8px solid transparent;
  width: 100px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_bl2:hover {
  background-color: transparent;
  border: 1.8px solid #4db7fe;
  color: #4db7fe;
  transition: ease-out 0.3s;
}

.go-order-btn {
  font-size: 20PX;
  color: #fff;
  background-color: #F36E30;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
}

.speak_box {
  color: #000000;
  background-color: #fff;
  width: 160px;
  height: 70px;
  line-height: 70px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.triangle_L::after {
  content: '';
  border-color: #fff transparent transparent transparent;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 0 0;
  position: absolute;
  bottom: -15px;
  left: 40px;
}

.triangle_R::after {
  content: '';
  border-color: transparent #fff transparent transparent;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 0;
  position: absolute;
  bottom: -15px;
  right: 40px;
}

.d-flex {
  display: flex;
}

.d-display {
  display: inline;
}

.flex-direction-r {
  flex-direction: row-reverse;
}

.justify-content-s {
  justify-content: space-between;
}

.justify-content-a {
  justify-content: space-around;
}

.justify-content-c {
  justify-content: center;
}

.justify-content-d {
  justify-content: flex-end;
}

.align-items-c {
  align-items: center;
}

.mb-1 {
  margin-bottom: 100px;
}

.mb-2 {
  margin-bottom: 30px;
}

.mb-3 {
  margin-bottom: 20px;
}

.mb-4 {
  margin-bottom: 8px;
}

.ml-1 {
  margin-left: 20px;
}

.mr-1 {
  margin-right: 30px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pl-1 {
  padding-left: 20px;
}

.pl-2 {
  padding-left: 100px;
}

.pt-1 {
  padding-top: 180px;
}

.mt-1 {
  margin-top: 20px;
}

.mt-2 {
  margin-top: 40px;
}

/*全域樣式*/
/*color*/
body#create form#createVendor .page2 .pageItem div.addBtn input#addBtn {
  width: 100px;
  line-height: 30px;
  border-radius: 8px;
  border: 0 solid #000;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

body#create form#createVendor .page2 .pageItem .meal .mealtextwrap button.deleteBtn {
  border: 0;
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
  padding: 5px;
  background-color: #2DC8A9;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

body#create form#createVendor .page2 .pageItem div.addBtn label[for="addBtn"] {
  border: 0;
  width: 40px;
  height: 40px;
  color: white;
  font-weight: 900;
  font-size: 25px;
  border-radius: 50%;
  padding: 5px;
  background-color: #ccc;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.card_order-btn {
  font-size: 14PX;
  color: #fff;
  background-color: #F36E30;
  width: 70px;
  height: 30px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
}

.card_order-btn a {
  text-decoration: none;
  color: #fff;
}

.card_order-btn:hover {
  background-color: #dd5a02;
  transition: ease-out 0.4s;
}

.card_plan-btn {
  font-size: 16PX;
  color: #fff;
  background-color: #F36E30;
  width: 60px;
  height: 30px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
}

.card_plan-btn:hover {
  background-color: #dd5a02;
  transition: ease-out 0.4s;
}

.card_detail-btn {
  font-size: 16PX;
  color: #fff;
  background-color: #F36E30;
  width: 60px;
  height: 30px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
}

.card_detail-btn:hover {
  background-color: #dd5a02;
  transition: ease-out 0.4s;
}

.shop_card {
  background-color: #fff;
  width: 31.8%;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.shop_card .card_img_2 {
  width: 100%;
  position: relative;
}

.shop_card .card_img_2::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  border-radius: 25px 25px 0 0;
  background: #fff;
  z-index: 2;
}

.shop_card .card_img_2 img {
  display: block;
  width: 100%;
  position: relative;
}

.shop_card .card_content_2 {
  margin: 0 20px;
  margin-bottom: 20px;
}

.shop_card .card_content_2 .card_warp {
  color: #707070;
  display: flex;
  justify-content: space-between;
}

.shop_card .card_content_2 .card_warp .card_score {
  display: flex;
  margin-top: 20px;
}

.shop_card .card_content_2 .card_warp .card_score .score_star i {
  display: block;
  font-size: 14px;
  color: #FACC39;
}

.shop_card .card_content_2 .card_warp .card_score .score_num {
  font-size: 14px;
  margin: 0 10px 0 5px;
}

.shop_card .card_content_2 .card_warp .card_score .score_num span {
  color: #333333;
}

.shop_card .card_content_2 .card_warp .card_score .score_comment {
  font-size: 14px;
}

.shop_card .card_content_2 .card_title {
  font-size: 22px;
  color: #333333;
}

.shop_card .card_img_2 {
  height: 200px;
  overflow: hidden;
}

.shop_card .card_img_2 img {
  height: auto;
}

.card_menu-btn {
  font-size: 16px;
  color: #fff;
  background-color: #134f6c;
  width: 80px;
  border-radius: 50px;
  height: 35px;
  text-align: center;
  margin: 0 8px;
}

.card_menu-btn:hover {
  background-color: #dd5a02;
  transition: ease-out 0.4s;
  cursor: pointer;
}

.card_timenow-btn {
  font-size: 14px;
  color: #fff;
  background-color: #F75C96;
  width: 80px;
  border-radius: 50px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 0 8px;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.2);
}

.card_look_detail-btn {
  font-size: 16PX;
  color: #fff;
  background-color: #F36E30;
  width: 90px;
  height: 35px;
  border-radius: 6px;
  cursor: pointer;
}

.card_look_detail-btn:hover {
  background-color: #dd5a02;
  transition: ease-out 0.4s;
}

.shop_card_lightbox {
  background-color: #fff;
  width: 440PX;
  height: 650px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  transform-origin: 0 0;
  transform: scale(0.4, 0.4);
  z-index: 10;
}

.shop_card_lightbox .card_img {
  width: 100%;
  position: relative;
}

.shop_card_lightbox .card_img::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  border-radius: 25px 25px 0 0;
  background: #fff;
  z-index: 10;
}

.shop_card_lightbox .card_img img {
  display: block;
  width: 100%;
  height: 310px;
  position: relative;
}

.shop_card_lightbox .card_img .heart_save {
  display: block;
  background-color: #F36E30;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  top: 15px;
  left: 15px;
}

.shop_card_lightbox .card_img .heart_save i {
  display: block;
  color: #fff;
  cursor: pointer;
}

.shop_card_lightbox .card_img .heart_save i:hover {
  color: #4DB7FE;
  font-weight: 900;
  transition: ease-out 0.3s;
}

.shop_card_lightbox .card_img .card_close {
  background-color: #fff;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.2);
  width: 50px;
  height: 50px;
  border-radius: 0 8px 0 8px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.shop_card_lightbox .card_img .card_close i {
  display: block;
  font-size: 30px;
  color: #4DB7FE;
}

.shop_card_lightbox .card_img .card_timenow-btn {
  position: absolute;
  bottom: 50px;
  right: 20px;
}

.shop_card_lightbox .card_content {
  margin: 0 20px;
  margin-bottom: 15px;
}

.shop_card_lightbox .card_content .card_warp {
  display: flex;
  justify-content: space-between;
}

.shop_card_lightbox .card_content .card_warp .card_score {
  display: flex;
}

.shop_card_lightbox .card_content .card_warp .card_score .score_num {
  color: #fff;
  background-color: #F36E30;
  width: 50px;
  height: 50px;
  line-height: 52px;
  border-radius: 10px;
  text-align: center;
  font-weight: 400;
}

.shop_card_lightbox .card_content .card_warp .card_score .score_con {
  margin-left: 15px;
}

.shop_card_lightbox .card_content .card_warp .card_score .score_con .score_star i {
  font-size: 16px;
  color: #FACC39;
}

.shop_card_lightbox .card_content .card_warp .card_score .score_con .score_comment {
  font-size: 16px;
  color: #333333;
  margin-top: 10px;
}

.shop_card_lightbox .card_content .card_title {
  font-size: 22px;
  color: #333333;
  margin-top: 15px;
}

.shop_card_lightbox .card_content .card_detail {
  color: #707070;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 20px 0;
}

.shop_card_lightbox .card_content .card_detail .card_text {
  line-height: 25px;
  margin: 20px 0;
}

.shop_card_lightbox .card_content .card_detail .card_time {
  line-height: 25px;
  margin: 20px 0;
}

.shop_card_lightbox .card_content .card_warp_btn {
  display: flex;
  justify-content: flex-end;
}

/*漢堡樣式*/
.navmenu .hamburger {
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.navmenu .hamburger:hover {
  opacity: 0.7;
}

.navmenu .hamburger:hover .hamburger-inner {
  background-color: #F36E30;
  transition: ease 0.25s;
}

.navmenu .hamburger:hover .hamburger-inner::before {
  background-color: #F36E30;
  transition: ease 0.25s;
}

.navmenu .hamburger:hover .hamburger-inner::after {
  background-color: #F36E30;
  transition: ease 0.25s;
}

.navmenu .hamburger.is-active:hover {
  opacity: 0.7;
}

.navmenu .hamburger.is-active:hover .hamburger-inner {
  background-color: #F36E30;
  transition: ease 0.25s;
}

.navmenu .hamburger.is-active:hover .hamburger-inner::before {
  background-color: #F36E30;
  transition: ease 0.25s;
}

.navmenu .hamburger.is-active:hover .hamburger-inner::after {
  background-color: #F36E30;
  transition: ease 0.25s;
}

.navmenu .hamburger.is-active .hamburger-inner,
.navmenu .hamburger.is-active .hamburger-inner::before,
.navmenu .hamburger.is-active .hamburger-inner::after {
  background-color: #333333;
}

.navmenu .hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.navmenu .hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px;
}

.navmenu .hamburger-inner, .navmenu .hamburger-inner::before, .navmenu .hamburger-inner::after {
  width: 20px;
  height: 4px;
  background-color: #333333;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.navmenu .hamburger-inner::before, .navmenu .hamburger-inner::after {
  content: "";
  display: block;
}

.navmenu .hamburger-inner::before {
  top: -8px;
}

.navmenu .hamburger-inner::after {
  bottom: -8px;
}

.navmenu .hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.navmenu .hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.navmenu .hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.navmenu .hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.navmenu .hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.navmenu .hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*主要樣式*/
.navmenu {
  position: sticky;
  width: 100%;
  z-index: 6;
  top: 0;
  font-size: 22px;
  background-color: #fff;
}

.navmenu .wrap {
  width: 100%;
  margin: auto;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navmenu .wrap .logo {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #333333;
  text-align: center;
}

.navmenu .wrap .logo .img {
  padding: 0 20px;
  height: 50px;
}

.navmenu .wrap .logo .img img {
  height: 100%;
  object-fit: cover;
}

.navmenu .wrap > div:last-child {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navmenu .wrap > div:last-child a {
  padding: 0 20px;
  color: #333333;
  text-decoration: none;
  display: inline-block;
}

.navmenu .wrap > div:last-child a:hover {
  color: #F36E30;
  transition: ease 0.25s;
}

.navmenu .wrap > div:last-child ul {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navmenu .wrap > div:last-child ul li {
  height: 70px;
  line-height: 70px;
  text-align: center;
}

.navmenu .wrap > div:last-child .hamburger {
  display: none;
}

/*導覽列>1200時，且scrollTop > 80  ●●●●●這是首頁的●●●●●*/
.navmenu.letmeout {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
}

.navmenu.bgTransparent {
  background-color: transparent !important;
  position: fixed;
}

.navmenu.bgTransparent .wrap ul a {
  color: white;
}

.navmenu.bgTransparent .wrap .rIcon a {
  color: white;
}

.navmenu.bgTransparent .wrap .rIcon a:hover {
  color: #F36E30;
}

@media screen and (max-width: 1200px) {
  .navmenu {
    background: #fff;
  }
  .navmenu .wrap .logo {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 0;
    align-self: start;
    justify-content: start;
    width: 100%;
    height: 70px;
    background-color: #fff;
  }
  .navmenu .wrap > div:last-child {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 70px;
  }
  .navmenu .wrap > div:last-child ul {
    position: fixed;
    top: 70px;
    z-index: 5;
    width: 100%;
    overflow: auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    margin-right: 0px;
    align-self: start;
    background: #fff;
    height: 100%;
    display: none;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .navmenu .wrap > div:last-child ul li {
    width: 100vw;
  }
  .navmenu .wrap > div:last-child ul li a {
    color: #000000;
    padding: 0;
    display: block;
  }
  .navmenu .wrap > div:last-child ul::-webkit-scrollbar {
    display: none !important;
  }
  .navmenu .wrap > div:last-child .rIcon {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 22px;
    right: 0;
    transition: 0.25s;
  }
  .navmenu .wrap > div:last-child .rIcon a {
    color: #000000;
  }
  .navmenu .wrap > div:last-child .rIcon a:hover {
    color: #F36E30;
    transition: ease 0.25s;
  }
  .navmenu .wrap > div:last-child .rIcon .hamburger {
    display: inline-block;
  }
}

html, body {
  position: relative;
}

.footer {
  font-size: 16px;
  background-color: #F36E30;
  width: 100%;
  margin-top: 40px;
}

.footer .wrap {
  max-width: 1200px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
}

body#create {
  background: #f7f7f7;
  /*step + page樣式*/
}

body#create * {
  box-sizing: border-box;
}

body#create .navlist {
  position: relative;
}

body#create .navlist li:nth-child(5) a::after {
  content: "";
  position: absolute;
  bottom: 20px;
  right: 12px;
  width: 100px;
  height: 4px;
  border-radius: 8px;
  background-color: #F36E30;
  animation-name: color;
  animation-duration: 2.5s;
}

@keyframes color {
  from {
    background-color: #f7f7f7;
  }
  to {
    background-color: #F36E30;
  }
}

body#create .navmenu .navlist li a[href*="create"] {
  color: #F36E30;
}

body#create .createVendorContainer {
  /* height: 100vh;*/
}

body#create .createVendorContainer div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

body#create .createVendorContainer h2 {
  color: #000000;
  font-size: 24px;
  margin: 30px 0px;
}

body#create .createVendorContainer h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #000000;
}

body#create .createVendorContainer input[type="text"], body#create .createVendorContainer textarea, body#create .createVendorContainer p, body#create .createVendorContainer div, body#create .createVendorContainer .selectwrap {
  color: #000000;
  font-size: 18px;
}

body#create .createVendorContainer input[type="text"],
body#create .createVendorContainer .selectcontrol, body#create .createVendorContainer textarea {
  height: 30px;
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #E6E6E6;
  border: 0px;
  border-radius: 8px;
  position: relative;
  white-space: nowrap;
}

body#create .createVendorContainer input[type="text"] span,
body#create .createVendorContainer .selectcontrol span, body#create .createVendorContainer textarea span {
  width: 90%;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body#create .createVendorContainer input[type="text"] span::-webkit-scrollbar,
body#create .createVendorContainer .selectcontrol span::-webkit-scrollbar, body#create .createVendorContainer textarea span::-webkit-scrollbar {
  display: none;
}

body#create .createVendorContainer input[type="text"] span::-ms-scrollbar,
body#create .createVendorContainer .selectcontrol span::-ms-scrollbar, body#create .createVendorContainer textarea span::-ms-scrollbar {
  display: none;
}

body#create .createVendorContainer input[type="text"]::after,
body#create .createVendorContainer .selectcontrol::after, body#create .createVendorContainer textarea::after {
  content: "\f107";
  font-family: 'FontAwesome';
  color: #4db7fe;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

body#create .createVendorContainer .selectwrap {
  position: relative;
}

body#create .createVendorContainer .selectwrap .selectnav {
  display: none;
  line-height: 30px;
  position: absolute;
  top: 30px;
  z-index: 2;
  width: 100%;
  background: #E6E6E6;
  padding: 10px;
}

body#create .createVendorContainer .selectwrap .selectnav label {
  display: block;
}

body#create .createVendorContainer input[type="file"] {
  display: none;
}

body#create .createVendorContainer .pageItem {
  border-radius: 8px;
  background: white;
  min-height: 70vh;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
}

body#create .createVendorContainer input, body#create .createVendorContainer textarea, body#create .createVendorContainer button {
  outline: none;
  font-family: 微軟正黑體,serif;
}

body#create .createVendorContainer input[type="radio"], body#create .createVendorContainer input[type="checkbox"] {
  margin-right: 10px;
}

body#create form#createVendor {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  height: calc(100vh-300px);
  max-width: 1200px;
  margin: auto;
}

body#create form#createVendor .page1, body#create form#createVendor .page2, body#create form#createVendor .page3, body#create form#createVendor .page5 {
  margin: 0 20px;
}

body#create form#createVendor .steps {
  padding: 25px;
  max-width: 1200px;
}

body#create form#createVendor .steps img {
  width: 100%;
}

body#create form#createVendor .steps > div {
  align-items: center;
  flex-direction: row;
}

body#create form#createVendor .steps .mid {
  position: relative;
  z-index: -2;
}

body#create form#createVendor .steps .top > div, body#create form#createVendor .steps .bom > div {
  width: 20%;
  justify-content: center;
  height: 110px;
}

body#create form#createVendor .steps .top .stepwrap, body#create form#createVendor .steps .bom .stepwrap {
  cursor: pointer;
  position: relative;
  background: url(../img/create/gray.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

body#create form#createVendor .steps .top .stepwrap::after, body#create form#createVendor .steps .bom .stepwrap::after {
  content: '　';
  z-index: -1;
  background: url(../img/create/dot.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  bottom: -0.79em;
  left: 50%;
  transform: translateX(-40%);
  display: flex;
  justify-content: center;
  align-items: center;
}

body#create form#createVendor .steps .top .info, body#create form#createVendor .steps .bom .info {
  text-align: center;
  align-items: center;
}

body#create form#createVendor .steps .top .info .num, body#create form#createVendor .steps .bom .info .num {
  color: white;
  font-weight: 900;
  width: fit-content;
  border-bottom: 3px solid white;
}

body#create form#createVendor .steps .bom {
  transform: rotate(180deg);
}

body#create form#createVendor .steps .bom .info {
  transform: rotate(180deg);
}

body#create form#createVendor .ctrlBtns {
  margin: 0 20px;
  margin-top: 30px;
  flex-direction: row;
  justify-content: space-between;
}

body#create form#createVendor .page1 .pageItem {
  padding: 5vw 8vw;
  align-items: space-between;
  justify-content: space-around;
}

body#create form#createVendor .page1 .pageItem > div {
  flex-direction: row;
  justify-content: space-between;
}

body#create form#createVendor .page1 .pageItem > div > div {
  padding: 10px;
}

body#create form#createVendor .page1 .pageItem > div:last-child img {
  background: #E6E6E6;
}

body#create form#createVendor .page1 .pageItem > div:last-child textarea, body#create form#createVendor .page1 .pageItem > div:last-child img {
  background-color: #E6E6E6;
  resize: none;
  border: 0px;
  border-radius: 8px;
  height: 200px;
  width: 350px;
  white-space: pre-wrap;
}

body#create form#createVendor .page1 .pageItem > div:last-child > div {
  padding: 10px;
}

body#create form#createVendor .page1 .pageItem .putheadhere {
  position: relative;
  font-size: 0;
}

body#create form#createVendor .page1 .pageItem .putheadhere img {
  object-fit: cover;
}

body#create form#createVendor .page1 .pageItem .putheadhere label[for="myHead"] {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background: #E6E6E6;
  border-radius: 8px;
}

body#create form#createVendor .page1 .pageItem .putheadhere label[for="myHead"] span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}

body#create form#createVendor .page1 .pageItem input[type="text"], body#create form#createVendor .page1 .pageItem .selectcontrol {
  width: 350px;
}

body#create form#createVendor .page2 input[type="text"] {
  font-weight: 600;
}

body#create form#createVendor .page2 .pageItem {
  padding: 50px;
  flex-wrap: initial;
}

body#create form#createVendor .page2 .pageItem > div {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

body#create form#createVendor .page2 .pageItem .meal {
  margin: 10px;
  flex-wrap: wrap;
}

body#create form#createVendor .page2 .pageItem .meal .putmealhere {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

body#create form#createVendor .page2 .pageItem .meal .putmealhere img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

body#create form#createVendor .page2 .pageItem .meal .putmealhere label {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4db7fe;
}

body#create form#createVendor .page2 .pageItem .meal .putmealhere label span {
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body#create form#createVendor .page2 .pageItem .meal .mealtextwrap {
  min-width: 80%;
  flex-direction: row;
  justify-content: space-between;
}

body#create form#createVendor .page2 .pageItem .meal .mealtextwrap input[type="text"], body#create form#createVendor .page2 .pageItem .meal .mealtextwrap .selectcontrol {
  width: 150px;
  text-align: center;
}

body#create form#createVendor .page2 .pageItem div.addBtn {
  display: flex;
  justify-content: start;
  margin: 10px;
}

body#create form#createVendor .page2 .pageItem div.addBtn label[for="addBtn"] {
  cursor: pointer;
}

body#create form#createVendor .page2 .pageItem div.addBtn input#addBtn {
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
}

body#create form#createVendor .page3 .pageItem {
  position: relative;
  overflow: hidden;
}

body#create form#createVendor .page3 #map {
  height: 70vh;
  width: 100%;
  margin: 0 auto;
}

body#create form#createVendor .page3 .user_info {
  display: none;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body#create form#createVendor .page3 .user_info p {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

body#create form#createVendor .page5 .pageItem {
  padding: 20px;
}

body#create form#createVendor .page5 .pageItem .img {
  margin: auto;
  max-width: 400px;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
}

body#create form#createVendor .page5 .pageItem .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body#create .createVendorContainer form#createVendor .page {
  display: none;
}

body#create .createVendorContainer #createVendor[data-page="1"] .page:nth-child(1),
body#create .createVendorContainer #createVendor[data-page="2"] .page:nth-child(2),
body#create .createVendorContainer #createVendor[data-page="3"] .page:nth-child(3),
body#create .createVendorContainer #createVendor[data-page="5"] .page:nth-child(4) {
  display: flex;
}

body#create .createVendorContainer #createVendor[data-page="4"] .page:nth-child(1),
body#create .createVendorContainer #createVendor[data-page="4"] .page:nth-child(2),
body#create .createVendorContainer #createVendor[data-page="4"] .page:nth-child(3) {
  display: flex;
}

body#create .createVendorContainer #createVendor[data-page="1"] .stepwrap[data-page="1"],
body#create .createVendorContainer #createVendor[data-page="2"] .stepwrap[data-page="2"],
body#create .createVendorContainer #createVendor[data-page="3"] .stepwrap[data-page="3"],
body#create .createVendorContainer #createVendor[data-page="4"] .stepwrap[data-page="4"],
body#create .createVendorContainer #createVendor[data-page="5"] .stepwrap[data-page="5"] {
  background-image: url(../img/create/green.png);
}

body#create .createVendorContainer .ctrlBtns button[disabled] {
  visibility: hidden;
}

@media screen and (max-width: 1200px) {
  body#create .navlist li:nth-child(5) a::after {
    content: "";
    position: absolute;
    top: 225px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #F36E30;
    opacity: 0.5;
  }
  body#create .navmenu .wrap > div:last-child ul li:nth-child(3) {
    display: none !important;
  }
  body#create form#createVendor .page1 .pageItem, body#create form#createVendor .page2 .pageItem, body#create form#createVendor .page5 .pageItem {
    padding: 20px;
  }
  body#create form#createVendor .page1 .pageItem > div {
    justify-content: center;
  }
  body#create form#createVendor .page2 .pageItem {
    padding: 50px;
  }
  body#create form#createVendor .page2 .pageItem .meal {
    flex-wrap: nowrap;
  }
  body#create form#createVendor .page2 .pageItem .meal .putmealhere {
    margin-right: 20px;
    white-space: nowrap;
  }
  body#create form#createVendor .page2 .pageItem .meal .mealtextwrap text[type="text"] {
    margin-right: 15px;
  }
  body#create form#createVendor .page2 .putmealhere, body#create form#createVendor .page2 input[type="file"], body#create form#createVendor .page2 input[type="text"], body#create form#createVendor .page2 .selectcontrol {
    margin-bottom: 15px;
  }
  body#create form#createVendor .page2 .mealtextwrap {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  body#create form#createVendor .page1 .pageItem > div > div {
    width: 80%;
  }
  body#create form#createVendor .page1 .pageItem > div > div input[type="text"], body#create form#createVendor .page1 .pageItem > div > div textarea, body#create form#createVendor .page1 .pageItem > div > div div.selectcontrol, body#create form#createVendor .page1 .pageItem > div > div label, body#create form#createVendor .page1 .pageItem > div > div img {
    width: 100% !important;
  }
  body#create form#createVendor .page2 .pageItem {
    padding: 20px;
  }
  body#create form#createVendor .page2 .pageItem .meal {
    flex-wrap: wrap;
  }
  body#create form#createVendor .page2 .pageItem .meal .mealtextwrap {
    width: 100%;
  }
  body#create form#createVendor .page2 .putmealhere, body#create form#createVendor .page2 input[type="file"], body#create form#createVendor .page2 input[type="text"], body#create form#createVendor .page2 .selectcontrol, body#create form#createVendor .page2 .deleteBtn {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  body#create form#createVendor .pagewrap .page2 .pageItem .meal {
    flex-direction: column;
    justify-content: center;
  }
  body#create form#createVendor .pagewrap .page2 .pageItem .meal .mealtextwrap {
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
  }
  body#create form#createVendor .pagewrap .page2 .pageItem .meal .mealtextwrap input[type="text"], body#create form#createVendor .pagewrap .page2 .pageItem .meal .mealtextwrap label, body#create form#createVendor .pagewrap .page2 .pageItem .meal .mealtextwrap .selectwrap, body#create form#createVendor .pagewrap .page2 .pageItem .meal .mealtextwrap .selectcontrol, body#create form#createVendor .pagewrap .page2 .pageItem .meal .mealtextwrap span {
    width: 100%;
  }
  body#create form#createVendor .pagewrap .page2 .pageItem div.addBtn {
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  body#create .createVendorContainer .page1 h2 {
    margin: 10px 0 30px;
  }
  body#create form#createVendor .steps {
    padding: 10px 80px 10px;
  }
  body#create form#createVendor .steps .top > div, body#create form#createVendor .steps .bom > div {
    height: 70px;
  }
  body#create form#createVendor .steps .top .stepwrap::after, body#create form#createVendor .steps .bom .stepwrap::after {
    bottom: -13.5%;
    width: 10px;
  }
  body#create form#createVendor .steps .stepwrap .info .num,
  body#create form#createVendor .steps .stepwrap .info .text {
    font-size: 14px;
  }
  body#create form#createVendor .page1 .pageItem > div > div {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  body#create form#createVendor .steps .top .stepwrap::after, body#create form#createVendor .steps .bom .stepwrap::after {
    display: -14%;
  }
  body#create form#createVendor .steps .top .stepwrap .info .num, body#create form#createVendor .steps .top .stepwrap .info .text {
    font-size: 12px;
    transform: translateX(-7%);
    white-space: nowrap;
  }
  body#create form#createVendor .page1 > div > div {
    display: block;
  }
  body#create form#createVendor .page1 input[type="text"], body#create form#createVendor .page1 .selectcontrol, body#create form#createVendor .page1 .selectnav,
  body#create form#createVendor .page1 textarea, body#create form#createVendor .page1 img {
    width: 100% !important;
  }
}
/*# sourceMappingURL=create.css.map */