@charset "UTF-8";
/*全域樣式*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*color*/
form#createVendor .page2 .pageItem div.addBtn input#addBtn {
  width: 100px;
  line-height: 30px;
  border-radius: 5px;
  border: 0 solid #000;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

form#createVendor .ctrlBtns button {
  width: 100px;
  line-height: 30px;
  border-radius: 5px;
  border: 0 solid #000;
}

form#createVendor .page2 .pageItem button.deleteBtn {
  border: 0;
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
  padding: 5px;
  background-color: #2DC8A9;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

form#createVendor .page2 .pageItem div.addBtn label[for="addBtn"] {
  border: 0;
  width: 40px;
  height: 40px;
  color: white;
  font-weight: 900;
  font-size: 25px;
  border-radius: 50%;
  padding: 5px;
  background-color: #ccc;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  margin-left: 3em;
}

body {
  background: #11245E;
}

.container {
  height: 100vh;
}

.container button, .container input[type="button"] {
  outline: 0px;
}

.container div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.container h2 {
  padding: 0 20px 0;
  color: white;
  margin: 30px 0px;
}

.container h3 {
  margin-bottom: 10px;
}

.container input[type="text"],
.container .selectcontrol {
  height: 30px;
  display: flex;
  justify-content: center;
  padding: 0 10px;
  background: #f2f2f2;
  border: 0px;
  border-radius: 5px;
  position: relative;
  white-space: nowrap;
}

.container input[type="text"] span,
.container .selectcontrol span {
  width: 90%;
}

.container input[type="text"] span::-webkit-scrollbar,
.container .selectcontrol span::-webkit-scrollbar {
  display: none;
}

.container input[type="text"] span::-ms-scrollbar,
.container .selectcontrol span::-ms-scrollbar {
  display: none;
}

.container input[type="text"]::after,
.container .selectcontrol::after {
  content: "▼";
  font-family: 'Font Awesome 3 Free';
  color: #4db7fe;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.container .selectwrap {
  position: relative;
}

.container .selectwrap .selectnav {
  display: none;
  line-height: 30px;
  position: absolute;
  top: 30px;
  z-index: 2;
  width: 100%;
  background: #f2f2f2;
  padding: 10px;
}

.container .selectwrap .selectnav label {
  display: block;
}

.container input[type="file"] {
  display: none;
}

.container .pageItem {
  border-radius: 15px;
  background: white;
  min-height: 70vh;
}

/*step + page樣式*/
form#createVendor {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  height: calc(100vh-300px);
  max-width: 960px;
  margin: auto;
}

form#createVendor .steps {
  padding: 25px;
  max-width: 960px;
}

form#createVendor .steps img {
  width: 100%;
}

form#createVendor .steps > div {
  align-items: center;
  flex-direction: row;
}

form#createVendor .steps .mid {
  position: relative;
  z-index: -2;
}

form#createVendor .steps .top > div, form#createVendor .steps .bom > div {
  width: 20%;
  justify-content: center;
  height: 110px;
}

form#createVendor .steps .top .stepwrap, form#createVendor .steps .bom .stepwrap {
  position: relative;
  background: url(../img/gray.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

form#createVendor .steps .top .stepwrap::after, form#createVendor .steps .bom .stepwrap::after {
  content: '　';
  z-index: -1;
  background: url(../img/dot.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  bottom: -0.79em;
  left: 50%;
  transform: translateX(-40%);
  display: flex;
  justify-content: center;
  align-items: center;
}

form#createVendor .steps .top .info, form#createVendor .steps .bom .info {
  text-align: center;
  align-items: center;
}

form#createVendor .steps .top .info .num, form#createVendor .steps .bom .info .num {
  color: white;
  font-weight: 900;
  width: fit-content;
  border-bottom: 3px solid white;
}

form#createVendor .steps .bom {
  transform: rotate(180deg);
}

form#createVendor .steps .bom .info {
  transform: rotate(180deg);
}

form#createVendor .ctrlBtns {
  margin: 0 20px;
  margin-top: 30px;
  flex-direction: row;
  justify-content: space-between;
}

form#createVendor .ctrlBtns button {
  color: white;
}

form#createVendor .ctrlBtns #prevBtn {
  background-color: #2DC8A9;
}

form#createVendor .ctrlBtns #nextBtn {
  background-color: #FF6B6B;
}

form#createVendor .page1 .pageItem {
  padding: 5vw 8vw;
  align-items: space-between;
  justify-content: space-around;
}

form#createVendor .page1 .pageItem > div {
  flex-direction: row;
  justify-content: space-between;
}

form#createVendor .page1 .pageItem > div > div {
  padding: 10px;
}

form#createVendor .page1 .pageItem > div:last-child textarea {
  padding: 5px;
}

form#createVendor .page1 .pageItem > div:last-child img {
  background: #f2f2f2;
}

form#createVendor .page1 .pageItem > div:last-child textarea, form#createVendor .page1 .pageItem > div:last-child img {
  background-color: #f2f2f2;
  resize: none;
  border: 0px;
  border-radius: 5px;
  height: 150px;
  width: 250px;
}

form#createVendor .page1 .pageItem > div:last-child > div {
  padding: 10px;
}

form#createVendor .page1 .pageItem .putheadhere {
  position: relative;
  font-size: 0;
}

form#createVendor .page1 .pageItem .putheadhere img {
  object-fit: cover;
}

form#createVendor .page1 .pageItem .putheadhere label[for="myHead"] {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background: #f2f2f2;
  border-radius: 5px;
}

form#createVendor .page1 .pageItem .putheadhere label[for="myHead"] span {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  background: #4db7fe;
  border-radius: 100px;
  width: 30%;
  height: 20%;
}

form#createVendor .page1 .pageItem input[type="text"], form#createVendor .page1 .pageItem .selectcontrol {
  width: 250px;
}

form#createVendor .page2 .pageItem {
  padding: 50px;
  flex-wrap: initial;
}

form#createVendor .page2 .pageItem .meal {
  margin: 10px;
  flex-wrap: wrap;
}

form#createVendor .page2 .pageItem .mealtextwrap {
  min-width: 80%;
  flex-direction: row;
  justify-content: space-between;
}

form#createVendor .page2 .pageItem > div {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

form#createVendor .page2 .pageItem input[type="text"], form#createVendor .page2 .pageItem .selectcontrol {
  width: 120px;
  text-align: center;
}

form#createVendor .page2 .pageItem .putmealhere {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

form#createVendor .page2 .pageItem .putmealhere img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

form#createVendor .page2 .pageItem .putmealhere label {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4db7fe;
}

form#createVendor .page2 .pageItem .putmealhere label span {
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form#createVendor .page2 .pageItem div.addBtn {
  justify-content: start;
}

form#createVendor .page2 .pageItem div.addBtn input#addBtn {
  display: inline-block;
}

.container #createVendor[data-page="1"] .page:nth-child(1),
.container #createVendor[data-page="2"] .page:nth-child(2),
.container #createVendor[data-page="3"] .page:nth-child(3),
.container #createVendor[data-page="5"] .page:nth-child(4) {
  display: flex;
}

.container #createVendor[data-page="4"] .page:nth-child(1),
.container #createVendor[data-page="4"] .page:nth-child(2),
.container #createVendor[data-page="4"] .page:nth-child(3) {
  display: flex;
}

.container #createVendor[data-page="1"] .stepwrap[data-page="1"],
.container #createVendor[data-page="2"] .stepwrap[data-page="2"],
.container #createVendor[data-page="3"] .stepwrap[data-page="3"],
.container #createVendor[data-page="4"] .stepwrap[data-page="4"],
.container #createVendor[data-page="5"] .stepwrap[data-page="5"] {
  background-image: url(../img/green.png);
}

.container .ctrlBtns button[disabled] {
  visibility: hidden;
}

@media screen and (max-width: 665px) {
  form#createVendor .page1 .pageItem, form#createVendor .page2 .pageItem, form#createVendor .page3 .pageItem, form#createVendor .page5 .pageItem {
    padding: 10px;
  }
  form#createVendor .page1 .pageItem > div {
    justify-content: center;
  }
}

@media screen and (max-width: 578px) {
  form#createVendor .page2 .putmealhere, form#createVendor .page2 input, form#createVendor .page2 .selectcontrol {
    margin-bottom: 5px;
  }
  form#createVendor .page2 .mealtextwrap {
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  form#createVendor .page.page2 .meal, form#createVendor .page.page2 .mealtextwrap {
    flex-direction: column;
  }
  form#createVendor .page.page2 .mealtextwrap {
    align-items: center;
  }
}

@media screen and (max-width: 310px) {
  form#createVendor .page1 > div > div {
    display: block;
  }
  form#createVendor .page1 input[type="text"], form#createVendor .page1 .selectcontrol, form#createVendor .page1 .selectnav,
  form#createVendor .page1 textarea, form#createVendor .page1 img {
    width: 100% !important;
  }
}
/*# sourceMappingURL=create.css.map */