@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  outline: none;
  background-color: transparent;
}

body {
  font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif;
  font-weight: 600;
}

.btn-cir_pk1 {
  font-size: 18px;
  color: #fff;
  background-color: #FF6B6B;
  border: 1.5px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.btn-cir_pk1:hover {
  background-color: transparent;
  border: 1.5px solid #FF6B6B;
  color: #FF6B6B;
  transition: ease-out 0.3s;
}

.btn-cir_pk2 {
  font-size: 18px;
  color: #fff;
  background-color: #FF6B6B;
  border: 1.5px solid transparent;
  width: 100px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.btn-cir_pk2:hover {
  background-color: transparent;
  border: 1.5px solid #FF6B6B;
  color: #FF6B6B;
  transition: ease-out 0.3s;
}

.btn-cir_gr1 {
  font-size: 18px;
  color: #fff;
  background-color: #2DC8A9;
  border: 1.5px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.btn-cir_gr1:hover {
  background-color: transparent;
  border: 1.5px solid #2DC8A9;
  color: #2DC8A9;
  transition: ease-out 0.3s;
}

.btn-cir_gr2 {
  font-size: 18px;
  color: #fff;
  background-color: #2DC8A9;
  border: 1.5px solid transparent;
  width: 100px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.btn-cir_gr2:hover {
  background-color: transparent;
  border: 1.5px solid #2DC8A9;
  color: #2DC8A9;
  transition: ease-out 0.3s;
}

.btn-rect_pk1 {
  font-size: 18px;
  color: #fff;
  background-color: #FF6B6B;
  border: 1.5px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_pk1:hover {
  background-color: transparent;
  border: 1.5px solid #FF6B6B;
  color: #FF6B6B;
  transition: ease-out 0.3s;
}

.btn-rect_pk2 {
  font-size: 18px;
  color: #fff;
  background-color: #FF6B6B;
  border: 1.5px solid transparent;
  width: 110px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_pk2:hover {
  background-color: transparent;
  border: 1.5px solid #FF6B6B;
  color: #FF6B6B;
  transition: ease-out 0.3s;
}

.btn-rect_gr1 {
  font-size: 18px;
  color: #fff;
  background-color: #2DC8A9;
  border: 1.5px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_gr1:hover {
  background-color: transparent;
  border: 1.5px solid #2DC8A9;
  color: #2DC8A9;
  transition: ease-out 0.3s;
}

.btn-rect_gr2 {
  font-size: 18px;
  color: #fff;
  background-color: #2DC8A9;
  border: 1.5px solid transparent;
  width: 110px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_gr2:hover {
  background-color: transparent;
  border: 1.5px solid #2DC8A9;
  color: #2DC8A9;
  transition: ease-out 0.3s;
}

.btn-cir_bl {
  font-size: 18px;
  color: #fff;
  background-color: #4db7fe;
  border: 1.5px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.btn-cir_bl:hover {
  background-color: transparent;
  border: 1.5px solid #4db7fe;
  color: #4db7fe;
  transition: ease-out 0.3s;
}

.btn-rect_bl1 {
  font-size: 18px;
  color: #fff;
  background-color: #4db7fe;
  border: 1.5px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_bl1:hover {
  background-color: transparent;
  border: 1.5px solid #4db7fe;
  color: #4db7fe;
  transition: ease-out 0.3s;
}

.btn-rect_bl2 {
  font-size: 18px;
  color: #fff;
  background-color: #4db7fe;
  border: 1.5px solid transparent;
  width: 110px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_bl2:hover {
  background-color: transparent;
  border: 1.5px solid #4db7fe;
  color: #4db7fe;
  transition: ease-out 0.3s;
}

.go-order-btn {
  font-size: 20PX;
  color: #fff;
  background-color: #F36E30;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
}

.speak_box {
  color: #000000;
  background-color: #fff;
  width: 160px;
  height: 70px;
  line-height: 70px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.triangle_L::after {
  content: '';
  border-color: #fff transparent transparent transparent;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 0 0;
  position: absolute;
  bottom: -15px;
  left: 40px;
}

.triangle_R::after {
  content: '';
  border-color: transparent #fff transparent transparent;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 0;
  position: absolute;
  bottom: -15px;
  right: 40px;
}

.d-flex {
  display: flex;
}

.d-display {
  display: inline;
}

.flex-direction-r {
  flex-direction: row-reverse;
}

.justify-content-s {
  justify-content: space-between;
}

.justify-content-a {
  justify-content: space-around;
}

.justify-content-c {
  justify-content: center;
}

.justify-content-d {
  justify-content: flex-end;
}

.align-items-c {
  align-items: center;
}

.mb-1 {
  margin-bottom: 100px;
}

.mb-2 {
  margin-bottom: 30px;
}

.mb-3 {
  margin-bottom: 20px;
}

.mb-4 {
  margin-bottom: 8px;
}

.ml-1 {
  margin-left: 20px;
}

.mr-1 {
  margin-right: 30px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pl-1 {
  padding-left: 20px;
}

.pl-2 {
  padding-left: 100px;
}

.pt-1 {
  padding-top: 180px;
}

.mt-1 {
  margin-top: 20px;
}

.mt-2 {
  margin-top: 40px;
}

/*全域樣式*/
/*color*/
.card_order-btn {
  font-size: 14PX;
  color: #fff;
  background-color: #F36E30;
  width: 70px;
  height: 30px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
}

.card_order-btn a {
  text-decoration: none;
  color: #fff;
}

.card_order-btn:hover {
  background-color: #4DB7FE;
  transition: ease-out 0.4s;
}

.card_plan-btn {
  font-size: 16PX;
  color: #fff;
  background-color: #F36E30;
  width: 80px;
  height: 30px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
}

.card_plan-btn:hover {
  background-color: #4DB7FE;
  transition: ease-out 0.4s;
}

.card_plan_X-btn {
  font-size: 16PX;
  color: #fff;
  background-color: #F36E30;
  width: 80px;
  height: 30px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
  display: none;
}

.card_plan_X-btn:hover {
  background-color: #4DB7FE;
  transition: ease-out 0.4s;
}

.shop_card {
  background-color: #fff;
  width: 31.5%;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.shop_card .card_img_2 {
  width: 100%;
  position: relative;
}

.shop_card .card_img_2::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  border-radius: 25px 25px 0 0;
  background: #fff;
  z-index: 2;
}

.shop_card .card_img_2 img {
  display: block;
  width: 100%;
  position: relative;
}

.shop_card .card_content_2 {
  margin: 0 20px;
  margin-bottom: 20px;
}

.shop_card .card_content_2 .card_warp {
  color: #707070;
  display: flex;
  justify-content: space-between;
}

.shop_card .card_content_2 .card_warp .card_score {
  display: flex;
  margin-top: 20px;
}

.shop_card .card_content_2 .card_warp .card_score .score_star i {
  display: block;
  font-size: 14px;
  color: #FACC39;
}

.shop_card .card_content_2 .card_warp .card_score .score_num {
  font-size: 14px;
  margin: 0 10px 0 5px;
}

.shop_card .card_content_2 .card_warp .card_score .score_num span {
  color: #333333;
}

.shop_card .card_content_2 .card_warp .card_score .score_comment {
  font-size: 14px;
}

.shop_card .card_content_2 .card_title {
  font-size: 22px;
  color: #333333;
}

.shop_card .card_img_2 img {
  height: auto;
}

.card_menu-btn {
  font-size: 16px;
  color: #fff;
  background-color: #134f6c;
  width: 80px;
  border-radius: 50px;
  height: 35px;
  text-align: center;
  margin: 0 8px;
}

.card_menu-btn:hover {
  background-color: #4DB7FE;
  transition: ease-out 0.4s;
  cursor: pointer;
}

.card_timenow-btn {
  font-size: 14px;
  color: #fff;
  background-color: #F75C96;
  width: 80px;
  border-radius: 50px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 0 8px;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.2);
}

.card_look_detail-btn {
  font-size: 16PX;
  color: #fff;
  background-color: #F36E30;
  width: 90px;
  height: 35px;
  border-radius: 6px;
  cursor: pointer;
}

.card_look_detail-btn:hover {
  background-color: #4DB7FE;
  transition: ease-out 0.4s;
}

.shop_card_lightbox {
  background-color: #fff;
  width: 440PX;
  height: 650px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  transform-origin: 0 0;
  transform: scale(0.4, 0.4);
  z-index: 10;
}

.shop_card_lightbox .card_img {
  width: 100%;
  position: relative;
}

.shop_card_lightbox .card_img::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  border-radius: 25px 25px 0 0;
  background: #fff;
  z-index: 10;
}

.shop_card_lightbox .card_img img {
  display: block;
  width: 100%;
  height: 310px;
  position: relative;
}

.shop_card_lightbox .card_img .heart_save {
  display: block;
  background-color: #F36E30;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  top: 15px;
  left: 15px;
}

.shop_card_lightbox .card_img .heart_save i {
  display: block;
  color: #fff;
  cursor: pointer;
}

.shop_card_lightbox .card_img .heart_save i:hover {
  color: #4DB7FE;
  font-weight: 900;
  transition: ease-out 0.3s;
}

.shop_card_lightbox .card_img .card_close {
  background-color: #fff;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.2);
  width: 50px;
  height: 50px;
  border-radius: 0 8px 0 8px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.shop_card_lightbox .card_img .card_close i {
  display: block;
  font-size: 30px;
  color: #4DB7FE;
}

.shop_card_lightbox .card_img .card_timenow-btn {
  position: absolute;
  bottom: 50px;
  right: 20px;
}

.shop_card_lightbox .card_content {
  margin: 0 20px;
  margin-bottom: 15px;
}

.shop_card_lightbox .card_content .card_warp {
  display: flex;
  justify-content: space-between;
}

.shop_card_lightbox .card_content .card_warp .card_score {
  display: flex;
}

.shop_card_lightbox .card_content .card_warp .card_score .score_num {
  color: #fff;
  background-color: #F36E30;
  width: 50px;
  height: 50px;
  line-height: 52px;
  border-radius: 10px;
  text-align: center;
  font-weight: 400;
}

.shop_card_lightbox .card_content .card_warp .card_score .score_con {
  margin-left: 15px;
}

.shop_card_lightbox .card_content .card_warp .card_score .score_con .score_star i {
  font-size: 16px;
  color: #FACC39;
}

.shop_card_lightbox .card_content .card_warp .card_score .score_con .score_comment {
  font-size: 16px;
  color: #333333;
  margin-top: 10px;
}

.shop_card_lightbox .card_content .card_title {
  font-size: 22px;
  color: #333333;
  margin-top: 15px;
}

.shop_card_lightbox .card_content .card_detail {
  color: #707070;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 20px 0;
}

.shop_card_lightbox .card_content .card_detail .card_text {
  line-height: 25px;
  margin: 20px 0;
}

.shop_card_lightbox .card_content .card_detail .card_time {
  line-height: 25px;
  margin: 20px 0;
}

.shop_card_lightbox .card_content .card_warp_btn {
  display: flex;
  justify-content: flex-end;
}

/*漢堡樣式*/
.navmenu .hamburger {
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.navmenu .hamburger:hover {
  opacity: 0.7;
}

.navmenu .hamburger:hover .hamburger-inner {
  background-color: #F36E30;
  transition: ease 0.25s;
}

.navmenu .hamburger:hover .hamburger-inner::before {
  background-color: #F36E30;
  transition: ease 0.25s;
}

.navmenu .hamburger:hover .hamburger-inner::after {
  background-color: #F36E30;
  transition: ease 0.25s;
}

.navmenu .hamburger.is-active:hover {
  opacity: 0.7;
}

.navmenu .hamburger.is-active:hover .hamburger-inner {
  background-color: #F36E30;
  transition: ease 0.25s;
}

.navmenu .hamburger.is-active:hover .hamburger-inner::before {
  background-color: #F36E30;
  transition: ease 0.25s;
}

.navmenu .hamburger.is-active:hover .hamburger-inner::after {
  background-color: #F36E30;
  transition: ease 0.25s;
}

.navmenu .hamburger.is-active .hamburger-inner,
.navmenu .hamburger.is-active .hamburger-inner::before,
.navmenu .hamburger.is-active .hamburger-inner::after {
  background-color: #333333;
}

.navmenu .hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.navmenu .hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px;
}

.navmenu .hamburger-inner, .navmenu .hamburger-inner::before, .navmenu .hamburger-inner::after {
  width: 20px;
  height: 4px;
  background-color: #333333;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.navmenu .hamburger-inner::before, .navmenu .hamburger-inner::after {
  content: "";
  display: block;
}

.navmenu .hamburger-inner::before {
  top: -8px;
}

.navmenu .hamburger-inner::after {
  bottom: -8px;
}

.navmenu .hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.navmenu .hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.navmenu .hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.navmenu .hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.navmenu .hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.navmenu .hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*主要樣式*/
.navmenu {
  position: fixed;
  width: 100%;
  z-index: 6;
  top: 0;
  font-size: 22px;
  background-color: #fff;
}

.navmenu .wrap {
  width: 100%;
  margin: auto;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navmenu .wrap .logo {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #333333;
  text-align: center;
}

.navmenu .wrap .logo .img {
  padding: 0 20px;
  height: 50px;
}

.navmenu .wrap .logo .img img {
  height: 100%;
  object-fit: cover;
}

.navmenu .wrap > div:last-child {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navmenu .wrap > div:last-child a {
  padding: 0 20px;
  color: #333333;
  text-decoration: none;
  display: inline-block;
}

.navmenu .wrap > div:last-child a:hover {
  color: #F36E30;
  transition: ease 0.25s;
}

.navmenu .wrap > div:last-child ul {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navmenu .wrap > div:last-child ul li {
  height: 70px;
  line-height: 70px;
  text-align: center;
}

.navmenu .wrap > div:last-child .hamburger {
  display: none;
}

/*導覽列>1200時，且scrollTop > 80  ●●●●●這是首頁的●●●●●*/
.navmenu.letmeout {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
}

.navmenu.bgTransparent {
  background-color: transparent !important;
}

.navmenu.bgTransparent .wrap ul a {
  color: white;
}

.navmenu.bgTransparent .wrap .rIcon a {
  color: white;
}

.navmenu.bgTransparent .wrap .rIcon a:hover {
  color: #F36E30;
}

@media screen and (max-width: 1200px) {
  .navmenu {
    background: #fff;
  }
  .navmenu .wrap .logo {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 0;
    align-self: start;
    justify-content: start;
    width: 100%;
    height: 70px;
    background-color: #fff;
  }
  .navmenu .wrap > div:last-child {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 70px;
  }
  .navmenu .wrap > div:last-child ul {
    position: fixed;
    top: 70px;
    z-index: 5;
    width: 100%;
    overflow: auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    margin-right: 0px;
    align-self: start;
    background: #fff;
    height: 100%;
    display: none;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .navmenu .wrap > div:last-child ul li {
    width: 100vw;
  }
  .navmenu .wrap > div:last-child ul li a {
    color: #000000;
    padding: 0;
    display: block;
  }
  .navmenu .wrap > div:last-child ul::-webkit-scrollbar {
    display: none !important;
  }
  .navmenu .wrap > div:last-child .rIcon {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 22px;
    right: 0;
    transition: 0.25s;
  }
  .navmenu .wrap > div:last-child .rIcon a {
    color: #000000;
  }
  .navmenu .wrap > div:last-child .rIcon a:hover {
    color: #F36E30;
    transition: ease 0.25s;
  }
  .navmenu .wrap > div:last-child .rIcon .hamburger {
    display: inline-block;
  }
}

html, body {
  position: relative;
}

.footer {
  font-size: 16px;
  background-color: #F36E30;
  width: 100%;
  margin-top: 40px;
}

.footer .wrap {
  max-width: 1200px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
}

#home {
  /*下面這是banner的*/
}

#home .section .slider {
  position: relative;
  overflow: hidden;
}

#home .section .slider ul.slides {
  position: relative;
  list-style: none;
  display: flex;
}

#home .section .slider ul.slides li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  text-align: center;
  overflow: hidden;
}

#home .section .slider .steps {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-67%);
}

#home .section .slider .steps li {
  transition: .3s;
  list-style: none;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
  opacity: 0.5;
  cursor: pointer;
}

#home .section .slider a.control_prev, #home .section .slider a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

#home .section .slider a.control_next {
  right: 0;
}

#home .section:nth-child(2) {
  position: relative;
}

#home .section:nth-child(2) .slider .slides {
  width: 300vw;
}

#home .section:nth-child(2) .slider .slides li {
  width: 99vw;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

#home .section:nth-child(2) .slider .slides li .banner {
  height: 60%;
}

#home .section:nth-child(2) .slider .slides li .banner .scroll_banner {
  height: 100%;
  object-fit: cover;
}

#home .section:nth-child(2) .slider .slides li .banbmimg {
  height: 40%;
  overflow: hidden;
}

#home .section:nth-child(2) .slider .slides li .banbmimg img {
  height: 100%;
  object-fit: cover;
}

#home .section:nth-child(2) .slider .steps {
  left: initial;
  right: 20px;
  bottom: 40px;
}

#home .section:nth-child(2) .scrollDownBtn {
  cursor: pointer;
  color: black;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes scrollDown {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

#home .section:nth-child(2) .scrollDownBtn .txt {
  font-weight: 900;
}

#home .section:nth-child(2) .scrollDownBtn .img {
  width: 15px;
  height: 30px;
  border: 3px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home .section:nth-child(2) .scrollDownBtn .img::after {
  content: '';
  animation: scrollDown 2s infinite 2s;
  position: absolute;
  width: 3px;
  height: 10px;
  background: #000;
  border-radius: 15px;
  top: 10%;
}

#home .slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

#home {
  position: relative;
  background-color: #f7f7f7;
}

#home .hellowell {
  display: none;
  position: absolute;
  z-index: 3;
  flex-shrink: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 99, 71, 0.6);
}

#home .section {
  position: relative;
}

#home .section li .banner {
  width: 100%;
  position: relative;
  background-image: url(../img/home/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

#home .section li .banner .banner_content {
  margin-left: 40px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

#home .section li .banner .banner_content .banner_title {
  text-align: left;
  font-size: 50px;
}

#home .section li .banner .banner_content .banner_text {
  text-align: left;
  font-size: 40px;
  margin-top: 20px;
}

#home .section li .banner .banner_content .banner_text2 {
  text-align: left;
  font-size: 24px;
  width: 550px;
  line-height: 30px;
  margin: 15px 0;
  opacity: 0.9;
}

#home .section li .banner .banner_circle {
  position: absolute;
  bottom: 0px;
  max-height: 33.33%;
  max-width: 50%;
  left: 50%;
  transform: translateX(-50%);
}

#home .section li .banner .circle_content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#home .section li .banner .circle_content .clrcel_num {
  color: #F36E30;
  font-size: 8em;
}

#home .section li .banner .circle_content .circle_text {
  font-size: 3em;
}

#home .section li .banner .circle_content .circle_text2 {
  font-size: 2.5em;
  margin-top: 5px;
}

#home .section li .banbmimg {
  display: flex;
  align-items: flex-end;
}

#home .section li .banbmimg3 img {
  height: 50%;
  object-fit: cover;
}

#home .container {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
}

#home .container .ad {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

#home .container .ad .ad_img {
  width: 48%;
  height: 150px;
}

#home .container .ad .ad_img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#home .container .hot_shop .title_warp, #home .container .new_shop .title_warp {
  display: flex;
  justify-content: space-between;
}

#home .container .hot_shop .title_warp .shop_card_title, #home .container .new_shop .title_warp .shop_card_title {
  font-size: 28px;
}

#home .container .hot_shop .title_warp .change-btn, #home .container .new_shop .title_warp .change-btn {
  display: flex;
}

#home .container .hot_shop .title_warp .change-btn .shop_card_prve-btn, #home .container .hot_shop .title_warp .change-btn .shop_card_next-btn, #home .container .new_shop .title_warp .change-btn .shop_card_prve-btn, #home .container .new_shop .title_warp .change-btn .shop_card_next-btn {
  font-size: 20px;
  background-color: #E6E6E6;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-left: 20px;
  cursor: pointer;
}

#home .container .hot_shop .tripleImgWrap, #home .container .new_shop .tripleImgWrap {
  max-width: 1200px;
}

#home .container .hot_shop .shop_card_list, #home .container .new_shop .shop_card_list {
  display: flex;
  margin-bottom: 80px;
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#home .container .hot_shop .shop_card_list::-webkit-scrollbar, #home .container .new_shop .shop_card_list::-webkit-scrollbar {
  display: none;
}

#home .container .hot_shop .shop_card_list .shop_card, #home .container .new_shop .shop_card_list .shop_card {
  min-width: calc(100%/3 - 20px);
  /*因為margin左右20*/
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 0;
}

#home .container .hot_shop .shop_card_list .shop_card img, #home .container .new_shop .shop_card_list .shop_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#home .container .hot_shop .shop_card_list .shop_card:first-child, #home .container .new_shop .shop_card_list .shop_card:first-child {
  margin-left: 0;
  min-width: calc(100%/3 - 10px);
}

#home .container .hot_shop .shop_card_list .shop_card:last-child, #home .container .new_shop .shop_card_list .shop_card:last-child {
  margin-right: 0;
  min-width: calc(100%/3 - 10px);
}

#home .container .plan {
  margin-bottom: 80px;
}

#home .container .plan a {
  color: #000;
  text-decoration: none;
}

#home .container .plan .plan_title {
  font-size: 28px;
}

#home .container .plan .plan_title_text {
  font-size: 22px;
  margin-top: 20px;
}

#home .container .plan .plan_content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#home .container .plan .plan_content .plan_route_warp {
  display: flex;
  position: relative;
}

#home .container .plan .plan_content .plan_route_warp .section {
  width: 100%;
}

#home .container .plan .plan_content .plan_route_warp .section .slider2 {
  height: 450px;
  width: 100%;
  max-width: 1200px;
}

#home .container .plan .plan_content .plan_route_warp .section .slider2 ul.slides {
  display: flex;
}

#home .container .plan .plan_content .plan_route_warp .section .slider2 ul.slides li {
  flex-shrink: 0;
}

#home .container .plan .plan_content .plan_route_warp .section .slider2 ul.slides li .plan_img {
  font-size: 0;
  width: 65%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

#home .container .plan .plan_content .plan_route_warp .section .slider2 ul.slides li .plan_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#home .container .plan .plan_content .plan_route_warp .section .slider2 ul.slides li .plan_route_list {
  height: 100%;
  width: 30.5%;
  margin-left: 40px;
  display: flex;
}

#home .container .plan .plan_content .plan_route_warp .section .slider2 ul.slides li .plan_route_list .dragwrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#home .container .plan .plan_content .plan_route_warp .section .slider2 ul.slides li .plan_route_list .dragwrap .plan_route {
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  position: relative;
  height: calc(20% - 10px);
  padding-left: 20px;
  padding-right: 20%;
  margin-right: 12px;
  cursor: pointer;
  /*&::after{
                            content: '\f105';
                            font-family: 'FontAwesome';
                            font-size: 30px;
                            color: $text-color-5;
                            background-color: $white-color;
                            width: 35px;
                            height: 35px;
                            line-height: 35px;
                            text-align: center;
                            border-radius: 50px;
                            box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08);
                            position: absolute;
                            right: -15px;
                          }
                          &:hover{
                            &::after{
                              background: $text-color-5;
                              color: $white-color;
                            }
                          }*/
}

#home .container .plan .plan_content .plan_route_warp .section .slider2 ul.slides li .plan_route_list .dragwrap .plan_route > div {
  padding-top: 20%;
  width: 20%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

#home .container .plan .plan_content .plan_route_warp .section .slider2 ul.slides li .plan_route_list .dragwrap .plan_route > div img {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

#home .container .plan .plan_content .plan_route_warp .section .slider2 ul.slides li .plan_route_list .dragwrap .plan_route span {
  font-size: 22px;
  margin-left: 10px;
  white-space: nowrap;
}

#home .container .plan .plan_content .plan_route_text {
  margin-top: 20px;
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#home .container .plan .plan_content .plan_route_text .plan_route_ttitle {
  position: relative;
  margin: 0 50px;
}

#home .container .plan .plan_content .plan_route_text .plan_route_ttitle .plan_change-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home .container .plan .plan_content .plan_route_text .plan_route_ttitle .plan_change-btn .plan_prev-btn,
#home .container .plan .plan_content .plan_route_text .plan_route_ttitle .plan_change-btn .plan_next-btn {
  position: absolute;
  margin: 0 5px;
  top: 50%;
  transform: translateY(-50%);
}

#home .container .plan .plan_content .plan_route_text .plan_route_ttitle .plan_change-btn .plan_prev-btn i,
#home .container .plan .plan_content .plan_route_text .plan_route_ttitle .plan_change-btn .plan_next-btn i {
  font-size: 28px;
  color: #fff;
  background-color: #F36E30;
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 100px;
  text-align: center;
  cursor: pointer;
}

#home .container .plan .plan_content .plan_route_text .plan_route_ttitle .plan_change-btn .plan_prev-btn i:hover,
#home .container .plan .plan_content .plan_route_text .plan_route_ttitle .plan_change-btn .plan_next-btn i:hover {
  background-color: #000;
  transition: ease-out 0.3s;
}

#home .container .plan .plan_content .plan_route_text .plan_route_ttitle .plan_change-btn .plan_prev-btn {
  left: -50px;
  top: 50%;
}

#home .container .plan .plan_content .plan_route_text .plan_route_ttitle .plan_change-btn .plan_next-btn {
  right: -50px;
  top: 50%;
}

#home .container .plan .plan_content .plan_route_text .plan_route_ttitle .littleText {
  overflow: hidden;
  width: 200px;
}

#home .container .plan .plan_content .plan_route_text .plan_route_ttitle .littleText ul {
  display: flex;
  width: 600px;
}

#home .container .plan .plan_content .plan_route_text .plan_route_ttitle .littleText ul li {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home .container .plan .plan_content .plan_route_text .plan_route_ttitle .littleText ul li span {
  font-size: 22px;
  padding-bottom: 8px;
  border-bottom: 3px solid #F36E30;
  margin: auto;
  text-align: center;
}

#home .container .plan .plan_content .plan_route_text .plan_route_btn {
  font-size: 18px;
  color: #fff;
  background-color: #F36E30;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid #F36E30;
  cursor: pointer;
}

#home .container .plan .plan_content .plan_route_text .plan_route_btn::before {
  content: '\f067';
  font-family: 'FontAwesome';
  padding: 0 8px 0 2px;
}

#home .container .plan .plan_content .plan_route_text .plan_route_btn:hover {
  color: #F36E30;
  background-color: transparent;
  border: 2px solid #F36E30;
  transition: ease-out 0.4s;
}

#home .container .plan .plan_content .plan_route_text .plan_route_btn:hover a {
  color: #F36E30;
}

#home .container .plan .plan_content .plan_route_text .plan_route_btn a {
  text-decoration: none;
  color: #fff;
}

#home .container .select {
  margin-bottom: 80px;
  position: relative;
}

#home .container .select .food_img {
  width: 100%;
  background-color: #fcdfd3;
}

#home .container .select .select_content {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-100px);
}

#home .container .select .select_content .select_content_text {
  font-size: 24px;
}

#home .container .select .select_content .select-btn {
  font-size: 18px;
  color: #fff;
  background-color: #000;
  width: 120px;
  height: 40px;
  text-align: center;
  border-radius: 100px;
  margin-top: 20px;
  cursor: pointer;
}

#home .container .choose_shuffle_frame {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

#home .container .choose_shuffle_frame .frame.show {
  display: flex;
  justify-content: center;
  margin-top: 450px;
  animation: stage_03_all 2s ease-in-out;
  animation-delay: 5s;
  z-index: 3;
}

#home .container .choose_shuffle_frame .frame {
  display: flex;
  justify-content: center;
  margin-top: 450px;
  z-index: 3;
}

#home .container .choose_shuffle_frame #card01.show {
  position: absolute;
  width: 10%;
  animation: stage_01 4s ease-in,stage_02_card01 1s ease-in,stage_04_card01 1s ease-in,stage_05_card01 1s ease-in;
  animation-delay: 0s,3s,6s,7.3s;
  animation-fill-mode: forwards;
  transition: 0.5s ease-in;
}

#home .container .choose_shuffle_frame #card02.show {
  position: absolute;
  width: 10%;
  animation: stage_01 4s ease-in,stage_02_card02 1s ease-in,stage_04_card02 1s ease-in,stage_05_card02 1s ease-in;
  animation-delay: 0s,3s,6s,7.4s;
  animation-fill-mode: forwards;
  transition: 0.5s ease-in;
}

#home .container .choose_shuffle_frame #card03.show {
  position: absolute;
  width: 10%;
  animation: stage_01 4s ease-in,stage_02_card03 1s ease-in,stage_04_card03 1s ease-in,stage_05_card03 1s ease-in;
  animation-delay: 0s,3s,6s,7.5s;
  animation-fill-mode: forwards;
  transition: 0.5s ease-in;
}

#home .container .choose_shuffle_frame #card04.show {
  position: absolute;
  width: 10%;
  animation: stage_01 4s ease-in,stage_02_card04 1s ease-in,stage_04_card04 1s ease-in,stage_05_card04 1s ease-in;
  animation-delay: 0s,3s,6s,7.6s;
  animation-fill-mode: forwards;
  transition: 0.5s ease-in;
}

#home .container .choose_shuffle_frame #card05.show {
  position: absolute;
  width: 10%;
  animation: stage_01 4s ease-in,stage_02_card05 1s ease-in,stage_04_card05 1s ease-in,stage_05_card05 1s ease-in;
  animation-delay: 0s,3s,6s,7.7s;
  animation-fill-mode: forwards;
  transition: 0.5s ease-in;
}

#home .container .choose_shuffle_frame #card06.show {
  position: absolute;
  width: 10%;
  animation: stage_01 4s ease-in,stage_02_card06 1s ease-in,stage_04_card06 1s ease-in,stage_05_card06 1s ease-in;
  animation-delay: 0s,3s,6s,7.8s;
  animation-fill-mode: forwards;
  transition: 0.5s ease-in;
}

#home .container .choose_shuffle_frame #card07.show {
  position: absolute;
  width: 10%;
  animation: stage_01 4s ease-in,stage_02_card07 1s ease-in,stage_04_card07 1s ease-in,stage_05_card07 1s ease-in;
  animation-delay: 0s,3s,6s,7.9s;
  animation-fill-mode: forwards;
  transition: 0.5s ease-in;
}

#home .container .choose_shuffle_frame #card08.show {
  position: absolute;
  width: 10%;
  animation: stage_01 4s ease-in,stage_02_card08 1s ease-in,stage_04_card08 1s ease-in,stage_05_card08 1s ease-in;
  animation-delay: 0s,3s,6s,8s;
  animation-fill-mode: forwards;
  transition: 0.5s ease-in;
}

#home .container .choose_shuffle_frame #card09.show {
  position: absolute;
  width: 10%;
  animation: stage_01 4s ease-in,stage_02_card09 1s ease-in,stage_04_card09 1s ease-in,stage_05_card09 1s ease-in;
  animation-delay: 0s,3s,6s,8.1s;
  animation-fill-mode: forwards;
  transition: 0.5s ease-in;
}

#home .container .choose_shuffle_frame #card10.show {
  position: absolute;
  width: 10%;
  animation: stage_01 4s ease-in,stage_02_card10 1s ease-in,stage_04_card10 1s ease-in,stage_05_card10 1s ease-in;
  animation-delay: 0s,3s,6s,8.2s;
  animation-fill-mode: forwards;
  transition: 0.5s ease-in;
}

#home .container .choose_shuffle_frame #card11.show {
  position: absolute;
  width: 10%;
  animation: stage_01_11_12_13 4s ease-in,stage_02_card11_12_13 1s ease-in,stage_04_card11_12_13 1s ease-in,stage_05_card11 3.5s ease-in;
  animation-delay: 0s,3s,6s,5s,14s;
  animation-fill-mode: forwards;
  transition: 0.5s ease-in;
}

#home .container .choose_shuffle_frame #card12.show {
  position: absolute;
  width: 10%;
  animation: stage_01_11_12_13 4s ease-in,stage_02_card11_12_13 1s ease-in,stage_04_card11_12_13 1s ease-in,stage_05_card12 3.8s ease-in;
  animation-delay: 0s,3s,6s,5s,14s;
  animation-fill-mode: forwards;
  transition: 0.5s ease-in;
}

#home .container .choose_shuffle_frame #card13.show {
  position: absolute;
  width: 10%;
  animation: stage_01_11_12_13 4s ease-in,stage_02_card11_12_13 1s ease-in,stage_04_card11_12_13 1s ease-in,stage_05_card13 4.1s ease-in;
  animation-delay: 0s,3s,6s,5s,14s;
  animation-fill-mode: forwards;
  transition: 0.5s ease-in;
}

#home .container .choose_shuffle_frame #card01,
#home .container .choose_shuffle_frame #card02,
#home .container .choose_shuffle_frame #card03,
#home .container .choose_shuffle_frame #card04,
#home .container .choose_shuffle_frame #card05,
#home .container .choose_shuffle_frame #card06,
#home .container .choose_shuffle_frame #card07,
#home .container .choose_shuffle_frame #card08,
#home .container .choose_shuffle_frame #card09,
#home .container .choose_shuffle_frame #card10,
#home .container .choose_shuffle_frame #card11,
#home .container .choose_shuffle_frame #card12,
#home .container .choose_shuffle_frame #card13 {
  position: absolute;
  width: 10%;
  opacity: 0;
  display: inline-block;
}

#home .container .choose_shuffle_frame #card01 .cont01,
#home .container .choose_shuffle_frame #card02 .cont01,
#home .container .choose_shuffle_frame #card03 .cont01,
#home .container .choose_shuffle_frame #card04 .cont01,
#home .container .choose_shuffle_frame #card05 .cont01,
#home .container .choose_shuffle_frame #card06 .cont01,
#home .container .choose_shuffle_frame #card07 .cont01,
#home .container .choose_shuffle_frame #card08 .cont01,
#home .container .choose_shuffle_frame #card09 .cont01,
#home .container .choose_shuffle_frame #card10 .cont01,
#home .container .choose_shuffle_frame #card11 .cont01,
#home .container .choose_shuffle_frame #card12 .cont01,
#home .container .choose_shuffle_frame #card13 .cont01 {
  width: 120px;
  height: 200px;
  margin: 0 auto;
  background-color: #F36E30;
  border: 2px solid white;
}

#home .container .choose_shuffle_frame #card01 .cont02,
#home .container .choose_shuffle_frame #card02 .cont02,
#home .container .choose_shuffle_frame #card03 .cont02,
#home .container .choose_shuffle_frame #card04 .cont02,
#home .container .choose_shuffle_frame #card05 .cont02,
#home .container .choose_shuffle_frame #card06 .cont02,
#home .container .choose_shuffle_frame #card07 .cont02,
#home .container .choose_shuffle_frame #card08 .cont02,
#home .container .choose_shuffle_frame #card09 .cont02,
#home .container .choose_shuffle_frame #card10 .cont02,
#home .container .choose_shuffle_frame #card11 .cont02,
#home .container .choose_shuffle_frame #card12 .cont02,
#home .container .choose_shuffle_frame #card13 .cont02 {
  width: 120px;
  height: 200px;
  margin: 0 auto;
  background-color: #F36E30;
  border: 2px solid white;
}

#home .container .choose_shuffle_frame #card01 .cont03,
#home .container .choose_shuffle_frame #card02 .cont03,
#home .container .choose_shuffle_frame #card03 .cont03,
#home .container .choose_shuffle_frame #card04 .cont03,
#home .container .choose_shuffle_frame #card05 .cont03,
#home .container .choose_shuffle_frame #card06 .cont03,
#home .container .choose_shuffle_frame #card07 .cont03,
#home .container .choose_shuffle_frame #card08 .cont03,
#home .container .choose_shuffle_frame #card09 .cont03,
#home .container .choose_shuffle_frame #card10 .cont03,
#home .container .choose_shuffle_frame #card11 .cont03,
#home .container .choose_shuffle_frame #card12 .cont03,
#home .container .choose_shuffle_frame #card13 .cont03 {
  width: 120px;
  height: 200px;
  margin: 0 auto;
  background-color: #F36E30;
  border: 2px solid white;
}

#home .container .choose_shuffle_frame #card01 .cont04,
#home .container .choose_shuffle_frame #card02 .cont04,
#home .container .choose_shuffle_frame #card03 .cont04,
#home .container .choose_shuffle_frame #card04 .cont04,
#home .container .choose_shuffle_frame #card05 .cont04,
#home .container .choose_shuffle_frame #card06 .cont04,
#home .container .choose_shuffle_frame #card07 .cont04,
#home .container .choose_shuffle_frame #card08 .cont04,
#home .container .choose_shuffle_frame #card09 .cont04,
#home .container .choose_shuffle_frame #card10 .cont04,
#home .container .choose_shuffle_frame #card11 .cont04,
#home .container .choose_shuffle_frame #card12 .cont04,
#home .container .choose_shuffle_frame #card13 .cont04 {
  width: 120px;
  height: 200px;
  margin: 0 auto;
  background-color: #F36E30;
  border: 2px solid white;
}

#home .container .choose_shuffle_frame #card01 .cont05,
#home .container .choose_shuffle_frame #card02 .cont05,
#home .container .choose_shuffle_frame #card03 .cont05,
#home .container .choose_shuffle_frame #card04 .cont05,
#home .container .choose_shuffle_frame #card05 .cont05,
#home .container .choose_shuffle_frame #card06 .cont05,
#home .container .choose_shuffle_frame #card07 .cont05,
#home .container .choose_shuffle_frame #card08 .cont05,
#home .container .choose_shuffle_frame #card09 .cont05,
#home .container .choose_shuffle_frame #card10 .cont05,
#home .container .choose_shuffle_frame #card11 .cont05,
#home .container .choose_shuffle_frame #card12 .cont05,
#home .container .choose_shuffle_frame #card13 .cont05 {
  width: 120px;
  height: 200px;
  margin: 0 auto;
  background-color: #F36E30;
  border: 2px solid white;
}

#home .container .choose_shuffle_frame #card01 .cont06,
#home .container .choose_shuffle_frame #card02 .cont06,
#home .container .choose_shuffle_frame #card03 .cont06,
#home .container .choose_shuffle_frame #card04 .cont06,
#home .container .choose_shuffle_frame #card05 .cont06,
#home .container .choose_shuffle_frame #card06 .cont06,
#home .container .choose_shuffle_frame #card07 .cont06,
#home .container .choose_shuffle_frame #card08 .cont06,
#home .container .choose_shuffle_frame #card09 .cont06,
#home .container .choose_shuffle_frame #card10 .cont06,
#home .container .choose_shuffle_frame #card11 .cont06,
#home .container .choose_shuffle_frame #card12 .cont06,
#home .container .choose_shuffle_frame #card13 .cont06 {
  width: 120px;
  height: 200px;
  margin: 0 auto;
  background-color: #F36E30;
  border: 2px solid white;
}

#home .container .choose_shuffle_frame #card01 .cont07,
#home .container .choose_shuffle_frame #card02 .cont07,
#home .container .choose_shuffle_frame #card03 .cont07,
#home .container .choose_shuffle_frame #card04 .cont07,
#home .container .choose_shuffle_frame #card05 .cont07,
#home .container .choose_shuffle_frame #card06 .cont07,
#home .container .choose_shuffle_frame #card07 .cont07,
#home .container .choose_shuffle_frame #card08 .cont07,
#home .container .choose_shuffle_frame #card09 .cont07,
#home .container .choose_shuffle_frame #card10 .cont07,
#home .container .choose_shuffle_frame #card11 .cont07,
#home .container .choose_shuffle_frame #card12 .cont07,
#home .container .choose_shuffle_frame #card13 .cont07 {
  width: 120px;
  height: 200px;
  margin: 0 auto;
  background-color: #F36E30;
  border: 2px solid white;
}

#home .container .choose_shuffle_frame #card01 .cont08,
#home .container .choose_shuffle_frame #card02 .cont08,
#home .container .choose_shuffle_frame #card03 .cont08,
#home .container .choose_shuffle_frame #card04 .cont08,
#home .container .choose_shuffle_frame #card05 .cont08,
#home .container .choose_shuffle_frame #card06 .cont08,
#home .container .choose_shuffle_frame #card07 .cont08,
#home .container .choose_shuffle_frame #card08 .cont08,
#home .container .choose_shuffle_frame #card09 .cont08,
#home .container .choose_shuffle_frame #card10 .cont08,
#home .container .choose_shuffle_frame #card11 .cont08,
#home .container .choose_shuffle_frame #card12 .cont08,
#home .container .choose_shuffle_frame #card13 .cont08 {
  width: 120px;
  height: 200px;
  margin: 0 auto;
  background-color: #F36E30;
  border: 2px solid white;
}

#home .container .choose_shuffle_frame #card01 .cont09,
#home .container .choose_shuffle_frame #card02 .cont09,
#home .container .choose_shuffle_frame #card03 .cont09,
#home .container .choose_shuffle_frame #card04 .cont09,
#home .container .choose_shuffle_frame #card05 .cont09,
#home .container .choose_shuffle_frame #card06 .cont09,
#home .container .choose_shuffle_frame #card07 .cont09,
#home .container .choose_shuffle_frame #card08 .cont09,
#home .container .choose_shuffle_frame #card09 .cont09,
#home .container .choose_shuffle_frame #card10 .cont09,
#home .container .choose_shuffle_frame #card11 .cont09,
#home .container .choose_shuffle_frame #card12 .cont09,
#home .container .choose_shuffle_frame #card13 .cont09 {
  width: 120px;
  height: 200px;
  margin: 0 auto;
  background-color: #F36E30;
  border: 2px solid white;
}

#home .container .choose_shuffle_frame #card01 .cont10,
#home .container .choose_shuffle_frame #card02 .cont10,
#home .container .choose_shuffle_frame #card03 .cont10,
#home .container .choose_shuffle_frame #card04 .cont10,
#home .container .choose_shuffle_frame #card05 .cont10,
#home .container .choose_shuffle_frame #card06 .cont10,
#home .container .choose_shuffle_frame #card07 .cont10,
#home .container .choose_shuffle_frame #card08 .cont10,
#home .container .choose_shuffle_frame #card09 .cont10,
#home .container .choose_shuffle_frame #card10 .cont10,
#home .container .choose_shuffle_frame #card11 .cont10,
#home .container .choose_shuffle_frame #card12 .cont10,
#home .container .choose_shuffle_frame #card13 .cont10 {
  width: 120px;
  height: 200px;
  margin: 0 auto;
  background-color: #F36E30;
  border: 2px solid white;
}

#home .container .choose_shuffle_frame #card01 .cont11,
#home .container .choose_shuffle_frame #card02 .cont11,
#home .container .choose_shuffle_frame #card03 .cont11,
#home .container .choose_shuffle_frame #card04 .cont11,
#home .container .choose_shuffle_frame #card05 .cont11,
#home .container .choose_shuffle_frame #card06 .cont11,
#home .container .choose_shuffle_frame #card07 .cont11,
#home .container .choose_shuffle_frame #card08 .cont11,
#home .container .choose_shuffle_frame #card09 .cont11,
#home .container .choose_shuffle_frame #card10 .cont11,
#home .container .choose_shuffle_frame #card11 .cont11,
#home .container .choose_shuffle_frame #card12 .cont11,
#home .container .choose_shuffle_frame #card13 .cont11 {
  width: 120px;
  height: 200px;
  margin: 0 auto;
}

#home .container .choose_shuffle_frame #card01 .cont12,
#home .container .choose_shuffle_frame #card02 .cont12,
#home .container .choose_shuffle_frame #card03 .cont12,
#home .container .choose_shuffle_frame #card04 .cont12,
#home .container .choose_shuffle_frame #card05 .cont12,
#home .container .choose_shuffle_frame #card06 .cont12,
#home .container .choose_shuffle_frame #card07 .cont12,
#home .container .choose_shuffle_frame #card08 .cont12,
#home .container .choose_shuffle_frame #card09 .cont12,
#home .container .choose_shuffle_frame #card10 .cont12,
#home .container .choose_shuffle_frame #card11 .cont12,
#home .container .choose_shuffle_frame #card12 .cont12,
#home .container .choose_shuffle_frame #card13 .cont12 {
  width: 120px;
  height: 200px;
  margin: 0 auto;
}

#home .container .choose_shuffle_frame #card01 .cont13,
#home .container .choose_shuffle_frame #card02 .cont13,
#home .container .choose_shuffle_frame #card03 .cont13,
#home .container .choose_shuffle_frame #card04 .cont13,
#home .container .choose_shuffle_frame #card05 .cont13,
#home .container .choose_shuffle_frame #card06 .cont13,
#home .container .choose_shuffle_frame #card07 .cont13,
#home .container .choose_shuffle_frame #card08 .cont13,
#home .container .choose_shuffle_frame #card09 .cont13,
#home .container .choose_shuffle_frame #card10 .cont13,
#home .container .choose_shuffle_frame #card11 .cont13,
#home .container .choose_shuffle_frame #card12 .cont13,
#home .container .choose_shuffle_frame #card13 .cont13 {
  width: 120px;
  height: 200px;
  margin: 0 auto;
}

#home .container #card_shuffle_close.show {
  animation: close_shuffle_button 1s ease-in;
  animation-delay: 8.5s;
  animation-fill-mode: forwards;
  transition: 0.1s ease-in;
}

#home .container #card_shuffle_close {
  position: absolute;
  left: 47.5%;
  top: 75%;
  font-size: 22px;
  padding: 10px 20px;
  border-radius: 40px;
  color: #000;
  background-color: #fff;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
}

#home .container #card_shuffle_close:hover {
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

#home .container .news {
  margin-bottom: 80px;
}

#home .container .news .news_title {
  font-size: 28px;
}

#home .container .news .news_title_text {
  font-size: 22px;
  margin-top: 20px;
}

#home .container .news .section {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  position: relative;
}

#home .container .news .section .slider {
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}

#home .container .news .section .slider ul.slides li {
  overflow: hidden;
}

#home .container .news .section .slider ul.slides li .news_content {
  width: 100%;
  height: 100%;
}

#home .container .news .section .slider ul.slides li .news_content .news_img {
  width: 100%;
  height: 100%;
}

#home .container .news .section .slider ul.slides li .news_content .news_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#home .container .news .section .steps {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -3em;
  z-index: 1;
}

#home .container .news .section .steps ul {
  display: flex;
}

#home .container .news .section .steps li {
  margin: 0 5px;
  display: inline-block;
  height: 7px;
  opacity: 0.5;
  cursor: pointer;
  background: #F36E30;
  transition: .3s;
}

@media screen and (max-width: 992px) {
  #home .section .slider1 .slides1 li .banner .circle_content .clrcel_num {
    font-size: 7em;
  }
  #home .section .slider1 .slides1 li .banner .circle_content .circle_text {
    font-size: 2.6em;
  }
  #home .section .slider1 .slides1 li .banner .circle_content .circle_text2 {
    font-size: 2.2em;
  }
  #home .section .slider1 .slides1 li .banner .banner_content {
    margin-left: 35px;
    margin-right: 35px;
  }
  #home .section .slider1 .slides1 li .banner .banner_content .banner_title {
    font-size: 2.6em;
  }
  #home .section .slider1 .slides1 li .banner .banner_content .banner_text {
    font-size: 2.2em;
  }
  #home .section .slider1 .slides1 li .banner .banner_content .banner_text2 {
    width: 100%;
    font-size: 1.3em;
  }
  #home .container .ad .ad_img:last-child img {
    object-position: left;
  }
  #home .container .hot_shop .shop_card_list .shop_card, #home .container .new_shop .shop_card_list .shop_card {
    min-width: calc(100%/2 - 20px);
    /*因為margin左右20*/
  }
  #home .container .hot_shop .shop_card_list .shop_card .card_img_2 img, #home .container .new_shop .shop_card_list .shop_card .card_img_2 img {
    height: 250px;
  }
  #home .container .hot_shop .shop_card_list .shop_card:first-child, #home .container .new_shop .shop_card_list .shop_card:first-child {
    margin-left: 0;
    min-width: calc(100%/2 - 10px);
  }
  #home .container .hot_shop .shop_card_list .shop_card:last-child, #home .container .new_shop .shop_card_list .shop_card:last-child {
    margin-right: 0;
    min-width: calc(100%/2 - 10px);
  }
  #home .container .plan .plan_content .plan_route_warp .section .slider2 {
    height: 600px;
  }
  #home .container .plan .plan_content .plan_route_warp .section .slider2 ul.slides li {
    flex-direction: column;
  }
  #home .container .plan .plan_content .plan_route_warp .section .slider2 ul.slides li .plan_img {
    width: 100%;
  }
  #home .container .plan .plan_content .plan_route_warp .section .slider2 ul.slides li .plan_route_list {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 20%;
    margin-left: 0;
    overflow-x: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    /*chrome*/
  }
  #home .container .plan .plan_content .plan_route_warp .section .slider2 ul.slides li .plan_route_list::-webkit-scrollbar {
    display: none;
  }
  #home .container .plan .plan_content .plan_route_warp .section .slider2 ul.slides li .plan_route_list .dragwrap {
    flex-direction: row;
  }
  #home .container .plan .plan_content .plan_route_warp .section .slider2 ul.slides li .plan_route_list .dragwrap .plan_route {
    flex-shrink: 0;
    display: flex;
    padding: initial;
    margin: initial;
    height: calc(100% - 20px);
    width: calc(100% / 3 - 50px);
    margin: 10px;
  }
  #home .container .plan .plan_content .plan_route_warp .section .slider2 ul.slides li .plan_route_list .dragwrap .plan_route::after {
    right: initial;
    bottom: -30px;
  }
  #home .container .plan .plan_content .plan_route_warp .section .slider2 ul.slides li .plan_route_list .dragwrap .plan_route > div {
    margin-left: 8px;
  }
  #home .container .plan .plan_content .plan_route_warp .section .slider2 ul.slides li .plan_route_list .dragwrap .plan_route span {
    padding: initial;
    margin: initial;
    white-space: pre;
    padding: 5px;
  }
  #home .container .plan .plan_content .plan_route_warp .section .slider2 ul.slides li .plan_route_list.dragactive {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }
  #home .container .plan .plan_content .plan_route_text {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #home .shop_card {
    width: calc( 50% - 20px) !important;
  }
  #home .shop_card .card_img_2 img {
    height: 190px;
  }
  #home .section .slider1 .slides1 li .banner .circle_content .clrcel_num {
    font-size: 6em;
  }
  #home .section .slider1 .slides1 li .banner .circle_content .circle_text {
    font-size: 2.25em;
  }
  #home .section .slider1 .slides1 li .banner .circle_content .circle_text2 {
    font-size: 1.9em;
  }
  #home .section .slider1 .slides1 li .banner .banner_content .banner_title {
    font-size: 2.25em;
  }
  #home .section .slider1 .slides1 li .banner .banner_content .banner_text {
    font-size: 1.9em;
  }
  #home .section .slider1 .slides1 li .banner .banner_content .banner_text2 {
    width: 100%;
    font-size: 1.125em;
  }
  #home .container .ad .ad_img:last-child img {
    object-position: 20% center;
  }
  #home .container .plan .plan_content .plan_route_warp .section .slider2 ul.slides li .plan_route_list .dragwrap .plan_route {
    width: calc(100% / 2 - 50px);
  }
}

@media screen and (max-width: 576px) {
  #home .container .section .slider1 ul.slides1 li .banner .circle_content .clrcel_num {
    font-size: 5em;
  }
  #home .container .section .slider1 ul.slides1 li .banner .circle_content .circle_text {
    font-size: 1.4em;
  }
  #home .container .section .slider1 ul.slides1 li .banner .circle_content .circle_text2 {
    font-size: 1.3em;
  }
  #home .container .section .slider1 ul.slides1 li .banner .banner_content .banner_title {
    font-size: 1.8em;
  }
  #home .container .section .slider1 ul.slides1 li .banner .banner_content .banner_text {
    font-size: 1.4em;
  }
  #home .container .section .slider1 ul.slides1 li .banner .banner_content .banner_text2 {
    width: 100%;
    font-size: 1.1em;
  }
  #home .container .section .slider1 ul.slides1 li .banner .banner_content .go-order-btn {
    width: 80px;
    height: 35px;
    font-size: 16px;
  }
  #home .container .hot_shop .shop_card_list .shop_card, #home .container .new_shop .shop_card_list .shop_card {
    min-width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  #home .container .hot_shop .shop_card_list .shop_card .card_img_2, #home .container .new_shop .shop_card_list .shop_card .card_img_2 {
    height: 250px;
  }
  #home .container .hot_shop .shop_card_list .shop_card:first-child, #home .container .new_shop .shop_card_list .shop_card:first-child {
    min-width: 100%;
  }
  #home .container .hot_shop .shop_card_list .shop_card:last-child, #home .container .new_shop .shop_card_list .shop_card:last-child {
    min-width: 100%;
  }
  #home .container .plan_route_text {
    flex-direction: column;
    justify-content: center;
  }
  #home .container .plan_route_text .plan_route_ttitle {
    align-self: center;
  }
  #home .container .plan_route_text .plan_route_btn {
    margin-top: 20px;
    align-self: center;
  }
}

@media screen and (max-width: 375px) {
  #home .section .slider1 ul.slides1 li .banner .circle_content .clrcel_num {
    font-size: 3em;
  }
  #home .section .slider1 ul.slides1 li .banner .circle_content .circle_text {
    font-size: 1.1em;
  }
  #home .section .slider1 ul.slides1 li .banner .circle_content .circle_text2 {
    font-size: 1em;
  }
  #home .section .slider1 ul.slides1 li .banner .banner_content .banner_title {
    font-size: 1.5em;
  }
  #home .section .slider1 ul.slides1 li .banner .banner_content .banner_text {
    font-size: 1.3em;
  }
  #home .section .slider1 ul.slides1 li .banner .banner_content .banner_text2 {
    width: 100%;
    font-size: 0.8em;
  }
  #home .container .ad .ad_img:last-child img {
    object-position: 34% center;
  }
  #home .container .plan .plan_content .plan_route_warp .section .slider2 {
    height: 450px;
  }
  #home .container .plan .plan_content .plan_route_warp .section .slider2 ul.slides li .plan_route_list .dragwrap .plan_route {
    width: calc(100% - 100px);
  }
}
/*# sourceMappingURL=home.css.map */