* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container form .page {
  display: none;
}

.container form[data-page="1"] .page:nth-child(1),
.container form[data-page="2"] .page:nth-child(2) {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input::-webkit-outer-spin-button,
form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form input[type=number] {
  -moz-appearance: textfield;
}

h2 {
  margin: 15px;
}

h3 {
  text-align: center;
  margin: 15px 0;
}

h4 {
  font-weight: 500;
  font-size: 16px;
}

form {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

form .page .pageItem input.error {
  background: rgba(255, 99, 71, 0.3) !important;
}

form .pagewrap {
  background: white;
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

form .ctrlBtns {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form .ctrlBtns button {
  cursor: pointer;
  color: white;
  width: 80px;
  line-height: 30px;
  background-color: #FF6B6B;
  border-radius: 5px;
  border: 0 solid #000;
  margin: 10px;
}

form .ctrlBtns button:last-child {
  cursor: pointer;
  color: white;
  width: 80px;
  line-height: 30px;
  background-color: #2DC8A9;
  border-radius: 5px;
  border: 0 solid #000;
}

form .page {
  margin: auto;
  width: fit-content;
  width: -moz-fit-content;
}

form .page1 .pageItem {
  width: fit-content;
  width: -moz-fit-content;
}

form .page1 .pageItem > div {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form .page1 .pageItem > div input {
  background-color: transparent;
  border: 0 solid #000;
  font-size: 18px;
  max-width: 60px;
  margin: 0 5px;
  text-align: center;
}

form .page1 .pageItem > div > div, form .page1 .pageItem > div label {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 350px;
  height: 70px;
  padding: 5px;
  margin: 15px;
  margin-bottom: 40px;
  border-radius: 5px;
  background: #eee;
}

form .page1 .pageItem > div:last-child img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 10px;
}

form .page2 .pageItem {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form .page2 .pageItem input[type="number"] {
  height: 30px;
  background-color: #aaa;
  border-radius: 5px;
  text-align: center;
  border: 0 solid #000;
  margin: 5px;
}

form .page2 .pageItem h4 {
  margin: 5px 0 5px 5px;
}

form .page2 .pageItem > div {
  width: 350px;
  background-color: #eee;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
}

form .page2 .pageItem > div:nth-child(2) > div {
  margin: 10px 0;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

form .page2 .pageItem > div:last-child > div {
  margin-bottom: 25px;
}

form .page2 .pageItem > div:last-child > div > div {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

form .page2 .pageItem > div:last-child > div > div input {
  width: 60px;
}

form .page2 .pageItem > div:last-child > div:nth-child(3) > div {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.popbox {
  display: none;
  height: 80vh;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popbox .pageItem {
  background: white;
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
  padding: 25px 45px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
}

.popbox .pageItem div:nth-child(2) {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.popbox .pageItem div:nth-child(2) img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-left: 10px;
}

.popbox button {
  cursor: pointer;
  color: white;
  width: 80px;
  line-height: 30px;
  background-color: #FF6B6B;
  border-radius: 5px;
  border: 0 solid #000;
  margin-top: 10px;
}
/*# sourceMappingURL=store_money.css.map */