@charset "UTF-8";
.btn-cir_pk1 {
  font-size: 18px;
  color: #fff;
  background-color: #FF6B6B;
  border: 1.5px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.btn-cir_pk1:hover {
  background-color: transparent;
  border: 1.5px solid #FF6B6B;
  color: #FF6B6B;
  transition: ease-out 0.3s;
}

.btn-cir_pk2 {
  font-size: 18px;
  color: #fff;
  background-color: #FF6B6B;
  border: 1.5px solid transparent;
  width: 100px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.btn-cir_pk2:hover {
  background-color: transparent;
  border: 1.5px solid #FF6B6B;
  color: #FF6B6B;
  transition: ease-out 0.3s;
}

.btn-cir_gr1 {
  font-size: 18px;
  color: #fff;
  background-color: #2DC8A9;
  border: 1.5px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.btn-cir_gr1:hover {
  background-color: transparent;
  border: 1.5px solid #2DC8A9;
  color: #2DC8A9;
  transition: ease-out 0.3s;
}

.btn-cir_gr2 {
  font-size: 18px;
  color: #fff;
  background-color: #2DC8A9;
  border: 1.5px solid transparent;
  width: 100px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.btn-cir_gr2:hover {
  background-color: transparent;
  border: 1.5px solid #2DC8A9;
  color: #2DC8A9;
  transition: ease-out 0.3s;
}

.btn-rect_pk1 {
  font-size: 18px;
  color: #fff;
  background-color: #FF6B6B;
  border: 1.5px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_pk1:hover {
  background-color: transparent;
  border: 1.5px solid #FF6B6B;
  color: #FF6B6B;
  transition: ease-out 0.3s;
}

.btn-rect_pk2 {
  font-size: 18px;
  color: #fff;
  background-color: #FF6B6B;
  border: 1.5px solid transparent;
  width: 110px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_pk2:hover {
  background-color: transparent;
  border: 1.5px solid #FF6B6B;
  color: #FF6B6B;
  transition: ease-out 0.3s;
}

.btn-rect_gr1 {
  font-size: 18px;
  color: #fff;
  background-color: #2DC8A9;
  border: 1.5px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_gr1:hover {
  background-color: transparent;
  border: 1.5px solid #2DC8A9;
  color: #2DC8A9;
  transition: ease-out 0.3s;
}

.btn-rect_gr2 {
  font-size: 18px;
  color: #fff;
  background-color: #2DC8A9;
  border: 1.5px solid transparent;
  width: 110px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_gr2:hover {
  background-color: transparent;
  border: 1.5px solid #2DC8A9;
  color: #2DC8A9;
  transition: ease-out 0.3s;
}

.btn-cir_bl {
  font-size: 18px;
  color: #fff;
  background-color: #4db7fe;
  border: 1.5px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.btn-cir_bl:hover {
  background-color: transparent;
  border: 1.5px solid #4db7fe;
  color: #4db7fe;
  transition: ease-out 0.3s;
}

.btn-rect_bl1 {
  font-size: 18px;
  color: #fff;
  background-color: #4db7fe;
  border: 1.5px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_bl1:hover {
  background-color: transparent;
  border: 1.5px solid #4db7fe;
  color: #4db7fe;
  transition: ease-out 0.3s;
}

.btn-rect_bl2 {
  font-size: 18px;
  color: #fff;
  background-color: #4db7fe;
  border: 1.5px solid transparent;
  width: 110px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_bl2:hover {
  background-color: transparent;
  border: 1.5px solid #4db7fe;
  color: #4db7fe;
  transition: ease-out 0.3s;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  outline: none;
}

.speak_box {
  color: #7D93B2;
  background-color: #fff;
  width: 160px;
  height: 70px;
  line-height: 70px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.triangle_L::after {
  content: '';
  border-color: #fff transparent transparent transparent;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 0 0;
  position: absolute;
  bottom: -15px;
  left: 40px;
}

.triangle_R::after {
  content: '';
  border-color: transparent #fff transparent transparent;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 0;
  position: absolute;
  bottom: -15px;
  right: 40px;
}

.card_map-btn {
  font-size: 16px;
  color: #fff;
  background-color: #384F95;
  width: 100px;
  height: 40px;
  border-radius: 50px;
}

.card_map-btn::before {
  content: '\f3c5';
  font-family: 'FontAwesome';
  color: #4DB7FE;
  margin: 0 5px;
}

.card_map-btn:hover {
  background-color: #4DB7FE;
  transition: ease-out 0.4s;
  cursor: pointer;
}

.card_map-btn:hover::before {
  color: #fff;
}

.card_menu-btn {
  font-size: 16px;
  color: #fff;
  background-color: #134f6c;
  width: 80px;
  border-radius: 50px;
  height: 35px;
  text-align: center;
  margin: 0 8px;
}

.card_menu-btn:hover {
  background-color: #4DB7FE;
  transition: ease-out 0.4s;
  cursor: pointer;
}

.card_comment-btn {
  font-size: 16px;
  color: #fff;
  background-color: #134f6c;
  width: 80px;
  border-radius: 50px;
  height: 35px;
  text-align: center;
  margin: 0 8px;
}

.card_comment-btn:hover {
  background-color: #4DB7FE;
  transition: ease-out 0.4s;
  cursor: pointer;
}

.card_timenow-btn {
  font-size: 14px;
  color: #fff;
  background-color: #F75C96;
  width: 80px;
  border-radius: 50px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 0 8px;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.2);
}

.card_look_detail-btn {
  font-size: 16PX;
  color: #fff;
  background-color: #384F95;
  width: 90px;
  height: 35px;
  border-radius: 6px;
  cursor: pointer;
}

.card_look_detail-btn:hover {
  background-color: #4DB7FE;
  transition: ease-out 0.4s;
}

.write_comment-btn, .return-btn, .send-btn {
  font-size: 14PX;
  color: #fff;
  background-color: #384F95;
  width: 70px;
  height: 30px;
  border-radius: 6px;
  cursor: pointer;
}

.write_comment-btn:hover, .return-btn:hover, .send-btn:hover {
  background-color: #4DB7FE;
  transition: ease-out 0.4s;
}

.report_comment_content-1, .report_comment_content-2, .report_comment_content-3 {
  font-size: 14PX;
  color: #fff;
  background-color: #bbc3c6;
  width: 170px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  margin: 5px 0;
}

.report_comment_content-1:hover, .report_comment_content-2:hover, .report_comment_content-3:hover {
  background-color: #384F95;
  transition: ease-out 0.4s;
}

.write_comment_send-btn {
  font-size: 16PX;
  color: #fff;
  background-color: #384F95;
  width: 90px;
  height: 35px;
  border-radius: 6px;
  margin-top: 20px;
  cursor: pointer;
}

.write_comment_send-btn:hover {
  background-color: #4DB7FE;
  transition: ease-out 0.4s;
}

#shop_card {
  background-color: #fff;
  width: 31.5%;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  min-width: 380px;
  margin-top: 30px;
}

#shop_card .card_img, #shop_card .card_content {
  display: none;
}

#shop_card .card_img, #shop_card .card_img_2 {
  width: 100%;
  position: relative;
}

#shop_card .card_img::before, #shop_card .card_img_2::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  border-radius: 25px 25px 0 0;
  background: #fff;
  z-index: 100;
}

#shop_card .card_img img, #shop_card .card_img_2 img {
  display: block;
  width: 100%;
  height: 220px;
  position: relative;
}

#shop_card .card_img .heart_save, #shop_card .card_img_2 .heart_save {
  display: block;
  background-color: #384F95;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  top: 15px;
  left: 15px;
}

#shop_card .card_img .heart_save i, #shop_card .card_img_2 .heart_save i {
  display: block;
  color: #fff;
  cursor: pointer;
}

#shop_card .card_img .heart_save i:hover, #shop_card .card_img_2 .heart_save i:hover {
  color: #4DB7FE;
  font-weight: 900;
  transition: ease-out 0.3s;
}

#shop_card .card_img .card_close, #shop_card .card_img_2 .card_close {
  background-color: #fff;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.2);
  width: 50px;
  height: 50px;
  border-radius: 0 8px 0 8px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

#shop_card .card_img .card_close i, #shop_card .card_img_2 .card_close i {
  display: block;
  font-size: 30px;
  color: #4DB7FE;
}

#shop_card .card_img .card_timenow-btn, #shop_card .card_img_2 .card_timenow-btn {
  position: absolute;
  bottom: 50px;
  right: 20px;
}

#shop_card .card_content {
  margin: 0 20px;
  margin-bottom: 15px;
}

#shop_card .card_content .card_warp {
  display: flex;
  justify-content: space-between;
}

#shop_card .card_content .card_warp .card_score {
  display: flex;
}

#shop_card .card_content .card_warp .card_score .score_num {
  color: #fff;
  background-color: #384F95;
  width: 50px;
  height: 50px;
  line-height: 52px;
  border-radius: 10px;
  text-align: center;
  font-weight: 400;
}

#shop_card .card_content .card_warp .card_score .score_con {
  margin-left: 15px;
}

#shop_card .card_content .card_warp .card_score .score_con .score_star i {
  font-size: 16px;
  color: #FACC39;
}

#shop_card .card_content .card_warp .card_score .score_con .score_comment {
  font-size: 16px;
  color: #566985;
  margin-top: 10px;
}

#shop_card .card_content .card_title {
  font-size: 22px;
  color: #566985;
  margin-top: 15px;
}

#shop_card .card_content .card_detail {
  color: #999999;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 20px 0;
}

#shop_card .card_content .card_detail .card_text {
  line-height: 25px;
  margin: 20px 0;
}

#shop_card .card_content .card_detail .card_time {
  line-height: 25px;
  margin: 20px 0;
}

#shop_card .card_content .card_warp_btn {
  display: flex;
  justify-content: flex-end;
}

#shop_card .card_content_2 {
  margin: 0 20px;
  margin-bottom: 15px;
}

#shop_card .card_content_2 .card_warp {
  display: flex;
  justify-content: space-between;
}

#shop_card .card_content_2 .card_warp .card_score {
  display: flex;
}

#shop_card .card_content_2 .card_warp .card_score .score_num {
  color: #fff;
  background-color: #384F95;
  width: 50px;
  height: 50px;
  line-height: 52px;
  border-radius: 10px;
  text-align: center;
  font-weight: 400;
}

#shop_card .card_content_2 .card_warp .card_score .score_con {
  margin-left: 15px;
}

#shop_card .card_content_2 .card_warp .card_score .score_con .score_star i {
  font-size: 16px;
  color: #FACC39;
}

#shop_card .card_content_2 .card_warp .card_score .score_con .score_comment {
  font-size: 16px;
  color: #566985;
  margin-top: 10px;
}

#shop_card .card_content_2 .card_warp_2 {
  display: flex;
  justify-content: space-between;
}

#shop_card .card_content_2 .card_title {
  font-size: 22px;
  color: #566985;
  margin-top: 15px;
}

#shop_card #card_menu {
  color: #566985;
  margin: 0 20px;
  overflow-y: scroll;
  height: 500px;
}

#shop_card #card_menu .menu_title_warp {
  display: flex;
  justify-content: space-between;
}

#shop_card #card_menu .menu_title_warp .menu_title {
  font-size: 22px;
}

#shop_card #card_menu .menu_detail {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#shop_card #card_menu .menu_detail .menu_img {
  width: 90px;
  height: 60px;
  border-radius: 8px;
}

#shop_card #card_menu .menu_detail .menu_name, #shop_card #card_menu .menu_detail .menu_price {
  font-size: 20px;
}

#shop_card #card_menu .menu_detail .menu_add {
  display: block;
  background-color: #bbc3c6;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

#shop_card #card_menu .menu_detail .menu_add:hover {
  background-color: #4DB7FE;
  transition: ease-out 0.4s;
}

#shop_card #card_menu .menu_detail .menu_add i {
  display: block;
  color: #fff;
  cursor: pointer;
}

#shop_card #card_comment {
  color: #566985;
  margin: 0 20px;
}

#shop_card #card_comment .comment_title_warp {
  display: flex;
  justify-content: space-between;
}

#shop_card #card_comment .comment_title_warp .comment_title {
  font-size: 22px;
}

#shop_card #card_comment .comment_list .comment_detail {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

#shop_card #card_comment .comment_list .comment_detail .comment_img {
  width: 60px;
}

#shop_card #card_comment .comment_list .comment_detail .comment_speak {
  font-size: 18px;
  background-color: #F0F2F5;
  border-radius: 10px;
  position: relative;
  margin-left: 20px;
  padding: 15px 10px 15px 20px;
}

#shop_card #card_comment .comment_list .comment_detail .comment_speak::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12px 12px 0;
  border-color: transparent #F0F2F5 transparent transparent;
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translateY(-12px);
}

#shop_card #card_comment .comment_list .comment_detail .comment_speak .comment_warp {
  display: flex;
  justify-content: space-between;
}

#shop_card #card_comment .comment_list .comment_detail .comment_speak .comment_warp .comment_report-btn i {
  color: #566985;
  font-size: 16px;
}

#shop_card #card_comment .comment_list .comment_detail .comment_speak .comment_star i {
  font-size: 12px;
  color: #FACC39;
}

#shop_card #card_comment .comment_list .comment_detail .comment_speak .comment_warp_2 {
  display: flex;
  align-items: flex-end;
}

#shop_card #card_comment .comment_list .comment_detail .comment_speak .comment_warp_2 .comment_text {
  min-width: 100px;
  width: 100%;
  margin-top: 10px;
  line-height: 20px;
}

#shop_card #card_comment .comment_list .comment_detail .comment_speak .comment_warp_2 .comment_good {
  display: flex;
  align-items: flex-end;
  margin: 0 10px;
}

#shop_card #card_comment .comment_list .comment_detail .comment_speak .comment_warp_2 .comment_good .good-btn {
  color: #566985;
  margin: 0 8px;
  cursor: pointer;
}

#shop_card #card_comment .comment_list .comment_detail .comment_speak .comment_warp_2 .comment_good .good-btn:hover {
  color: #4DB7FE;
  transition: ease-out 0.2s;
}

#shop_card #card_comment .comment_list .comment_detail .comment_speak .comment_warp_2 .comment_good .good_text {
  font-size: 14px;
  color: #999999;
}

#shop_card #card_comment .comment_list .comment_detail .comment_speak .comment_report {
  font-size: 16px;
  color: #7D93B2;
  background-color: #fff;
  box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.08);
  width: 120px;
  height: 35px;
  border-radius: 8px;
  position: absolute;
  top: 10px;
  right: -15px;
}

#shop_card #card_report_comment {
  background-color: #fff;
  box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 310px;
  border-radius: 10px;
  position: absolute;
  bottom: 23px;
  left: 50%;
  transform: translateX(-130px);
}

#shop_card #card_report_comment .report_comment_title {
  color: #7D93B2;
  text-align: center;
  margin: 20px;
}

#shop_card #card_report_comment .report_comment_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#shop_card #card_report_comment .report_comment_content .report_comment_warp button {
  margin: 20px 12px;
}

#shop_card #card_write_comment {
  color: #566985;
  margin: 0 20px;
}

#shop_card #card_write_comment .write_comment_title_warp {
  display: flex;
  justify-content: space-between;
}

#shop_card #card_write_comment .write_comment_title_warp .write_comment_title {
  font-size: 22px;
}

#shop_card #card_write_comment .write_comment_user {
  display: flex;
  align-items: center;
}

#shop_card #card_write_comment .write_comment_user .write_comment_user_img {
  width: 60px;
  margin-top: 10px;
  margin-right: 20px;
}

#shop_card #card_write_comment .write_comment_score {
  display: flex;
  margin-top: 20px;
}

#shop_card #card_write_comment .write_comment_score .write_comment_star {
  font-size: 18px;
  color: #FACC39;
  margin-left: 20px;
}

#shop_card #card_write_comment .write_comment_text {
  font-size: 18px;
  background-color: #F0F2F5;
  width: 100%;
  height: 110px;
  line-height: 110px;
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
}

#shop_card #card_write_comment .write_comment-warp {
  display: flex;
  justify-content: flex-end;
}

#shop_card_lightbox {
  background-color: #fff;
  width: 440px;
  height: 650px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

#shop_card_lightbox .card_img_2, #shop_card_lightbox .card_content_2, #shop_card_lightbox #card_report_comment, #shop_card_lightbox #card_write_comment, #shop_card_lightbox #card_comment, #shop_card_lightbox .card_content {
  display: none;
}

#shop_card_lightbox .card_img, #shop_card_lightbox .card_img_2 {
  width: 100%;
  position: relative;
}

#shop_card_lightbox .card_img::before, #shop_card_lightbox .card_img_2::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  border-radius: 25px 25px 0 0;
  background: #fff;
  z-index: 100;
}

#shop_card_lightbox .card_img img, #shop_card_lightbox .card_img_2 img {
  display: block;
  width: 100%;
  height: 310px;
  position: relative;
}

#shop_card_lightbox .card_img .heart_save, #shop_card_lightbox .card_img_2 .heart_save {
  display: block;
  background-color: #384F95;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  top: 15px;
  left: 15px;
}

#shop_card_lightbox .card_img .heart_save i, #shop_card_lightbox .card_img_2 .heart_save i {
  display: block;
  color: #fff;
  cursor: pointer;
}

#shop_card_lightbox .card_img .heart_save i:hover, #shop_card_lightbox .card_img_2 .heart_save i:hover {
  color: #4DB7FE;
  font-weight: 900;
  transition: ease-out 0.3s;
}

#shop_card_lightbox .card_img .card_close, #shop_card_lightbox .card_img_2 .card_close {
  background-color: #fff;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.2);
  width: 50px;
  height: 50px;
  border-radius: 0 8px 0 8px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

#shop_card_lightbox .card_img .card_close i, #shop_card_lightbox .card_img_2 .card_close i {
  display: block;
  font-size: 30px;
  color: #4DB7FE;
}

#shop_card_lightbox .card_img .card_timenow-btn, #shop_card_lightbox .card_img_2 .card_timenow-btn {
  position: absolute;
  bottom: 50px;
  right: 20px;
}

#shop_card_lightbox .card_content {
  margin: 0 20px;
  margin-bottom: 15px;
}

#shop_card_lightbox .card_content .card_warp {
  display: flex;
  justify-content: space-between;
}

#shop_card_lightbox .card_content .card_warp .card_score {
  display: flex;
}

#shop_card_lightbox .card_content .card_warp .card_score .score_num {
  color: #fff;
  background-color: #384F95;
  width: 50px;
  height: 50px;
  line-height: 52px;
  border-radius: 10px;
  text-align: center;
  font-weight: 400;
}

#shop_card_lightbox .card_content .card_warp .card_score .score_con {
  margin-left: 15px;
}

#shop_card_lightbox .card_content .card_warp .card_score .score_con .score_star i {
  font-size: 16px;
  color: #FACC39;
}

#shop_card_lightbox .card_content .card_warp .card_score .score_con .score_comment {
  font-size: 16px;
  color: #566985;
  margin-top: 10px;
}

#shop_card_lightbox .card_content .card_title {
  font-size: 22px;
  color: #566985;
  margin-top: 15px;
}

#shop_card_lightbox .card_content .card_detail {
  color: #999999;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 20px 0;
}

#shop_card_lightbox .card_content .card_detail .card_text {
  line-height: 25px;
  margin: 20px 0;
}

#shop_card_lightbox .card_content .card_detail .card_time {
  line-height: 25px;
  margin: 20px 0;
}

#shop_card_lightbox .card_content .card_warp_btn {
  display: flex;
  justify-content: flex-end;
}

#shop_card_lightbox .card_content_2 {
  margin: 0 20px;
  margin-bottom: 15px;
}

#shop_card_lightbox .card_content_2 .card_warp {
  display: flex;
  justify-content: space-between;
}

#shop_card_lightbox .card_content_2 .card_warp .card_score {
  display: flex;
}

#shop_card_lightbox .card_content_2 .card_warp .card_score .score_num {
  color: #fff;
  background-color: #384F95;
  width: 50px;
  height: 50px;
  line-height: 52px;
  border-radius: 10px;
  text-align: center;
  font-weight: 400;
}

#shop_card_lightbox .card_content_2 .card_warp .card_score .score_con {
  margin-left: 15px;
}

#shop_card_lightbox .card_content_2 .card_warp .card_score .score_con .score_star i {
  font-size: 16px;
  color: #FACC39;
}

#shop_card_lightbox .card_content_2 .card_warp .card_score .score_con .score_comment {
  font-size: 16px;
  color: #566985;
  margin-top: 10px;
}

#shop_card_lightbox .card_content_2 .card_warp_2 {
  display: flex;
  justify-content: space-between;
}

#shop_card_lightbox .card_content_2 .card_title {
  font-size: 22px;
  color: #566985;
  margin-top: 15px;
}

#shop_card_lightbox #card_menu {
  color: #566985;
  margin: 0 20px;
  overflow-y: scroll;
  height: 500px;
}

#shop_card_lightbox #card_menu .menu_title_warp {
  display: flex;
  justify-content: space-between;
}

#shop_card_lightbox #card_menu .menu_title_warp .menu_title {
  font-size: 22px;
}

#shop_card_lightbox #card_menu .menu_detail {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#shop_card_lightbox #card_menu .menu_detail .menu_img {
  width: 90px;
  height: 60px;
  border-radius: 8px;
}

#shop_card_lightbox #card_menu .menu_detail .menu_name, #shop_card_lightbox #card_menu .menu_detail .menu_price {
  font-size: 20px;
}

#shop_card_lightbox #card_menu .menu_detail .menu_add {
  display: block;
  background-color: #bbc3c6;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

#shop_card_lightbox #card_menu .menu_detail .menu_add:hover {
  background-color: #4DB7FE;
  transition: ease-out 0.4s;
}

#shop_card_lightbox #card_menu .menu_detail .menu_add i {
  display: block;
  color: #fff;
  cursor: pointer;
}

#shop_card_lightbox #card_comment {
  color: #566985;
  margin: 0 20px;
}

#shop_card_lightbox #card_comment .comment_title_warp {
  display: flex;
  justify-content: space-between;
}

#shop_card_lightbox #card_comment .comment_title_warp .comment_title {
  font-size: 22px;
}

#shop_card_lightbox #card_comment .comment_list .comment_detail {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

#shop_card_lightbox #card_comment .comment_list .comment_detail .comment_img {
  width: 60px;
}

#shop_card_lightbox #card_comment .comment_list .comment_detail .comment_speak {
  font-size: 18px;
  background-color: #F0F2F5;
  border-radius: 10px;
  position: relative;
  margin-left: 20px;
  padding: 15px 10px 15px 20px;
}

#shop_card_lightbox #card_comment .comment_list .comment_detail .comment_speak::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12px 12px 0;
  border-color: transparent #F0F2F5 transparent transparent;
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translateY(-12px);
}

#shop_card_lightbox #card_comment .comment_list .comment_detail .comment_speak .comment_warp {
  display: flex;
  justify-content: space-between;
}

#shop_card_lightbox #card_comment .comment_list .comment_detail .comment_speak .comment_warp .comment_report-btn i {
  color: #566985;
  font-size: 16px;
}

#shop_card_lightbox #card_comment .comment_list .comment_detail .comment_speak .comment_star i {
  font-size: 12px;
  color: #FACC39;
}

#shop_card_lightbox #card_comment .comment_list .comment_detail .comment_speak .comment_warp_2 {
  display: flex;
  align-items: flex-end;
}

#shop_card_lightbox #card_comment .comment_list .comment_detail .comment_speak .comment_warp_2 .comment_text {
  min-width: 100px;
  width: 100%;
  margin-top: 10px;
  line-height: 20px;
}

#shop_card_lightbox #card_comment .comment_list .comment_detail .comment_speak .comment_warp_2 .comment_good {
  display: flex;
  align-items: flex-end;
  margin: 0 10px;
}

#shop_card_lightbox #card_comment .comment_list .comment_detail .comment_speak .comment_warp_2 .comment_good .good-btn {
  color: #566985;
  margin: 0 8px;
  cursor: pointer;
}

#shop_card_lightbox #card_comment .comment_list .comment_detail .comment_speak .comment_warp_2 .comment_good .good-btn:hover {
  color: #4DB7FE;
  transition: ease-out 0.2s;
}

#shop_card_lightbox #card_comment .comment_list .comment_detail .comment_speak .comment_warp_2 .comment_good .good_text {
  font-size: 14px;
  color: #999999;
}

#shop_card_lightbox #card_comment .comment_list .comment_detail .comment_speak .comment_report {
  font-size: 16px;
  color: #7D93B2;
  background-color: #fff;
  box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.08);
  width: 120px;
  height: 35px;
  border-radius: 8px;
  position: absolute;
  top: 10px;
  right: -15px;
}

#shop_card_lightbox #card_report_comment {
  background-color: #fff;
  box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 310px;
  border-radius: 10px;
  position: absolute;
  bottom: 23px;
  left: 50%;
  transform: translateX(-130px);
}

#shop_card_lightbox #card_report_comment .report_comment_title {
  color: #7D93B2;
  text-align: center;
  margin: 20px;
}

#shop_card_lightbox #card_report_comment .report_comment_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#shop_card_lightbox #card_report_comment .report_comment_content .report_comment_warp button {
  margin: 20px 12px;
}

#shop_card_lightbox #card_write_comment {
  color: #566985;
  margin: 0 20px;
}

#shop_card_lightbox #card_write_comment .write_comment_title_warp {
  display: flex;
  justify-content: space-between;
}

#shop_card_lightbox #card_write_comment .write_comment_title_warp .write_comment_title {
  font-size: 22px;
}

#shop_card_lightbox #card_write_comment .write_comment_user {
  display: flex;
  align-items: center;
}

#shop_card_lightbox #card_write_comment .write_comment_user .write_comment_user_img {
  width: 60px;
  margin-top: 10px;
  margin-right: 20px;
}

#shop_card_lightbox #card_write_comment .write_comment_score {
  display: flex;
  margin-top: 20px;
}

#shop_card_lightbox #card_write_comment .write_comment_score .write_comment_star {
  font-size: 18px;
  color: #FACC39;
  margin-left: 20px;
}

#shop_card_lightbox #card_write_comment .write_comment_text {
  font-size: 18px;
  background-color: #F0F2F5;
  width: 100%;
  height: 110px;
  line-height: 110px;
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
}

#shop_card_lightbox #card_write_comment .write_comment-warp {
  display: flex;
  justify-content: flex-end;
}

/*全域樣式*/
/*color*/
body#create form .page2 .pageItem div.addBtn input#addBtn {
  width: 100px;
  line-height: 30px;
  border-radius: 8px;
  border: 0 solid #000;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

body#create form .page2 .pageItem button.deleteBtn {
  border: 0;
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
  padding: 5px;
  background-color: #2DC8A9;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

body#create form .page2 .pageItem div.addBtn label[for="addBtn"] {
  border: 0;
  width: 40px;
  height: 40px;
  color: white;
  font-weight: 900;
  font-size: 25px;
  border-radius: 50%;
  padding: 5px;
  background-color: #ccc;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  margin-left: 3em;
}

* {
  box-sizing: border-box;
}

body#create {
  background: #11245E;
  /*step + page樣式*/
}

body#create .container {
  height: 100vh;
}

body#create .container div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

body#create .container h2 {
  padding: 0 20px 0;
  color: #fff;
  font-size: 24px;
  margin: 30px 0px;
}

body#create .container h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #7D93B2;
}

body#create .container input[type="text"], body#create .container textarea, body#create .container p, body#create .container div, body#create .container .selectwrap {
  color: #7D93B2;
  font-size: 18px;
}

body#create .container input[type="text"],
body#create .container .selectcontrol, body#create .container textarea {
  height: 30px;
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #f2f2f2;
  border: 0px;
  border-radius: 8px;
  position: relative;
  white-space: nowrap;
}

body#create .container input[type="text"] span,
body#create .container .selectcontrol span, body#create .container textarea span {
  width: 90%;
}

body#create .container input[type="text"] span::-webkit-scrollbar,
body#create .container .selectcontrol span::-webkit-scrollbar, body#create .container textarea span::-webkit-scrollbar {
  display: none;
}

body#create .container input[type="text"] span::-ms-scrollbar,
body#create .container .selectcontrol span::-ms-scrollbar, body#create .container textarea span::-ms-scrollbar {
  display: none;
}

body#create .container input[type="text"]::after,
body#create .container .selectcontrol::after, body#create .container textarea::after {
  content: "\f107";
  font-family: 'Font Awesome';
  color: #4db7fe;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

body#create .container .selectwrap {
  position: relative;
}

body#create .container .selectwrap .selectnav {
  display: none;
  line-height: 30px;
  position: absolute;
  top: 30px;
  z-index: 2;
  width: 100%;
  background: #f2f2f2;
  padding: 10px;
}

body#create .container .selectwrap .selectnav label {
  display: block;
}

body#create .container input[type="file"] {
  display: none;
}

body#create .container .pageItem {
  border-radius: 8px;
  background: white;
  min-height: 70vh;
}

body#create .container input, body#create .container textarea, body#create .container button {
  outline: none;
  font-family: 微軟正黑體,serif;
}

body#create .container input[type="radio"], body#create .container input[type="checkbox"] {
  margin-right: 10px;
}

body#create form {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  height: calc(100vh-300px);
  max-width: 1200px;
  margin: auto;
}

body#create form .steps {
  padding: 25px;
  max-width: 1200px;
}

body#create form .steps img {
  width: 100%;
}

body#create form .steps > div {
  align-items: center;
  flex-direction: row;
}

body#create form .steps .mid {
  position: relative;
  z-index: -2;
}

body#create form .steps .top > div, body#create form .steps .bom > div {
  width: 20%;
  justify-content: center;
  height: 110px;
}

body#create form .steps .top .stepwrap, body#create form .steps .bom .stepwrap {
  cursor: pointer;
  position: relative;
  background: url(../img/create/gray.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

body#create form .steps .top .stepwrap::after, body#create form .steps .bom .stepwrap::after {
  content: '　';
  z-index: -1;
  background: url(../img/create/dot.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  bottom: -0.79em;
  left: 50%;
  transform: translateX(-40%);
  display: flex;
  justify-content: center;
  align-items: center;
}

body#create form .steps .top .info, body#create form .steps .bom .info {
  text-align: center;
  align-items: center;
}

body#create form .steps .top .info .num, body#create form .steps .bom .info .num {
  color: white;
  font-weight: 900;
  width: fit-content;
  border-bottom: 3px solid white;
}

body#create form .steps .bom {
  transform: rotate(180deg);
}

body#create form .steps .bom .info {
  transform: rotate(180deg);
}

body#create form .ctrlBtns {
  margin: 0 20px;
  margin-top: 30px;
  flex-direction: row;
  justify-content: space-between;
}

body#create form .page1 .pageItem {
  padding: 5vw 8vw;
  align-items: space-between;
  justify-content: space-around;
}

body#create form .page1 .pageItem > div {
  flex-direction: row;
  justify-content: space-between;
}

body#create form .page1 .pageItem > div > div {
  padding: 10px;
}

body#create form .page1 .pageItem > div:last-child img {
  background: #f2f2f2;
}

body#create form .page1 .pageItem > div:last-child textarea, body#create form .page1 .pageItem > div:last-child img {
  background-color: #f2f2f2;
  resize: none;
  border: 0px;
  border-radius: 8px;
  height: 200px;
  width: 350px;
  white-space: pre-wrap;
}

body#create form .page1 .pageItem > div:last-child > div {
  padding: 10px;
}

body#create form .page1 .pageItem .putheadhere {
  position: relative;
  font-size: 0;
}

body#create form .page1 .pageItem .putheadhere img {
  object-fit: cover;
}

body#create form .page1 .pageItem .putheadhere label[for="myHead"] {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background: #f2f2f2;
  border-radius: 8px;
}

body#create form .page1 .pageItem .putheadhere label[for="myHead"] span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}

body#create form .page1 .pageItem input[type="text"], body#create form .page1 .pageItem .selectcontrol {
  width: 350px;
}

body#create form .page2 .pageItem {
  padding: 50px;
  flex-wrap: initial;
}

body#create form .page2 .pageItem .meal {
  margin: 10px;
  flex-wrap: wrap;
}

body#create form .page2 .pageItem .mealtextwrap {
  min-width: 80%;
  flex-direction: row;
  justify-content: space-around;
}

body#create form .page2 .pageItem > div {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

body#create form .page2 .pageItem input[type="text"], body#create form .page2 .pageItem .selectcontrol {
  width: 120px;
  text-align: center;
}

body#create form .page2 .pageItem .putmealhere {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

body#create form .page2 .pageItem .putmealhere img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

body#create form .page2 .pageItem .putmealhere label {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4db7fe;
}

body#create form .page2 .pageItem .putmealhere label span {
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body#create form .page2 .pageItem div.addBtn {
  display: flex;
  justify-content: start;
}

body#create form .page2 .pageItem div.addBtn label[for="addBtn"] {
  cursor: pointer;
}

body#create form .page2 .pageItem div.addBtn input#addBtn {
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
}

body#create .container form#createVendor .page {
  display: none;
}

body#create .container #createVendor[data-page="1"] .page:nth-child(1),
body#create .container #createVendor[data-page="2"] .page:nth-child(2),
body#create .container #createVendor[data-page="3"] .page:nth-child(3),
body#create .container #createVendor[data-page="5"] .page:nth-child(4) {
  display: flex;
}

body#create .container #createVendor[data-page="4"] .page:nth-child(1),
body#create .container #createVendor[data-page="4"] .page:nth-child(2),
body#create .container #createVendor[data-page="4"] .page:nth-child(3) {
  display: flex;
}

body#create .container #createVendor[data-page="1"] .stepwrap[data-page="1"],
body#create .container #createVendor[data-page="2"] .stepwrap[data-page="2"],
body#create .container #createVendor[data-page="3"] .stepwrap[data-page="3"],
body#create .container #createVendor[data-page="4"] .stepwrap[data-page="4"],
body#create .container #createVendor[data-page="5"] .stepwrap[data-page="5"] {
  background-image: url(../img/create/green.png);
}

body#create .container .ctrlBtns button[disabled] {
  visibility: hidden;
}

@media screen and (max-width: 905px) {
  body#create form#createVendor .page1 .pageItem, body#create form#createVendor .page2 .pageItem, body#create form#createVendor .page3 .pageItem, body#create form#createVendor .page5 .pageItem {
    padding: 10px;
  }
  body#create form#createVendor .page1 .pageItem > div {
    justify-content: center;
  }
  body#create form#createVendor .page1 .pageItem > div > div input[type="text"], body#create form#createVendor .page1 .pageItem > div > div textarea, body#create form#createVendor .page1 .pageItem > div > div div.selectcontrol, body#create form#createVendor .page1 .pageItem > div > div label, body#create form#createVendor .page1 .pageItem > div > div img {
    width: 250px;
  }
  body#create form#createVendor .page2 .putmealhere, body#create form#createVendor .page2 input[type="file"], body#create form#createVendor .page2 input[type="text"], body#create form#createVendor .page2 .selectcontrol {
    margin-bottom: 15px;
  }
  body#create form#createVendor .page2 .mealtextwrap {
    width: 100%;
  }
}

@media screen and (max-width: 665px) {
  body#create form#createVendor .page1 .pageItem > div > div {
    width: 80%;
  }
  body#create form#createVendor .page1 .pageItem > div > div input[type="text"], body#create form#createVendor .page1 .pageItem > div > div textarea, body#create form#createVendor .page1 .pageItem > div > div div.selectcontrol, body#create form#createVendor .page1 .pageItem > div > div label, body#create form#createVendor .page1 .pageItem > div > div img {
    width: 100%;
  }
  body#create form#createVendor .page2 .putmealhere, body#create form#createVendor .page2 input[type="file"], body#create form#createVendor .page2 input[type="text"], body#create form#createVendor .page2 .selectcontrol {
    margin-bottom: 15px;
  }
  body#create form#createVendor .page2 .mealtextwrap {
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  body#create form#createVendor .page.page2 .meal, body#create form#createVendor .page.page2 .mealtextwrap {
    flex-direction: column;
  }
  body#create form#createVendor .page.page2 .mealtextwrap {
    align-items: center;
    margin-bottom: 3em;
  }
}

@media screen and (max-width: 310px) {
  body#create form#createVendor .page1 > div > div {
    display: block;
  }
  body#create form#createVendor .page1 input[type="text"], body#create form#createVendor .page1 .selectcontrol, body#create form#createVendor .page1 .selectnav,
  body#create form#createVendor .page1 textarea, body#create form#createVendor .page1 img {
    width: 100% !important;
  }
}

body#stroe_money {
  background-color: #f2f2f2;
}

body#stroe_money .container form .page {
  display: none;
}

body#stroe_money .container form[data-page="1"] .page:nth-child(1),
body#stroe_money .container form[data-page="2"] .page:nth-child(2) {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body#stroe_money form input::-webkit-outer-spin-button,
body#stroe_money form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body#stroe_money form input[type=number] {
  -moz-appearance: textfield;
}

body#stroe_money label, body#stroe_money input, body#stroe_money h3 {
  font-size: 20px;
}

body#stroe_money p, body#stroe_money h4 {
  font-size: 18px;
}

body#stroe_money h2 {
  font-size: 22px;
  margin: 15px;
}

body#stroe_money h3 {
  text-align: center;
  margin: 15px 0;
}

body#stroe_money h4 {
  font-weight: 500;
}

body#stroe_money input {
  outline: none;
}

body#stroe_money .coinTitle {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

body#stroe_money .coinTitle img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 10px;
}

body#stroe_money form {
  margin-top: 3em;
}

body#stroe_money form .page .pageItem input.error {
  background: rgba(255, 99, 71, 0.3) !important;
}

body#stroe_money form .pagewrap {
  color: #7D93B2;
  background: white;
  width: fit-content;
  width: -moz-fit-content;
  /*width: 1200px;*/
  margin: auto;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

body#stroe_money form .ctrlBtns {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body#stroe_money form .ctrlBtns button {
  /* @include colorBtn();*/
  margin: 10px;
  /*&:last-child{@include colorBtn($STRONGgrren);*/
}

body#stroe_money form .page {
  margin: auto;
  width: fit-content;
  width: -moz-fit-content;
}

body#stroe_money form .page1 .pageItem {
  width: fit-content;
  width: -moz-fit-content;
}

body#stroe_money form .page1 .pageItem input {
  color: #7D93B2;
}

body#stroe_money form .page1 .pageItem > div {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body#stroe_money form .page1 .pageItem > div input {
  background-color: transparent;
  border: 0 solid #000;
  max-width: 80px;
  margin: 0 5px;
  text-align: center;
}

body#stroe_money form .page1 .pageItem > div > div, body#stroe_money form .page1 .pageItem > div label {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 350px;
  height: 70px;
  padding: 5px;
  margin: 15px;
  margin-bottom: 40px;
  border-radius: 8px;
  background: #eee;
}

body#stroe_money form .page1 .pageItem > div:last-child img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 10px;
}

body#stroe_money form .page2 .pageItem {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body#stroe_money form .page2 .pageItem input[type="number"] {
  height: 30px;
  background-color: #aaa;
  border-radius: 8px;
  text-align: center;
  border: 0 solid #000;
  margin: 5px;
}

body#stroe_money form .page2 .pageItem h4 {
  margin: 5px 0 5px 5px;
}

body#stroe_money form .page2 .pageItem > div {
  width: 350px;
  background-color: #eee;
  border-radius: 8px;
  padding: 10px;
  margin: 15px;
}

body#stroe_money form .page2 .pageItem > div:nth-child(2) > div {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

body#stroe_money form .page2 .pageItem > div:last-child > div {
  margin-bottom: 25px;
}

body#stroe_money form .page2 .pageItem > div:last-child > div > div {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

body#stroe_money form .page2 .pageItem > div:last-child > div > div input {
  width: 60px;
}

body#stroe_money form .page2 .pageItem > div:last-child .cardsImg {
  justify-content: start;
}

body#stroe_money form .page2 .pageItem > div:last-child .cardsImg img {
  margin-right: 5px;
  width: 50px;
  height: 30px;
  object-fit: cover;
}

body#stroe_money form .page2 .pageItem > div:last-child > div:nth-child(2) label {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

body#stroe_money form .page2 .pageItem > div:last-child > div:nth-child(2) label img {
  margin-left: 5px;
  width: 40px;
  object-fit: cover;
}

body#stroe_money form .page2 .pageItem > div:last-child > div:nth-child(3) > div {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

body#stroe_money .popbox {
  height: 80vh;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* button{
        @include colorBtn();
         margin-top: 10px;
     }*/
}

body#stroe_money .popbox .pageItem {
  background: white;
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
  padding: 25px 5em;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
}

body#stroe_money .popbox .pageItem div:nth-child(2) {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body#stroe_money .popbox .pageItem div:nth-child(2) img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-left: 10px;
}

body#stroe_money .popbox .pageItem button {
  margin-top: 20px;
}

body#stroe_money .popbox {
  display: none;
}

@media screen and (max-width: 470px) {
  body#stroe_money form .pagewrap {
    padding: 10px;
  }
  body#stroe_money form .pagewrap .page1 .pageItem > div label, body#stroe_money form .pagewrap .page1 .pageItem > div > div {
    min-width: 250px;
  }
  body#stroe_money form .pagewrap .page2 .pageItem > div {
    width: 90%;
  }
  body#stroe_money form .pagewrap .page2 .pageItem > div:last-child div {
    flex-wrap: wrap;
  }
}
/*# sourceMappingURL=style.css.map */