@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  outline: none;
}

.btn-cir_pk1 {
  font-size: 18px;
  color: #fff;
  background-color: #FF6B6B;
  border: 1.5px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.btn-cir_pk1:hover {
  background-color: transparent;
  border: 1.5px solid #FF6B6B;
  color: #FF6B6B;
  transition: ease-out 0.3s;
}

.btn-cir_pk2 {
  font-size: 18px;
  color: #fff;
  background-color: #FF6B6B;
  border: 1.5px solid transparent;
  width: 100px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.btn-cir_pk2:hover {
  background-color: transparent;
  border: 1.5px solid #FF6B6B;
  color: #FF6B6B;
  transition: ease-out 0.3s;
}

.btn-cir_gr1 {
  font-size: 18px;
  color: #fff;
  background-color: #2DC8A9;
  border: 1.5px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.btn-cir_gr1:hover {
  background-color: transparent;
  border: 1.5px solid #2DC8A9;
  color: #2DC8A9;
  transition: ease-out 0.3s;
}

.btn-cir_gr2 {
  font-size: 18px;
  color: #fff;
  background-color: #2DC8A9;
  border: 1.5px solid transparent;
  width: 100px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.btn-cir_gr2:hover {
  background-color: transparent;
  border: 1.5px solid #2DC8A9;
  color: #2DC8A9;
  transition: ease-out 0.3s;
}

.btn-rect_pk1 {
  font-size: 18px;
  color: #fff;
  background-color: #FF6B6B;
  border: 1.5px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_pk1:hover {
  background-color: transparent;
  border: 1.5px solid #FF6B6B;
  color: #FF6B6B;
  transition: ease-out 0.3s;
}

.btn-rect_pk2 {
  font-size: 18px;
  color: #fff;
  background-color: #FF6B6B;
  border: 1.5px solid transparent;
  width: 110px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_pk2:hover {
  background-color: transparent;
  border: 1.5px solid #FF6B6B;
  color: #FF6B6B;
  transition: ease-out 0.3s;
}

.btn-rect_gr1 {
  font-size: 18px;
  color: #fff;
  background-color: #2DC8A9;
  border: 1.5px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_gr1:hover {
  background-color: transparent;
  border: 1.5px solid #2DC8A9;
  color: #2DC8A9;
  transition: ease-out 0.3s;
}

.btn-rect_gr2 {
  font-size: 18px;
  color: #fff;
  background-color: #2DC8A9;
  border: 1.5px solid transparent;
  width: 110px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_gr2:hover {
  background-color: transparent;
  border: 1.5px solid #2DC8A9;
  color: #2DC8A9;
  transition: ease-out 0.3s;
}

.btn-cir_bl {
  font-size: 18px;
  color: #fff;
  background-color: #4db7fe;
  border: 1.5px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.btn-cir_bl:hover {
  background-color: transparent;
  border: 1.5px solid #4db7fe;
  color: #4db7fe;
  transition: ease-out 0.3s;
}

.btn-rect_bl1 {
  font-size: 18px;
  color: #fff;
  background-color: #4db7fe;
  border: 1.5px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_bl1:hover {
  background-color: transparent;
  border: 1.5px solid #4db7fe;
  color: #4db7fe;
  transition: ease-out 0.3s;
}

.btn-rect_bl2 {
  font-size: 18px;
  color: #fff;
  background-color: #4db7fe;
  border: 1.5px solid transparent;
  width: 110px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn-rect_bl2:hover {
  background-color: transparent;
  border: 1.5px solid #4db7fe;
  color: #4db7fe;
  transition: ease-out 0.3s;
}

.go-order-btn {
  font-size: 20PX;
  color: #fff;
  background-color: #f47927;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
}

.go-order-btn:hover {
  background-color: #4DB7FE;
  transition: ease-out 0.4s;
}

.speak_box {
  color: #01200f;
  background-color: #fff;
  width: 160px;
  height: 70px;
  line-height: 70px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.triangle_L::after {
  content: '';
  border-color: #fff transparent transparent transparent;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 0 0;
  position: absolute;
  bottom: -15px;
  left: 40px;
}

.triangle_R::after {
  content: '';
  border-color: transparent #fff transparent transparent;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 0;
  position: absolute;
  bottom: -15px;
  right: 40px;
}

.card_map-btn {
  font-size: 16px;
  color: #fff;
  background-color: #f47927;
  width: 100px;
  height: 40px;
  border-radius: 50px;
}

.card_map-btn::before {
  content: '\f3c5';
  font-family: 'FontAwesome';
  color: #4DB7FE;
  margin: 0 5px;
}

.card_map-btn:hover {
  background-color: #4DB7FE;
  transition: ease-out 0.4s;
  cursor: pointer;
}

.card_map-btn:hover::before {
  color: #fff;
}

.card_menu-btn {
  font-size: 16px;
  color: #fff;
  background-color: #134f6c;
  width: 80px;
  border-radius: 50px;
  height: 35px;
  text-align: center;
  margin: 0 8px;
}

.card_menu-btn:hover {
  background-color: #4DB7FE;
  transition: ease-out 0.4s;
  cursor: pointer;
}

.card_comment-btn {
  font-size: 16px;
  color: #fff;
  background-color: #134f6c;
  width: 80px;
  border-radius: 50px;
  height: 35px;
  text-align: center;
  margin: 0 8px;
}

.card_comment-btn:hover {
  background-color: #4DB7FE;
  transition: ease-out 0.4s;
  cursor: pointer;
}

.card_timenow-btn {
  font-size: 14px;
  color: #fff;
  background-color: #F75C96;
  width: 80px;
  border-radius: 50px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 0 8px;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.2);
}

.card_look_detail-btn {
  font-size: 14PX;
  color: #fff;
  background-color: #f47927;
  width: 70px;
  height: 30px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
}

.card_look_detail-btn:hover {
  background-color: #4DB7FE;
  transition: ease-out 0.4s;
}

.write_comment-btn, .return-btn, .send-btn {
  font-size: 14PX;
  color: #fff;
  background-color: #f47927;
  width: 70px;
  height: 30px;
  border-radius: 6px;
  cursor: pointer;
}

.write_comment-btn:hover, .return-btn:hover, .send-btn:hover {
  background-color: #4DB7FE;
  transition: ease-out 0.4s;
}

.report_comment_content-1, .report_comment_content-2, .report_comment_content-3 {
  font-size: 14PX;
  color: #fff;
  background-color: #bbc3c6;
  width: 170px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  margin: 5px 0;
}

.report_comment_content-1:hover, .report_comment_content-2:hover, .report_comment_content-3:hover {
  background-color: #f47927;
  transition: ease-out 0.4s;
}

.write_comment_send-btn {
  font-size: 16PX;
  color: #fff;
  background-color: #f47927;
  width: 90px;
  height: 35px;
  border-radius: 6px;
  margin-top: 20px;
  cursor: pointer;
}

.write_comment_send-btn:hover {
  background-color: #4DB7FE;
  transition: ease-out 0.4s;
}

#shop_card {
  background-color: #fff;
  width: 31.5%;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  min-width: 380px;
  margin-top: 30px;
}

#shop_card .card_img, #shop_card .card_content {
  display: none;
}

#shop_card .card_img_2 {
  width: 100%;
  position: relative;
}

#shop_card .card_img_2::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  border-radius: 25px 25px 0 0;
  background: #fff;
  z-index: 100;
}

#shop_card .card_img_2 img {
  display: block;
  width: 100%;
  height: 220px;
  position: relative;
}

#shop_card .card_img_2 .heart_save {
  display: block;
  background-color: #f47927;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  top: 15px;
  left: 15px;
}

#shop_card .card_img_2 .heart_save i {
  display: block;
  color: #fff;
  cursor: pointer;
}

#shop_card .card_img_2 .heart_save i:hover {
  color: #4DB7FE;
  font-weight: 900;
  transition: ease-out 0.3s;
}

#shop_card .card_img_2 .card_close {
  background-color: #fff;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.2);
  width: 50px;
  height: 50px;
  border-radius: 0 8px 0 8px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

#shop_card .card_img_2 .card_close i {
  display: block;
  font-size: 30px;
  color: #4DB7FE;
}

#shop_card .card_img_2 .card_timenow-btn {
  position: absolute;
  bottom: 50px;
  right: 20px;
}

#shop_card .card_content_2 {
  margin: 0 20px;
  margin-bottom: 20px;
}

#shop_card .card_content_2 .card_warp {
  color: #707070;
  display: flex;
  justify-content: space-between;
}

#shop_card .card_content_2 .card_warp .card_score {
  display: flex;
  margin-top: 20px;
}

#shop_card .card_content_2 .card_warp .card_score .score_star i {
  display: block;
  font-size: 14px;
  color: #FACC39;
}

#shop_card .card_content_2 .card_warp .card_score .score_num {
  font-size: 14px;
  margin: 0 10px 0 5px;
}

#shop_card .card_content_2 .card_warp .card_score .score_num span {
  color: #01200f;
}

#shop_card .card_content_2 .card_warp .card_score .score_comment {
  font-size: 14px;
}

#shop_card .card_content_2 .card_title {
  font-size: 22px;
  color: #01200f;
}

#shop_card #card_menu {
  color: #01200f;
  margin: 0 20px;
  overflow-y: scroll;
  height: 500px;
}

#shop_card #card_menu .menu_title_warp {
  display: flex;
  justify-content: space-between;
}

#shop_card #card_menu .menu_title_warp .menu_title {
  font-size: 22px;
}

#shop_card #card_menu .menu_detail {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#shop_card #card_menu .menu_detail .menu_img {
  width: 90px;
  height: 60px;
  border-radius: 8px;
}

#shop_card #card_menu .menu_detail .menu_name, #shop_card #card_menu .menu_detail .menu_price {
  font-size: 20px;
}

#shop_card #card_menu .menu_detail .menu_add {
  display: block;
  background-color: #bbc3c6;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

#shop_card #card_menu .menu_detail .menu_add:hover {
  background-color: #4DB7FE;
  transition: ease-out 0.4s;
}

#shop_card #card_menu .menu_detail .menu_add i {
  display: block;
  color: #fff;
  cursor: pointer;
}

#shop_card #card_comment {
  color: #01200f;
  margin: 0 20px;
}

#shop_card #card_comment .comment_title_warp {
  display: flex;
  justify-content: space-between;
}

#shop_card #card_comment .comment_title_warp .comment_title {
  font-size: 22px;
}

#shop_card #card_comment .comment_list .comment_detail {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

#shop_card #card_comment .comment_list .comment_detail .comment_img {
  width: 60px;
}

#shop_card #card_comment .comment_list .comment_detail .comment_speak {
  font-size: 18px;
  background-color: #F0F2F5;
  border-radius: 10px;
  position: relative;
  margin-left: 20px;
  padding: 15px 10px 15px 20px;
}

#shop_card #card_comment .comment_list .comment_detail .comment_speak::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12px 12px 0;
  border-color: transparent #F0F2F5 transparent transparent;
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translateY(-12px);
}

#shop_card #card_comment .comment_list .comment_detail .comment_speak .comment_warp {
  display: flex;
  justify-content: space-between;
}

#shop_card #card_comment .comment_list .comment_detail .comment_speak .comment_warp .comment_report-btn i {
  color: #01200f;
  font-size: 16px;
}

#shop_card #card_comment .comment_list .comment_detail .comment_speak .comment_star i {
  font-size: 12px;
  color: #FACC39;
}

#shop_card #card_comment .comment_list .comment_detail .comment_speak .comment_warp_2 {
  display: flex;
  align-items: flex-end;
}

#shop_card #card_comment .comment_list .comment_detail .comment_speak .comment_warp_2 .comment_text {
  min-width: 100px;
  width: 100%;
  margin-top: 10px;
  line-height: 20px;
}

#shop_card #card_comment .comment_list .comment_detail .comment_speak .comment_warp_2 .comment_good {
  display: flex;
  align-items: flex-end;
  margin: 0 10px;
}

#shop_card #card_comment .comment_list .comment_detail .comment_speak .comment_warp_2 .comment_good .good-btn {
  color: #01200f;
  margin: 0 8px;
  cursor: pointer;
}

#shop_card #card_comment .comment_list .comment_detail .comment_speak .comment_warp_2 .comment_good .good-btn:hover {
  color: #4DB7FE;
  transition: ease-out 0.2s;
}

#shop_card #card_comment .comment_list .comment_detail .comment_speak .comment_warp_2 .comment_good .good_text {
  font-size: 14px;
  color: #707070;
}

#shop_card #card_comment .comment_list .comment_detail .comment_speak .comment_report {
  font-size: 16px;
  color: #01200f;
  background-color: #fff;
  box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.08);
  width: 120px;
  height: 35px;
  border-radius: 8px;
  position: absolute;
  top: 10px;
  right: -15px;
}

#shop_card #card_report_comment {
  background-color: #fff;
  box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 310px;
  border-radius: 10px;
  position: absolute;
  bottom: 23px;
  left: 50%;
  transform: translateX(-130px);
}

#shop_card #card_report_comment .report_comment_title {
  color: #01200f;
  text-align: center;
  margin: 20px;
}

#shop_card #card_report_comment .report_comment_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#shop_card #card_report_comment .report_comment_content .report_comment_warp button {
  margin: 20px 12px;
}

#shop_card #card_write_comment {
  color: #01200f;
  margin: 0 20px;
}

#shop_card #card_write_comment .write_comment_title_warp {
  display: flex;
  justify-content: space-between;
}

#shop_card #card_write_comment .write_comment_title_warp .write_comment_title {
  font-size: 22px;
}

#shop_card #card_write_comment .write_comment_user {
  display: flex;
  align-items: center;
}

#shop_card #card_write_comment .write_comment_user .write_comment_user_img {
  width: 60px;
  margin-top: 10px;
  margin-right: 20px;
}

#shop_card #card_write_comment .write_comment_score {
  display: flex;
  margin-top: 20px;
}

#shop_card #card_write_comment .write_comment_score .write_comment_star {
  font-size: 18px;
  color: #FACC39;
  margin-left: 20px;
}

#shop_card #card_write_comment .write_comment_text {
  font-size: 18px;
  background-color: #F0F2F5;
  width: 100%;
  height: 110px;
  line-height: 110px;
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
}

#shop_card #card_write_comment .write_comment-warp {
  display: flex;
  justify-content: flex-end;
}

#shop_card_lightbox {
  background-color: #fff;
  width: 440px;
  height: 650px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

#shop_card_lightbox .card_img_2, #shop_card_lightbox .card_content_2, #shop_card_lightbox #card_report_comment, #shop_card_lightbox #card_write_comment, #shop_card_lightbox #card_comment, #shop_card_lightbox .card_content {
  display: none;
}

#shop_card_lightbox .card_img_2 {
  width: 100%;
  position: relative;
}

#shop_card_lightbox .card_img_2::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  border-radius: 25px 25px 0 0;
  background: #fff;
  z-index: 100;
}

#shop_card_lightbox .card_img_2 img {
  display: block;
  width: 100%;
  height: 310px;
  position: relative;
}

#shop_card_lightbox .card_img_2 .heart_save {
  display: block;
  background-color: #f47927;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  top: 15px;
  left: 15px;
}

#shop_card_lightbox .card_img_2 .heart_save i {
  display: block;
  color: #fff;
  cursor: pointer;
}

#shop_card_lightbox .card_img_2 .heart_save i:hover {
  color: #4DB7FE;
  font-weight: 900;
  transition: ease-out 0.3s;
}

#shop_card_lightbox .card_img_2 .card_close {
  background-color: #fff;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.2);
  width: 50px;
  height: 50px;
  border-radius: 0 8px 0 8px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

#shop_card_lightbox .card_img_2 .card_close i {
  display: block;
  font-size: 30px;
  color: #4DB7FE;
}

#shop_card_lightbox .card_img_2 .card_timenow-btn {
  position: absolute;
  bottom: 50px;
  right: 20px;
}

#shop_card_lightbox .card_content_2 {
  margin: 0 20px;
  margin-bottom: 20px;
}

#shop_card_lightbox .card_content_2 .card_warp {
  color: #707070;
  display: flex;
  justify-content: space-between;
}

#shop_card_lightbox .card_content_2 .card_warp .card_score {
  display: flex;
  margin-top: 20px;
}

#shop_card_lightbox .card_content_2 .card_warp .card_score .score_star i {
  display: block;
  font-size: 14px;
  color: #FACC39;
}

#shop_card_lightbox .card_content_2 .card_warp .card_score .score_num {
  font-size: 14px;
  margin: 0 10px 0 5px;
}

#shop_card_lightbox .card_content_2 .card_warp .card_score .score_num span {
  color: #01200f;
}

#shop_card_lightbox .card_content_2 .card_warp .card_score .score_comment {
  font-size: 14px;
}

#shop_card_lightbox .card_content_2 .card_title {
  font-size: 22px;
  color: #01200f;
}

#shop_card_lightbox #card_menu {
  color: #01200f;
  margin: 0 20px;
  overflow-y: scroll;
  height: 500px;
}

#shop_card_lightbox #card_menu .menu_title_warp {
  display: flex;
  justify-content: space-between;
}

#shop_card_lightbox #card_menu .menu_title_warp .menu_title {
  font-size: 22px;
}

#shop_card_lightbox #card_menu .menu_detail {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#shop_card_lightbox #card_menu .menu_detail .menu_img {
  width: 90px;
  height: 60px;
  border-radius: 8px;
}

#shop_card_lightbox #card_menu .menu_detail .menu_name, #shop_card_lightbox #card_menu .menu_detail .menu_price {
  font-size: 20px;
}

#shop_card_lightbox #card_menu .menu_detail .menu_add {
  display: block;
  background-color: #bbc3c6;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

#shop_card_lightbox #card_menu .menu_detail .menu_add:hover {
  background-color: #4DB7FE;
  transition: ease-out 0.4s;
}

#shop_card_lightbox #card_menu .menu_detail .menu_add i {
  display: block;
  color: #fff;
  cursor: pointer;
}

#shop_card_lightbox #card_comment {
  color: #01200f;
  margin: 0 20px;
}

#shop_card_lightbox #card_comment .comment_title_warp {
  display: flex;
  justify-content: space-between;
}

#shop_card_lightbox #card_comment .comment_title_warp .comment_title {
  font-size: 22px;
}

#shop_card_lightbox #card_comment .comment_list .comment_detail {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

#shop_card_lightbox #card_comment .comment_list .comment_detail .comment_img {
  width: 60px;
}

#shop_card_lightbox #card_comment .comment_list .comment_detail .comment_speak {
  font-size: 18px;
  background-color: #F0F2F5;
  border-radius: 10px;
  position: relative;
  margin-left: 20px;
  padding: 15px 10px 15px 20px;
}

#shop_card_lightbox #card_comment .comment_list .comment_detail .comment_speak::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12px 12px 0;
  border-color: transparent #F0F2F5 transparent transparent;
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translateY(-12px);
}

#shop_card_lightbox #card_comment .comment_list .comment_detail .comment_speak .comment_warp {
  display: flex;
  justify-content: space-between;
}

#shop_card_lightbox #card_comment .comment_list .comment_detail .comment_speak .comment_warp .comment_report-btn i {
  color: #01200f;
  font-size: 16px;
}

#shop_card_lightbox #card_comment .comment_list .comment_detail .comment_speak .comment_star i {
  font-size: 12px;
  color: #FACC39;
}

#shop_card_lightbox #card_comment .comment_list .comment_detail .comment_speak .comment_warp_2 {
  display: flex;
  align-items: flex-end;
}

#shop_card_lightbox #card_comment .comment_list .comment_detail .comment_speak .comment_warp_2 .comment_text {
  min-width: 100px;
  width: 100%;
  margin-top: 10px;
  line-height: 20px;
}

#shop_card_lightbox #card_comment .comment_list .comment_detail .comment_speak .comment_warp_2 .comment_good {
  display: flex;
  align-items: flex-end;
  margin: 0 10px;
}

#shop_card_lightbox #card_comment .comment_list .comment_detail .comment_speak .comment_warp_2 .comment_good .good-btn {
  color: #01200f;
  margin: 0 8px;
  cursor: pointer;
}

#shop_card_lightbox #card_comment .comment_list .comment_detail .comment_speak .comment_warp_2 .comment_good .good-btn:hover {
  color: #4DB7FE;
  transition: ease-out 0.2s;
}

#shop_card_lightbox #card_comment .comment_list .comment_detail .comment_speak .comment_warp_2 .comment_good .good_text {
  font-size: 14px;
  color: #707070;
}

#shop_card_lightbox #card_comment .comment_list .comment_detail .comment_speak .comment_report {
  font-size: 16px;
  color: #01200f;
  background-color: #fff;
  box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.08);
  width: 120px;
  height: 35px;
  border-radius: 8px;
  position: absolute;
  top: 10px;
  right: -15px;
}

#shop_card_lightbox #card_report_comment {
  background-color: #fff;
  box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 310px;
  border-radius: 10px;
  position: absolute;
  bottom: 23px;
  left: 50%;
  transform: translateX(-130px);
}

#shop_card_lightbox #card_report_comment .report_comment_title {
  color: #01200f;
  text-align: center;
  margin: 20px;
}

#shop_card_lightbox #card_report_comment .report_comment_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#shop_card_lightbox #card_report_comment .report_comment_content .report_comment_warp button {
  margin: 20px 12px;
}

#shop_card_lightbox #card_write_comment {
  color: #01200f;
  margin: 0 20px;
}

#shop_card_lightbox #card_write_comment .write_comment_title_warp {
  display: flex;
  justify-content: space-between;
}

#shop_card_lightbox #card_write_comment .write_comment_title_warp .write_comment_title {
  font-size: 22px;
}

#shop_card_lightbox #card_write_comment .write_comment_user {
  display: flex;
  align-items: center;
}

#shop_card_lightbox #card_write_comment .write_comment_user .write_comment_user_img {
  width: 60px;
  margin-top: 10px;
  margin-right: 20px;
}

#shop_card_lightbox #card_write_comment .write_comment_score {
  display: flex;
  margin-top: 20px;
}

#shop_card_lightbox #card_write_comment .write_comment_score .write_comment_star {
  font-size: 18px;
  color: #FACC39;
  margin-left: 20px;
}

#shop_card_lightbox #card_write_comment .write_comment_text {
  font-size: 18px;
  background-color: #F0F2F5;
  width: 100%;
  height: 110px;
  line-height: 110px;
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
}

#shop_card_lightbox #card_write_comment .write_comment-warp {
  display: flex;
  justify-content: flex-end;
}

/*漢堡樣式*/
.navmenu .hamburger {
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.navmenu .hamburger:hover {
  opacity: 0.7;
}

.navmenu .hamburger.is-active:hover {
  opacity: 0.7;
}

.navmenu .hamburger.is-active .hamburger-inner,
.navmenu .hamburger.is-active .hamburger-inner::before,
.navmenu .hamburger.is-active .hamburger-inner::after {
  background-color: #01200f;
}

.navmenu .hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.navmenu .hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px;
}

.navmenu .hamburger-inner, .navmenu .hamburger-inner::before, .navmenu .hamburger-inner::after {
  width: 20px;
  height: 4px;
  background-color: #01200f;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.navmenu .hamburger-inner::before, .navmenu .hamburger-inner::after {
  content: "";
  display: block;
}

.navmenu .hamburger-inner::before {
  top: -8px;
}

.navmenu .hamburger-inner::after {
  bottom: -8px;
}

.navmenu .hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.navmenu .hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.navmenu .hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.navmenu .hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.navmenu .hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.navmenu .hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*主要樣式*/
.navmenu {
  position: sticky;
  z-index: 6;
  top: 0;
  font-size: 22px;
  background-color: lightblue;
}

.navmenu .wrap {
  max-width: 1200px;
  margin: auto;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navmenu .wrap .logo {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #01200f;
  text-align: center;
  padding-left: 20px;
}

.navmenu .wrap .logo img {
  height: 70px;
  object-fit: cover;
}

.navmenu .wrap > div:last-child {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navmenu .wrap > div:last-child a {
  padding: 0 20px;
  color: #01200f;
  text-decoration: none;
  display: inline-block;
}

.navmenu .wrap > div:last-child a:hover {
  color: #41d4e4;
  transition: ease-out 0.3s;
}

.navmenu .wrap > div:last-child ul {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navmenu .wrap > div:last-child ul li {
  height: 70px;
  line-height: 70px;
  text-align: center;
}

.navmenu .wrap > div:last-child .hamburger {
  display: none;
}

@media screen and (max-width: 1200px) {
  .navmenu {
    background: transparent;
  }
  .navmenu .wrap .logo {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 0;
    align-self: start;
    justify-content: start;
    width: 100%;
    height: 70px;
    background-color: lightblue;
  }
  .navmenu .wrap > div:last-child {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 70px;
  }
  .navmenu .wrap > div:last-child ul {
    width: 100%;
    overflow: auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    margin-right: 0px;
    align-self: start;
    background: pink;
    height: 100%;
    display: none;
  }
  .navmenu .wrap > div:last-child ul li {
    width: 100vw;
  }
  .navmenu .wrap > div:last-child ul li a {
    padding: 0;
    display: block;
  }
  .navmenu .wrap > div:last-child ul::-webkit-scrollbar {
    display: none !important;
  }
  .navmenu .wrap > div:last-child .rIcon {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 22px;
    right: 0;
    transition: 0.3s;
  }
  .navmenu .wrap > div:last-child .rIcon .hamburger {
    display: inline-block;
  }
}

.footer {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 16px;
  width: 100%;
}

.footer .wrap {
  max-width: 1200px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
}

#index {
  background-color: #f7f7f7;
}

#index .banner {
  width: 100%;
  position: relative;
}

#index .banner .scroll_banner {
  width: 100%;
  display: block;
}

#index .banner .banner_content {
  position: absolute;
  top: 20%;
  left: 5%;
  color: #fff;
}

#index .banner .banner_content .banner_title {
  font-size: 50px;
}

#index .banner .banner_content .banner_text {
  font-size: 40px;
  margin-top: 20px;
}

#index .banner .banner_content .banner_text2 {
  font-size: 24px;
  width: 550px;
  line-height: 30px;
  margin: 15px 0;
  opacity: 0.9;
}

#index .banner .banner_circle {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-241px);
}

#index .banner .circle_content {
  position: absolute;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-150px);
  text-align: center;
}

#index .banner .circle_content .clrcel_num {
  color: #f47927;
  font-size: 130px;
}

#index .banner .circle_content .circle_text {
  font-size: 50px;
}

#index .banner .circle_content .circle_text2 {
  font-size: 40px;
  margin-top: 5px;
}

#index .container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  margin-top: 300px;
}

#index .container .hot_shop .shop_card_title, #index .container .new_shop .shop_card_title {
  font-size: 28px;
}

#index .container .hot_shop .shop_card_list, #index .container .new_shop .shop_card_list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

body {
  font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif;
  font-weight: 600;
}

#book {
  font-size: 20px;
  background-color: #f7f7f7;
}

#book .card_ani {
  width: 100%;
  height: calc(100vh - 70px);
  background-image: url("../img/book/road.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#book .book_slide {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  position: relative;
}

#book .book_slide .bk_slide_link {
  position: absolute;
  left: 50%;
  transform: translateX(-100px);
  bottom: 58px;
}

#book .book_slide .bk_slide_link a::before {
  content: '\f103';
  font-family: 'FontAwesome';
  font-size: 20px;
  color: #4DB7FE;
  position: absolute;
  transform: translateX(93px);
  top: 15px;
}

#book .book_slide .bk_slide_con {
  color: #01200f;
  background-color: #fff;
  height: 70px;
  line-height: 70px;
  border-radius: 0 0 8px 8px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

#book .book_slide .bk_slide_con .bk_search {
  position: relative;
}

#book .book_slide .bk_slide_con .bk_search .search_input {
  background-color: #F6F6F6;
  width: 160px;
  border-radius: 3px;
  outline: none;
  border: 0;
  padding: 12px 12px 12px 38px;
}

#book .book_slide .bk_slide_con .bk_search i {
  font-size: 16px;
  position: absolute;
  top: 30px;
  left: 10px;
}

#book .search_book {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

#book .search_book .sea_book_filter {
  margin-top: 20px;
  max-width: 1200px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  color: #707070;
  font-size: 18px;
}

#book .search_book .sea_book_filter .filter_list .filter_item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eaecf1;
  padding: 10px 0;
}

#book .search_book .sea_book_filter .filter_list .filter_item .book_filter-title {
  width: 100px;
  text-align: center;
}

#book .search_book .sea_book_filter .filter_list .filter_item .book_filter-content {
  border-left: 1px solid #eaecf1;
  padding-left: 20px;
}

#book .search_book .sea_book_filter .filter_list .filter_item .book_filter-content ul {
  display: flex;
}

#book .search_book .sea_book_filter .filter_list .filter_item .book_filter-content ul .filter_select {
  padding: 6px 10px;
  margin: 2px 5px;
  cursor: pointer;
}

#book .search_book .sea_book_filter .filter_list .filter_item .book_filter-content ul .filter_select:hover {
  background-color: #f7f7f7;
  border-radius: 3px;
}

#book .search_book .sea_book_filter .filter_list .filter_item .book_filter-content ul #part_filter {
  color: #fff;
  background-color: #f47927;
  border-radius: 3px;
}

#book .search_book .sea_book_list .bk_list_warp {
  display: flex;
  justify-content: space-between;
}

/*全域樣式*/
/*color*/
body#create form#createVendor .page2 .pageItem div.addBtn input#addBtn {
  width: 100px;
  line-height: 30px;
  border-radius: 8px;
  border: 0 solid #000;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

body#create form#createVendor .page2 .pageItem button.deleteBtn {
  border: 0;
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
  padding: 5px;
  background-color: #2DC8A9;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

body#create form#createVendor .page2 .pageItem div.addBtn label[for="addBtn"] {
  border: 0;
  width: 40px;
  height: 40px;
  color: white;
  font-weight: 900;
  font-size: 25px;
  border-radius: 50%;
  padding: 5px;
  background-color: #ccc;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  margin-left: 3em;
}

* {
  margin: 0;
  padding: 0;
  font: 0;
  box-sizing: border-box;
}

body#create {
  background: #f7f7f7;
  /*step + page樣式*/
}

body#create .container div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

body#create .container h2 {
  padding: 0 20px 0;
  color: #01200f;
  font-size: 24px;
  margin: 30px 0px;
}

body#create .container h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #01200f;
}

body#create .container input[type="text"], body#create .container textarea, body#create .container p, body#create .container div, body#create .container .selectwrap {
  color: #01200f;
  font-size: 18px;
}

body#create .container input[type="text"],
body#create .container .selectcontrol, body#create .container textarea {
  height: 30px;
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #f2f2f2;
  border: 0px;
  border-radius: 8px;
  position: relative;
  white-space: nowrap;
}

body#create .container input[type="text"] span,
body#create .container .selectcontrol span, body#create .container textarea span {
  width: 90%;
}

body#create .container input[type="text"] span::-webkit-scrollbar,
body#create .container .selectcontrol span::-webkit-scrollbar, body#create .container textarea span::-webkit-scrollbar {
  display: none;
}

body#create .container input[type="text"] span::-ms-scrollbar,
body#create .container .selectcontrol span::-ms-scrollbar, body#create .container textarea span::-ms-scrollbar {
  display: none;
}

body#create .container input[type="text"]::after,
body#create .container .selectcontrol::after, body#create .container textarea::after {
  content: "\f107";
  font-family: 'Font Awesome';
  color: #4db7fe;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

body#create .container .selectwrap {
  position: relative;
}

body#create .container .selectwrap .selectnav {
  display: none;
  line-height: 30px;
  position: absolute;
  top: 30px;
  z-index: 2;
  width: 100%;
  background: #f2f2f2;
  padding: 10px;
}

body#create .container .selectwrap .selectnav label {
  display: block;
}

body#create .container input[type="file"] {
  display: none;
}

body#create .container .pageItem {
  border-radius: 8px;
  background: white;
  min-height: 70vh;
}

body#create .container input, body#create .container textarea, body#create .container button {
  outline: none;
  font-family: 微軟正黑體,serif;
}

body#create .container input[type="radio"], body#create .container input[type="checkbox"] {
  margin-right: 10px;
}

body#create form#createVendor {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  height: calc(100vh-300px);
  max-width: 1200px;
  margin: auto;
}

body#create form#createVendor .steps {
  padding: 25px;
  max-width: 1200px;
}

body#create form#createVendor .steps img {
  width: 100%;
}

body#create form#createVendor .steps > div {
  align-items: center;
  flex-direction: row;
}

body#create form#createVendor .steps .mid {
  position: relative;
  z-index: -2;
}

body#create form#createVendor .steps .top > div, body#create form#createVendor .steps .bom > div {
  width: 20%;
  justify-content: center;
  height: 110px;
}

body#create form#createVendor .steps .top .stepwrap, body#create form#createVendor .steps .bom .stepwrap {
  cursor: pointer;
  position: relative;
  background: url(../img/create/gray.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

body#create form#createVendor .steps .top .stepwrap::after, body#create form#createVendor .steps .bom .stepwrap::after {
  content: '　';
  z-index: -1;
  background: url(../img/create/dot.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  bottom: -0.79em;
  left: 50%;
  transform: translateX(-39%);
  display: flex;
  justify-content: center;
  align-items: center;
}

body#create form#createVendor .steps .top .info, body#create form#createVendor .steps .bom .info {
  text-align: center;
  align-items: center;
}

body#create form#createVendor .steps .top .info .num, body#create form#createVendor .steps .bom .info .num {
  color: white;
  font-weight: 900;
  width: fit-content;
  border-bottom: 3px solid white;
}

body#create form#createVendor .steps .bom {
  transform: rotate(180deg);
}

body#create form#createVendor .steps .bom .info {
  transform: rotate(180deg);
}

body#create form#createVendor .ctrlBtns {
  margin-top: 30px;
  flex-direction: row;
  justify-content: space-between;
}

body#create form#createVendor .pageItem {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
}

body#create form#createVendor .page1 .pageItem {
  padding: 5vw 8vw;
  align-items: space-between;
  justify-content: space-around;
}

body#create form#createVendor .page1 .pageItem > div {
  flex-direction: row;
  justify-content: space-between;
}

body#create form#createVendor .page1 .pageItem > div > div {
  padding: 10px;
}

body#create form#createVendor .page1 .pageItem > div:last-child img {
  background: #f2f2f2;
}

body#create form#createVendor .page1 .pageItem > div:last-child textarea, body#create form#createVendor .page1 .pageItem > div:last-child img {
  background-color: #f2f2f2;
  resize: none;
  border: 0px;
  border-radius: 8px;
  height: 200px;
  width: 350px;
  white-space: pre-wrap;
}

body#create form#createVendor .page1 .pageItem > div:last-child > div {
  padding: 10px;
}

body#create form#createVendor .page1 .pageItem .putheadhere {
  position: relative;
  font-size: 0;
}

body#create form#createVendor .page1 .pageItem .putheadhere img {
  object-fit: cover;
}

body#create form#createVendor .page1 .pageItem .putheadhere label[for="myHead"] {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background: #f2f2f2;
  border-radius: 8px;
}

body#create form#createVendor .page1 .pageItem .putheadhere label[for="myHead"] span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}

body#create form#createVendor .page1 .pageItem input[type="text"], body#create form#createVendor .page1 .pageItem .selectcontrol {
  width: 350px;
}

body#create form#createVendor .page2 .pageItem {
  padding: 50px;
  flex-wrap: initial;
}

body#create form#createVendor .page2 .pageItem .meal {
  margin: 10px;
  flex-wrap: wrap;
}

body#create form#createVendor .page2 .pageItem .mealtextwrap {
  min-width: 80%;
  flex-direction: row;
  justify-content: space-around;
}

body#create form#createVendor .page2 .pageItem > div {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

body#create form#createVendor .page2 .pageItem input[type="text"], body#create form#createVendor .page2 .pageItem .selectcontrol {
  width: 120px;
  text-align: center;
}

body#create form#createVendor .page2 .pageItem .putmealhere {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

body#create form#createVendor .page2 .pageItem .putmealhere img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

body#create form#createVendor .page2 .pageItem .putmealhere label {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4db7fe;
}

body#create form#createVendor .page2 .pageItem .putmealhere label span {
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body#create form#createVendor .page2 .pageItem div.addBtn {
  display: flex;
  justify-content: start;
}

body#create form#createVendor .page2 .pageItem div.addBtn label[for="addBtn"] {
  cursor: pointer;
}

body#create form#createVendor .page2 .pageItem div.addBtn input#addBtn {
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
}

body#create form#createVendor .page3 .pageItem {
  position: relative;
  overflow: hidden;
}

body#create form#createVendor .page3 #map {
  height: 70vh;
  width: 100%;
  margin: 0 auto;
}

body#create form#createVendor .page3 .user_info {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body#create form#createVendor .page3 .user_info p {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

body#create .container form#createVendor .page {
  display: none;
}

body#create .container #createVendor[data-page="1"] .page:nth-child(1),
body#create .container #createVendor[data-page="2"] .page:nth-child(2),
body#create .container #createVendor[data-page="3"] .page:nth-child(3),
body#create .container #createVendor[data-page="5"] .page:nth-child(4) {
  display: flex;
}

body#create .container #createVendor[data-page="4"] .page:nth-child(1),
body#create .container #createVendor[data-page="4"] .page:nth-child(2),
body#create .container #createVendor[data-page="4"] .page:nth-child(3) {
  display: flex;
}

body#create .container #createVendor[data-page="1"] .stepwrap[data-page="1"],
body#create .container #createVendor[data-page="2"] .stepwrap[data-page="2"],
body#create .container #createVendor[data-page="3"] .stepwrap[data-page="3"],
body#create .container #createVendor[data-page="4"] .stepwrap[data-page="4"],
body#create .container #createVendor[data-page="5"] .stepwrap[data-page="5"] {
  background-image: url(../img/create/green.png);
}

body#create .container .ctrlBtns button[disabled] {
  visibility: hidden;
}

@media screen and (max-width: 1220px) {
  .container .pageItem {
    margin: 0 20px;
  }
  .container .ctrlBtns {
    margin: 0 20px;
  }
}

/*@media screen and (max-width:900px){
  body#create{
    form#createVendor{
      
      .page1{
        .pageItem{
          >div{
            justify-content: center;
          }
        }
      }
    }
  }
}*/
@media screen and (max-width: 960px) {
  body#create form#createVendor .page1 .pageItem, body#create form#createVendor .page2 .pageItem, body#create form#createVendor .page5 .pageItem {
    padding: 20px;
  }
  body#create form#createVendor .page1 .pageItem > div {
    justify-content: center;
  }
  body#create form#createVendor .page1 .pageItem > div > div {
    width: 100%;
    margin: 0;
  }
  body#create form#createVendor .page1 .pageItem > div > div input[type="text"], body#create form#createVendor .page1 .pageItem > div > div textarea, body#create form#createVendor .page1 .pageItem > div > div div.selectcontrol, body#create form#createVendor .page1 .pageItem > div > div label, body#create form#createVendor .page1 .pageItem > div > div img {
    width: 100% !important;
    margin: 0;
  }
  body#create form#createVendor .page2 .putmealhere, body#create form#createVendor .page2 input[type="file"], body#create form#createVendor .page2 input[type="text"], body#create form#createVendor .page2 .selectcontrol {
    margin-bottom: 15px;
  }
  body#create form#createVendor .page2 .mealtextwrap {
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  body#create form#createVendor .page.page2 .meal, body#create form#createVendor .page.page2 .mealtextwrap {
    flex-direction: column;
  }
  body#create form#createVendor .page.page2 .mealtextwrap {
    align-items: center;
    margin-bottom: 3em;
  }
}

@media screen and (max-width: 310px) {
  body#create form#createVendor .page1 > div > div {
    display: block;
  }
  body#create form#createVendor .page1 input[type="text"], body#create form#createVendor .page1 .selectcontrol, body#create form#createVendor .page1 .selectnav,
  body#create form#createVendor .page1 textarea, body#create form#createVendor .page1 img {
    width: 100% !important;
  }
}

#vendor_member {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
}

#vendor_member aside {
  width: 20%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #11245E;
}

#vendor_member aside .account {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 20px auto;
  overflow: hidden;
}

#vendor_member aside .account img {
  max-width: 100%;
}

#vendor_member aside .intro {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

#vendor_member aside .intro span {
  color: #ffffff;
  font-size: 32px;
}

#vendor_member aside .intro button {
  font-size: 18px;
  color: #fff;
  background-color: #2DC8A9;
  border: 1.5px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  margin: 15px auto;
}

#vendor_member aside .intro button:hover {
  background-color: transparent;
  border: 1.5px solid #2DC8A9;
  color: #2DC8A9;
  transition: ease-out 0.3s;
}

#vendor_member aside .intro .coin {
  width: fit-content;
  text-align: center;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
}

#vendor_member aside .intro .coin img {
  width: 40px;
  height: 40px;
}

#vendor_member aside .intro .coin span {
  font-size: 32px;
  color: #ffc145;
  padding: 0 5px;
}

#vendor_member aside .select {
  width: 80%;
  margin: 0 auto;
}

#vendor_member aside .select ul {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

#vendor_member aside .select ul li {
  margin: 20px auto;
}

#vendor_member aside .select ul a {
  color: #ffffff;
  font-size: 28px;
  font-family: 華康雅宋體;
  text-decoration: none;
}

#vendor_member aside .select {
  display: flex;
}

#vendor_member main {
  width: 80%;
  background-color: #E6E6E6;
}

#vendor_member main .all {
  width: 95%;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
  margin: 20px auto;
}

#vendor_member main .all .item {
  width: 95%;
  border-radius: 5px;
  background-color: #E6E6E6;
  padding: 20px;
  margin: 15px auto;
  display: flex;
  flex-direction: row;
}

#vendor_member main .all .item span.title {
  font-weight: bold;
  font-size: 22px;
  min-width: 120px;
}

#vendor_member main .all .item span.content {
  font-size: 20px;
  min-width: 300px;
}

#vendor_member main .all .item button {
  font-size: 18px;
  color: #fff;
  background-color: #2DC8A9;
  border: 1.5px solid transparent;
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

#vendor_member main .all .item button:hover {
  background-color: transparent;
  border: 1.5px solid #2DC8A9;
  color: #2DC8A9;
  transition: ease-out 0.3s;
}
/*# sourceMappingURL=style.css.map */