//對話框
@mixin speakbox($w){
  color: $text-color-1;
  background-color: $white-color;
  width: $w;
  height: 70px;
  line-height: 70px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

@mixin triangle_L($le){
  border-color: $white-color transparent transparent transparent;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 0 0;
  position: absolute;
  bottom: -15px;
  left: $le;
}
@mixin triangle_R($ri){
  border-color: transparent $white-color  transparent transparent;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 0;
  position: absolute;
  bottom: -15px;
  right: $ri;
}



.speak_box{
  @include speakbox(160px);
}
.triangle_L::after{
  content: '';
  @include triangle_L(40px);
}
.triangle_R::after{
  content: '';
  @include triangle_R(40px);
}