//商店卡
@mixin shop_card{
  background-color: $white-color;
  width: 31.5%;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  .card_img_2{
    width: 100%;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 20px;
      border-radius: 25px 25px 0 0;
      background: $white-color;
      z-index: 100;
    }
    img{
      display: block;
      width: 100%;
      position: relative;
    }
    .heart_save{
      display: block;
      background-color: $bg-color-2;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      position: absolute;
      top: 15px;
      left: 15px;
      i{
        display: block;
        color: $white-color;
        cursor: pointer;
        &:hover{
          color: $text-color-2;
          font-weight: 900;
          transition: ease-out 0.3s;
        }
      }
    }
    .card_close{
      background-color: $white-color;
      box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.2);
      width: 50px;
      height: 50px;
      border-radius: 0 8px 0 8px;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      i{
        display: block;
        font-size: 30px;
        color: $text-color-2;
      }
    }
    .card_timenow-btn{
      position: absolute;
      bottom: 50px;
      right: 20px;
    }
  }
  .card_content_2{
    margin: 0 20px;
    margin-bottom: 20px;
    .card_warp{
      color: $text-color-4;
      display: flex;
      justify-content: space-between;
      .card_score{
        display: flex;
        margin-top: 20px;
        .score_star{
          i{
            display: block;
            font-size: 14px;
            color: $star-color;
          }
        }
        .score_num{
          font-size: 14px;
          margin: 0 10px 0 5px;
          span{
            color: $text-color-3;
          }
        }
        .score_comment{
          font-size: 14px;
        }
      }
    }
    .card_title{
      font-size: $font-size-1;
      color: $text-color-3;
    }
  }
  #card_menu{
    color: $text-color-3;
    margin: 0 20px;
    overflow-y: scroll;
    height: 500px;
    .menu_title_warp{
      display: flex;
      justify-content: space-between;
      .menu_title{
        font-size: $font-size-1;
      }
    }
    .menu_detail{
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .menu_img{
        width: 90px;
        height: 60px;
        border-radius: 8px;
      }
      .menu_name,.menu_price{
        font-size: $font-size-2;
      }
      .menu_add{
        display: block;
        background-color: #bbc3c6;
        box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
        width: 40px;
        height: 40px;
        border-radius: 100%;
        &:hover{
          background-color: $bg-color-4;
          transition: ease-out 0.4s;
        }
        i{
          display: block;
          color: $white-color;
          cursor: pointer;
        }
      }
    }
  }
  #card_comment{
    color: $text-color-3;
    margin: 0 20px;
    .comment_title_warp{
      display: flex;
      justify-content: space-between;
      .comment_title{
        font-size: $font-size-1;
      }
    }
    .comment_list{
      .comment_detail{
        margin-top: 20px;
        display: flex;
        align-items: center;
        .comment_img{
          width: 60px;
        }
        .comment_speak{
          font-size: $font-size-3;
          background-color: $bg-color-5;
          border-radius: 10px;
          position: relative;
          margin-left: 20px;
          padding: 15px 10px 15px 20px;
          &::before{
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 12px 12px 12px 0;
            border-color: transparent $bg-color-5 transparent transparent;
            position: absolute;
            top: 50%;
            left: -12px;
            transform: translateY(-12px);
          }
            .comment_warp{
              display: flex;
              justify-content: space-between;
              .comment_report-btn{
                i{
                  color: $text-color-3;
                  font-size: 16px;
                }
              }
            }
            .comment_star{
              i{
                font-size: 12px;
                color: $star-color;
              }
            }
            .comment_warp_2{
              display: flex;
              align-items: flex-end;
              .comment_text{
                min-width: 100px;
                width: 100%;
                margin-top: 10px;
                line-height: 20px;
              }
              .comment_good{
                display: flex;
                align-items: flex-end;
                margin: 0 10px;
                .good-btn{
                  color: $text-color-3;
                  margin: 0 8px;
                  cursor: pointer;
                  &:hover{
                    color: $bg-color-4;
                    transition: ease-out 0.2s;
                  }
                }
                .good_text{
                  font-size: 14px;
                  color: $text-color-4;
                }
              }
            }
            .comment_report{
              font-size: 16px;
              color: $text-color-1;
              background-color: $white-color;
              box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.08);
              width: 120px;
              height: 35px;
              border-radius: 8px;
              position: absolute;
              top: 10px;
              right: -15px;
            }
        }
      } 
    }
  }
  #card_report_comment{
    background-color: $white-color;
    box-shadow: 0px 3px 5px 5px rgba(0, 0, 0 , 0.1);
    width: 250px;
    height: 310px;
    border-radius: 10px;
    position: absolute;
    bottom: 23px;
    left: 50%;
    transform: translateX(-130px);
      .report_comment_title{
        color: $text-color-1;
        text-align: center;
        margin: 20px;
      }
      .report_comment_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        .report_comment_warp{
          button{
            margin: 20px 12px;
          }
        }
      }
  }
  #card_write_comment{
    color: $text-color-3;
    margin: 0 20px;
    .write_comment_title_warp{
      display: flex;
      justify-content: space-between;
      .write_comment_title{
        font-size: $font-size-1;
      }
    }
    .write_comment_user{
      display: flex;
      align-items: center;
      .write_comment_user_img{
        width: 60px;
        margin-top: 10px;
        margin-right: 20px;
      }
    }
    .write_comment_score{
      display: flex;
      margin-top: 20px;
        .write_comment_star{
          font-size: 18px;
          color: $star-color;
          margin-left: 20px;
        }
    }
    .write_comment_text{
      font-size: $font-size-3;
      background-color: $bg-color-5;
      width: 100%;
      height: 110px;
      line-height: 110px;
      text-align: center;
      border-radius: 10px;
      margin-top: 20px;
    }
    .write_comment-warp{
      display: flex;
      justify-content: flex-end;
    }
  }
}


//商店卡-btn
@mixin card_map-btn{
  font-size: 16px;
  color: $white-color;
  background-color: $bg-color-2;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  &::before{
    content: '\f3c5';
    font-family: 'FontAwesome';
    color: $text-color-2;
    margin: 0 5px;
  }
  &:hover{
    background-color: $bg-color-4;
    transition: ease-out 0.4s;
    cursor: pointer;
    &::before{
      color: $white-color;
    }
  }
}
@mixin card-btn($bg,$w){
  font-size: 16px;
  color: $white-color;
  background-color: $bg;
  width: $w;
  border-radius: 50px;
  height: 35px;
  text-align: center;
  margin: 0 8px;
}
@mixin card-timenow-btn($bg){
  font-size: 14px;
  color: $white-color;
  background-color: $bg;
  width: 80px;
  border-radius: 50px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 0 8px;
}
@mixin card_look_detail-btn{
  font-size: 14PX;
  color: $white-color;
  background-color: $bg-color-2;
  width: 70px;
  height: 30px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
  &:hover{
    background-color: $bg-color-4;
    transition: ease-out 0.4s;
  }
}
@mixin write_return_comment-btn{  
  font-size: 14PX;
  color: $white-color;
  background-color: $bg-color-2;
  width: 70px;
  height: 30px;
  border-radius: 6px;
  cursor: pointer;
  &:hover{
    background-color: $bg-color-4;
    transition: ease-out 0.4s;
  }
}
@mixin report_comment_content($bg){
  font-size: 14PX;
  color: $white-color;
  background-color: $bg;
  width: 170px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  &:hover{
    background-color: $bg-color-2;
    transition: ease-out 0.4s;
  }
}
@mixin write_comment_send-btn{
  font-size: 16PX;
  color: $white-color;
  background-color: $bg-color-2;
  width: 90px;
  height: 35px;
  border-radius: 6px;
  margin-top: 20px;
  cursor: pointer;
  &:hover{
    background-color: $bg-color-4;
    transition: ease-out 0.4s;
  }
}

//套用
.card_map-btn{
  @include card_map-btn;
}
.card_menu-btn{
  @include card-btn(#134f6c,80px);
  &:hover{
    background-color: $bg-color-4;
    transition: ease-out 0.4s;
    cursor: pointer;
  }
}
.card_comment-btn{
  @include card-btn(#134f6c,80px);
  &:hover{
    background-color: $bg-color-4;
    transition: ease-out 0.4s;
    cursor: pointer;
  }
}
.card_timenow-btn{
  @include card-timenow-btn(#F75C96);
  box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.2);
}
.card_look_detail-btn{
  @include card_look_detail-btn;
}
.write_comment-btn,.return-btn,.send-btn{
  @include write_return_comment-btn;
}
.report_comment_content-1,.report_comment_content-2,.report_comment_content-3{
  @include report_comment_content(#bbc3c6);
  margin: 5px 0;
}
.write_comment_send-btn{
  @include write_comment_send-btn;
}

//商店卡
#shop_card{
  .card_img,.card_content{
    display: none;
  }
  @include shop_card; //$img-h:簡單樣式版(.card_content_2)高度是220px 正常版是250px
  margin-top: 30px;
  .card_img_2{
    img{
      height: 250px;
    }
  }
}
//商店卡燈箱
#shop_card_lightbox{
  .card_img_2,.card_content_2,#card_report_comment,#card_write_comment,#card_comment,.card_content{
    display: none;
  }
  @include shop_card;
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 450px;
  height: 650px;
  .card_img_2{
    img{
      height: 310px;
    }
  }
}
