//商店卡
@mixin shop_card{
  background-color: $white-color;
  width: 31.5%;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  .card_img_2{
    width: 100%;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 20px;
      border-radius: 25px 25px 0 0;
      background: $white-color;
      z-index: 2;
    }
    img{
      display: block;
      width: 100%;
      position: relative;
    }
  }
  .card_content_2{
    margin: 0 20px;
    margin-bottom: 20px;
    .card_warp{
      color: $text-color-4;
      display: flex;
      justify-content: space-between;
      .card_score{
        display: flex;
        margin-top: 20px;
        .score_star{
          i{
            display: block;
            font-size: 14px;
            color: $star-color;
          }
        }
        .score_num{
          font-size: 14px;
          margin: 0 10px 0 5px;
          span{
            color: $text-color-3;
          }
        }
        .score_comment{
          font-size: 14px;
        }
      }
    }
    .card_title{
      font-size: $font-size-1;
      color: $text-color-3;
    }
  }
}


//商店卡-btn

@mixin report_comment_content($bg){
  font-size: 14PX;
  color: $white-color;
  background-color: $bg;
  width: 170px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  &:hover{
    background-color: $bg-color-2;
    transition: ease-out 0.4s;
  }
}

@mixin card_order-btn{
  font-size: 14PX;
  color: $white-color;
  background-color: $bg-color-2;
  width: 70px;
  height: 30px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
  a{
    text-decoration: none;
    color: $white-color;
  }
  &:hover{
    background-color: $bg-color-4;
    transition: ease-out 0.4s;
  }
}
@mixin card_plan-btn{
  font-size: 16PX;
  color: $white-color;
  background-color: $bg-color-2;
  width: 80px;
  height: 30px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
  &:hover{
    background-color: $bg-color-4;
    transition: ease-out 0.4s;
  }
}
@mixin card_plan_X-btn{
  font-size: 16PX;
  color: $white-color;
  background-color: $bg-color-2;
  width: 80px;
  height: 30px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
  &:hover{
    background-color: $bg-color-4;
    transition: ease-out 0.4s;
  }
}

//套用
.card_order-btn{
  @include card_order-btn;
}
.card_plan-btn{
  @include card_plan-btn;
}
.card_plan_X-btn{
  @include card_plan_X-btn;
  display: none;
}

//商店卡
.shop_card{
  @include shop_card;
  margin-top: 30px;
  .card_img_2{
    img{
      height: auto;
    }
  }
}