//btn
@mixin btn($w,$bgc,$rad){
  font-size: 18px;
  color: $white-color;
  background-color: $bgc;
  border: 1.8px solid transparent;
  width: $w;
  height: 35px;
  text-align: center;
  border-radius: $rad;
  cursor: pointer;
  &:hover{
    background-color: transparent;
    border: 1.8px solid $bgc;
    color: $bgc;
    transition: ease-out 0.3s;
  }
}
.btn-cir_pk1{
  @include btn(80px,#FF6B6B,50px); //粉色圓矩形2個字
}
.btn-cir_pk2{
  @include btn(100px,#FF6B6B,50px); //粉色圓矩形4個字
}
.btn-cir_gr1{
  @include btn(80px,#2DC8A9,50px); //綠色圓矩形2個字
}
.btn-cir_gr2{
  @include btn(100px,#2DC8A9,50px); //綠色圓矩形4個字
}
.btn-rect_pk1{
  @include btn(80px,#FF6B6B,6px); //粉色方形2個字
}
.btn-rect_pk2{
  @include btn(100px,#FF6B6B,6px); //粉色方形4.5個字
}
.btn-rect_gr1{
  @include btn(80px,#2DC8A9,6px); //綠色方形2個字
}
.btn-rect_gr2{
  @include btn(100px,#2DC8A9,6px); //綠色方形4.5個字
}
.btn-cir_bl{
  @include btn(80px,#4db7fe,50px); //藍色圓形2個字
}
.btn-rect_bl1{
  @include btn(80px,#4db7fe,6px); //藍色方形3個字
}
.btn-rect_bl2{
  @include btn(100px,#4db7fe,6px); //藍色方形4.5個字
}
