//背景顏色樣式
$bg-color-1: #f7f7f7; //EDF2F7
$bg-color-2: #F36E30;
$bg-color-3: #E6E6E6;
$bg-color-4: #4DB7FE; //不要使用
$bg-color-5: #F0F2F5; //不要使用



//白色背景.文字樣式 (請大家統一用這個白色色票)
$white-color:#fff;

//字體顏色樣式
$text-color-1: #000000; 
$text-color-2: #4DB7FE;
$text-color-3: #333333;
$text-color-4: #707070;
$text-color-5: #F36E30; 

//星星顏色
$star-color:#FACC39;
