#general_member{
    font-size: $font-size-2;
    font-family: "微軟正黑體";
    scroll-behavior: smooth;

    main{
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr;

        .left_section{
            // border: 1px solid red;
            grid-area: 1/1/2/2;
            height: 100%;
            min-height: 100vh;
            width: 100%;
            background-color: $bg-color-2;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 30% 15% 55%);
            height: 937px;

            .m_mug_shot{
                grid-area: 1/1/2/2;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
                width: 100%;
                height: 100%;
                
                .photo{
                    grid-area: 2/2/3/3;
                    // border: 1px solid green;
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    overflow: hidden;
                    
                    img{
                        height: 100%;
                    }
                }

                .fa-camera{
                    grid-area: 2/2/3/3;
                    color: $bg-color-3;
                    font-size: $font-size-0;
                    align-self: end;
                    justify-self: end;
                    cursor: pointer;
                }
            }
                
            .m_status{
                // border: 1px solid pink;
                grid-area: 2/1/3/2;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(3, 1fr);
                font-size: $font-size-0;

                .identity{
                    border-radius: 50px;
                    color: $white-color;
                    align-items: center;
                }

                .nm_money{
                    color: #ffc145;
                    font-size: $font-size-1;
                    align-items: center;
                    img{
                        width: 30px;
                        height: 30px;
                    }
                }
            
                .ms_1{
                    grid-column-start: 2;
                    grid-column-end: 4;
                    display: flex;
                    justify-content: space-evenly;
                }

                .m_logOut{
                    grid-area: 3/2/4/4;
                    justify-self: center;
                    align-self: end;

                    input{
                        text-align: center;
                    }

                    .aLink_1{
                        text-decoration: none;
                    }
                }
                
            }
                
            .function_bar{
                // border: 1px solid purple;
                // margin-top: 40px;
                grid-area: 3/1/4/2;
                display: grid;
                grid-template-columns: 25% repeat(2, 1fr) 25%;
                grid-template-rows: repeat(7, 1fr);
                align-items: end;
            
                .aLink_1{
                    height: 80%;
                    text-decoration: none;
                    color: $white-color;
                    font-size: $font-size-0;
                    grid-column-start: 2;
                    grid-column-end: 4;
                    align-items: center;
                    transition: 0.3s ease-in-out;
                    border-radius: 50px;
                    white-space: nowrap;
                    display: flex;
                    justify-content: space-evenly;
                    &:hover{
                        background-color: $bg-color-3;
                    }

                    .fas{
                        font-size: 18px;
                        width: 35px;
                        height: 35px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        color: $text-color-4;
                        background-color: $white-color;
                        border-radius: 100%;
                    }
                }
            }

            .fs_1{
                font-size: $font-size-1;
                font-family: "微軟正黑體";
            }
            .active{
                background-color: #333333;
            }
        }
        .left_section_mobile{
            display: none;
        }
        .right_section{
            grid-area: 1/2/2/4;
            height: 100%;
            min-height: 100vh;
            width: 100%;
            display: grid;
            grid-template-columns: 5% 90% 5%;
            grid-template-rows: 5% 80% 15%;
            background-color: $bg-color-1;
            overflow: auto;

            .mem_information{
                grid-area: 2/2/3/3;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, 55% 10% 50%);
                background-color: $bg-color-1;
                
            
                // .mi_1{
                //     grid-area: 1/1/2/2;
                //     display: flex;
                //     justify-content: space-between;

                //     div{
                //         font-size: $title-font-size;
                //     }
                // }
                .mi_2{
                    grid-area: 1/1/2/2;
                    display: grid;
                    grid-template-columns: 3% repeat(16, 1fr) 3%;
                    grid-template-rows: repeat(10, 1fr);
                    border-radius: 10px;
                    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08);
                    background-color: #ffffff;
            
                    .mi_2_acc{
                        grid-area: 2/2/4/18;
                        display: grid;
                        grid-template-columns: repeat(16, 1fr);
                        grid-template-rows: repeat(3, 1fr);
                        background-color: $bg-color-3;
            
                        span{
                            grid-area: 2/2/3/4;
                            
                        }
                        div{
                            grid-area: 2/5/3/13;
                        }
                        input{
                            grid-area: 2/15/3/17;
                        }
                    }
                    .mi_2_mail{
                        grid-area: 5/2/7/18;
                        display: grid;
                        grid-template-columns: repeat(16, 1fr);
                        grid-template-rows: repeat(3, 1fr);
                        background-color: $bg-color-3;
            
                        span{
                            grid-area: 2/2/3/4;
                        }
                        div{
                            grid-area: 2/5/3/13;
                        }
                        input{
                            grid-area: 2/15/3/17;
                        }
                    }
                    .mi_2_tel{
                        grid-area: 8/2/10/18;
                        display: grid;
                        grid-template-columns: repeat(16, 1fr);
                        grid-template-rows: repeat(3, 1fr);
                        background-color: $bg-color-3;
            
                        span{
                            grid-area: 2/2/3/4;
                        }
                        div{
                            grid-area: 2/5/3/13;
                        }
                        input{
                            grid-area: 2/15/3/17;
                        }
                    }

                    .mi_2_text_1{
                        color: $text-color-1;
                        font-size: $font-size-1;
                        font-weight: bolder;
                        align-self: center;
                    }
                    .mi_2_text_2{
                        color: $text-color-1;
                        font-size: $font-size-2;
                        align-self: center;
                    }

                    .mi_2_br{
                        border-radius: 5px;
                    }
                }
            
                .mi_3{
                    grid-area: 3/1/4/2;
                    display: grid;
                    grid-template-columns: 3% repeat(16, 1fr) 3%;
                    grid-template-rows: 10% repeat(4, 1fr) 10%;
                    border-radius: 10px;
                    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08);
                    background-color: #ffffff;
            
                    .mi_3_store{
                        grid-area: 2/2/6/18;
                        display: grid;
                        grid-template-columns: repeat(16, 1fr);
                        grid-template-rows: repeat(8, 1fr);
                        background-color: $bg-color-3;
                        border-radius: 10px;
            
                        .mi_3_img{
                            grid-area: 2/2/8/6;
                            align-self: center;
            
                            img{
                                width: 75%;
                            }
                        }
                        .mi_3_text{
                            grid-area: 2/7/8/12;
                            color: $text-color-1;
                            font-size: $title-font-size;
                            display: grid;
                            align-content: space-evenly;
                            justify-content: center;

                            .mi_3_money{
                                color: #000000;
                                font-size: $title-font-size;

                                &::before{
                                    content: "$";
                                }
                            }
                        }
                        input{
                            grid-area: 4/15/6/17;
                            align-self: center;
                            // justify-self: end;
                        }
                    }
                }
            }

            .mem_order{
                grid-area: 2/2/3/3;
                @mixin pad{
                    @media(max-width:768px){
                        @content;
                    }
                }
                @mixin mobile{
                    @media(max-width:767px){
                        @content;
                    }
                }

                .right {
                    width: auto;
                    // background-color: $bg-color-3;
                    
                    @include mobile{
                        width: 100%;
                        margin: 0 auto;
                    }
                    .rightOne {
                        margin: 20px 20px;
                        border-radius: 8px;
                        background-color: $white-color;
                        width: auto;
                        margin: 0 auto;
                        padding-bottom: 10px;
                        overflow: hidden;
                        border-radius: 10px;
                        box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08);
                        
                        @include mobile{
                            width: 100%;
                            margin: 0 auto;
                        }
                        //第二層白底
                        .rightOnebutton{
                            padding: 20px 0 10px 0;
                            border-radius: 8px;
                            background-color: $white-color;
                            width: 90%;
                            margin: 0 auto;
                            text-decoration: none;
                            // a連結測試
                            a{
                                text-decoration:none;
                                color:$white-color;
                                &:hover{
                                    color:#FF6B6B;
                                }                    
                            }         
                        }
                        .order {
                            background-color: $bg-color-3;
                            // margin: 20px 20px;
                            padding: 10px 20px;
                            border-radius: 8px;
                            width: 90%;
                            margin: 20px auto;
                            .tab .-on {
                                display:block;
                            }  
                            .tab {
                                display:none;
                            }
                            .ordertop{
                                display: flex;
                                justify-content: space-between;
                                // flex-wrap: wrap;
                                @include mobile {
                                    
                                }
                                .orderListone {
                                    width: 40%;
                                    padding: 10px 10px;
                                    @include mobile {
                                        width: 100%;
                                    }                      
                                }
                                .orderListtwo{
                                    // text-align: center;
                                    width: 40%;
                                    padding: 10px 10px;
                                    @include mobile {
                                        width: 50%;
                                    } 
                                }
                                .icon {
                                    width: auto;
                                    display: flex;
                                    align-self: center;
                                    text-align: end;
                                    padding-right: 20px;
                                    transform: scale(1, 1);
                                    @include mobile {
                                        // width: 50%;
                                        width: auto;
                                    }
                                }
                                .fas {
                                    display: block;
                                    cursor: pointer;
                                    font-size: 2.5em;
                                }
                                .lh_28{
                                    line-height: 28px;
                                }
                            }                          
                        }
                        .scale .fas {
                            transform: scale(1, -1);
                            transition: all 1s;
                        }  
                                
                    }
                        
                    .orderTitle {
                        background-color: $white-color;
                        border-radius: 8px;
                        position: relative;
                        overflow: hidden;
                        // &::before {
                        //     content:"";
                        //     width: 100%;
                        //     position: absolute;
                        //     top: 35px;
                        //     border: 2px solid #f2f2f2;
                            
                        // }
                        .bordertwo {
                            width: 85%;
                            background-color: #f2f2f2;
                            height: 4px;
                            transform: translateY(-8px);
                            margin: 0 auto;
                        }
                        .borderOne {
                            width: 85%;
                            background-color: #f2f2f2;
                            height: 4px;
                            transform: translateY(-8px);
                            margin: 0 auto;
                        }
                        .orderlistone {
                            width: 100%;
                            padding: 10px 0 ;
                            
                            .listLeft {
                                width: 30%;
                                justify-content: center;
                                margin: 5px auto 10px;
                                p {
                                    font-weight: bold;
                                }  
                            }
                            
                            .listRight {
                                width: 70%;
                                justify-content: space-around;
                                margin-left: 50px;
                                .lr-1{
                                    // width: 18%;
                                    text-align:center;
                                }
                            }
                        }
                        .orderlisttwo {
                            background-color: $white-color;
                            .listTwoleft{
                                width: 30%;
                                justify-content: center;
                            }
                            .listTworight {
                                width: 70%;
                                justify-content: space-around;
                                margin-left: 50px;
                                .lt-1{
                                    width: 18%; 
                                    text-align:center;
                                }
    
                            }
                        }
                        .total {
                            display: flex;
                            background-color: $white-color;
                            //      &::before {
                            //     content:"";
                            //     position: absolute;
                            //     bottom: 160px;
                            //     border: 2px solid #fa0707;
                            //     width: 100%;
                            // }
                            .listTwoleft{
                                width: 30%;
                                justify-content: center;
                            }
                            .listTworight {
                                width: 70%;
                                justify-content: space-around;
                                margin-left: 50px;
                                .lt-1{
                                    width: 18%; 
                                    text-align:center;
                                }
                                .opacity { 
                                    opacity: 0;
                                }
                                
                            }
                        }
                        .delorder {
                            justify-content: flex-end;
                            margin: 20px 20px;
                            padding: 20px 20px;
                            position: relative;
    
                        }
                    }   
                }

                &::-webkit-scrollbar{
                    display: none;
                }
            }

            .mem_account{
                grid-area: 2/2/3/3;

                @mixin flexcolum($jc:center,$ai:center) {
                    display: flex;
                    display: -webkit-flex;
                    flex-direction: column;
                    justify-content: $jc;
                    align-items: $ai;
                }
                @mixin flexrow($jc:center,$ai:center) {
                    display: flex;
                    display: -webkit-flex;
                    flex-direction: row;
                    justify-content: $jc;
                    align-items: $ai;
                }

                .utnmcontanier{
                    // padding: 50px;  
                    // width: 80vw;

                    .utnmpagetitle{
                        font-size: $title-font-size;
                        margin-bottom: 20px;
                        @include flexrow(space-between,);
                        >div{
                            @include flexrow(space-between,);
                        }
                        >div:last-child{
                            *{margin-right: 15px;}
                        }
                        .utmn_img{
                            width: 28px;
                            height: 28px;
                        }
                    }

                    .utnmtabbtns{
                        button{
                            margin-right: 15px;
                        }
                        button.active{
                            background: transparent;
                            color: #FF6B6B;
                            border: 2px solid #FF6B6B;
                        }
                    }

                    .utnmtabctrl{
                        color: $text-color-1;

                        .utnmtab{
                            display: none;
                        }
                        .utnmtab.active{
                            display: block;
                        }
                        table{
                            border-collapse: separate;
                            text-align: center;
                            width: 100%;
                            border-spacing: 0 1em;  
                            border-radius: 5px;
                            margin-bottom: 20px;
                            th,td{
                                width: 33.33%;
                            }
                        }
                        table:first-child{
                            font-size: 20px;
                        }
                        table:last-child{
                            padding: 20px;
                            background: white;
                            border-radius: 10px;
                            box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08);
                            td{
                                padding: 20px;
                                background: $bg-color-3;
                            }
                            td:first-child{
                                border-top-left-radius: 10px;
                                border-bottom-left-radius: 10px;
                            }
                            td:last-child{
                                border-top-right-radius: 10px;
                                border-bottom-right-radius: 10px;
                            }
                        }
                    }
                }

            }

            .mem_news{
                grid-area: 2/2/4/3;
                display: grid;
                grid-template-columns: repeat(14, 1fr);
                grid-template-rows: repeat(18, 1fr);
            
                .mn_title{
                    grid-area: 1/1/3/15;
                    width: 98%;
                    justify-items: center;
                    display: grid;
                    grid-template-columns: repeat(14, 1fr);
                    grid-template-rows: 1fr;
                    white-space: nowrap;
            
                    // .mn_subTitle_1{
                    //     grid-area: 1/1/2/3;
                    // }
                    .mn_subTitle_2{
                        display: flex;
                        grid-area: 1/1/2/3;
                        font-size: $title-font-size;
                    }
                    .mn_checkBox_1{
                        grid-area: 2/12/3/14;
                        justify-self: center;
                    }
                    // .mn_checkBox_2{
                    //     grid-area: 4/12/5/15;
                    // }

                    .del_all_button{
                        grid-area: 2/12/3/15;
                        justify-self: end;
                    }

                    .font_mn{
                        font-size: $font-size-0;
                    }
                    .color_mn{
                        color: $text-color-3;
                    }
                }

                .mn_div{
                    grid-area: 4/1/19/15;
                    // background-color: $white-color;
                    overflow: auto;

                    .mn_div_in{
                        width: 98%;
                        height: 200px;
                        margin: auto;
                        margin-top: 2%;
                        display: grid;
                        // grid-template-columns: 1fr;
                        // gap: 2.5%;
                        border-radius: 10px;
                        box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08);

                        .news_div{
                            display: grid;
                            grid-template-columns: repeat(18, 1fr);
                            grid-template-rows: 15% repeat(3, 1fr) 15%;
                            background-color: $white-color;
                            border-radius: 10px;
                            box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08) 5px 5px 17px #c4c4c4;

                            .nd_img{
                                grid-area: 2/2/5/5;
                                align-self: center;
                                display: flex;
                                justify-content: center;

                                img{
                                    width: 70%;
                                }
                            }
                            .triangle{
                                grid-area: 3/5/4/6;
                                justify-self: end;
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 23px 20px 23px 0;
                                border-color: transparent $bg-color-3 transparent transparent;
                            }
                            .mn_text{
                                grid-area: 2/6/5/15;
                                display: grid;
                                grid-template-columns: 5% 90% 5%;
                                grid-template-rows: 10% repeat(3, 1fr) 10%;
                                align-items: flex-end;
                                font-size: $font-size-3;
                                background-color: $bg-color-3;
                                border-radius: 10px;

                                .mnT_title{
                                    grid-area: 2/2/3/3;
                                }
                                .mnT_content{
                                    grid-area: 3/2/4/3;
                                }
                            }
                            .read_input{
                                grid-area: 1/17/3/18;
                                align-self: center;
                                justify-self: flex-end;
                            }
                            .read_label{
                                grid-area: 1/18/3/19;
                                align-self: center;
                            }
                            .del_button{
                                grid-area: 3/16/4/19;
                                justify-self: center;
                            }
                        }
                    }

                    &::-webkit-scrollbar{
                        display: none;
                    }
                }
            }

            .mem_collect{
                grid-area: 2/2/4/3;
                display: grid;
                grid-template-columns: repeat(14, 1fr);
                grid-template-rows: repeat(18, 1fr);

                .mc_title{
                    grid-area: 1/1/2/15;
                    display: grid;
                    grid-template-columns: repeat(14, 1fr);
                    grid-template-rows: 1fr;

                    .mc_subTitle_2{
                        grid-area: 1/1/2/5;
                        display: flex;
                        font-size: $title-font-size;
                    }

                    .font_mc{
                        font-size: $font-size-0;
                    }
                    .color_mc{
                        color: $text-color-3;
                    }

                }

                .mc_div{
                    grid-area: 3/1/19/15;
                    overflow: auto;

                    .mc_div_in{
                        width: 98%;
                        margin: auto;
                        margin-top: 1%;
                        display: grid;
                        gap: 5%;

                        .collect_div{
                            display: grid;
                            grid-template-columns: 2.5% repeat(23, 1fr) 2.5%;
                            grid-template-rows: 15% repeat(3, 1fr) 15%;
                            background-color: $white-color;
                            border-radius: 10px;
                            box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08);

                            .collect_photo{
                                grid-area: 2/2/5/6;
                                display: flex;
                                background-color: $bg-color-3;
                                border-radius: 10px;
                                overflow: hidden;

                                img{
                                    width: 100%;
                                    // height: 50%;
                                    object-fit: cover;
                                }
                            }
                            .collect_detail{
                                grid-area: 2/7/5/25;
                                display: grid;
                                grid-template-columns: 4% repeat(10, 1fr) 4%;
                                grid-template-rows: repeat(5, 1fr);
                                background-color: $bg-color-3;
                                border-radius: 10px;

                                .mc_cd_title{
                                    grid-area: 2/2/3/4;
                                    font-size: $font-size-1;
                                    color: $text-color-1;
                                }
                                .cd_tick{
                                    grid-area: 2/3/3/4;
                                    width: 22px;
                                    height: 22px;
                                    justify-self: flex-end;
                                }
                                // .mc_cd_subTitle{
                                //     grid-area: 3/2/4/4;
                                //     font-size: $font-size-3;
                                //     align-self: center;
                                //     color: $text-color-1;
                                // }
                                .mc_score{
                                    grid-area: 4/2/5/4;
                                    color: $text-color-3;
                                    justify-self: center;
                                    padding: 10px;
                                    border-radius: 10px;
                                }
                                .mc_star{
                                    grid-area: 4/2/5/3;
                                    color: $star-color;
                                    align-self: center;
                                    // justify-self: end;
                                }
                                .cd_input{
                                    grid-area: 3/7/4/10;
                                    justify-self: end;
                                }
                                .cd_input_2{
                                    grid-area: 3/10/4/13;
                                    justify-self: center;
                                }
                            }
                        }
                    }

                    &::-webkit-scrollbar{
                        display: none;
                    }
                }
            }

            .fs_20{
                font-size: $font-size-2;
            }
            .fs_24{
                font-size: $font-size-0;
            }
            .ff_m{
                font-family: "微軟正黑體";
            }
            .fc_w{
                color: $white-color;
            }
            .fw_b{
                font-weight: bolder;
            }

            &::-webkit-scrollbar{
                display: none;
                scroll-behavior: smooth;
            }
        }
    }

    &::-webkit-scrollbar{
        display: none;
        scroll-behavior: smooth;
    }
}

//========================================RWD========================================//
@media screen and(max-width: 1199px){
    #general_member{
        overflow: auto;

        main{
            grid-area: 2/2/3/3;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 4fr;
            height: auto;

            .left_section{
                display: none;
            }
            .left_section_mobile{
                grid-area: 1/1/2/2;
                background-color: $bg-color-2;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
                row-gap: 5%;

                .mo_mugShot{
                    grid-area: 1/2/2/3;
                    align-self: center;
                    justify-content: space-around;
                    display: flex;

                    .mo_photo{
                        justify-self: center;

                        img{
                            width: 50px;
                            height: 50px;
                        }
                    }
                    .mo_identity{
                        font-size: $font-size-0;
                        color: $white-color;
                    }
                    .mo_money{
                        display: flex;

                        img{
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
                .mo_information{
                    grid-area: 2/1/3/2;
                }
                .mo_order{
                    grid-area: 2/2/3/3;
                }
                .mo_account{
                    grid-area: 2/3/3/4;
                }
                .mo_news{
                    grid-area: 3/1/4/3;
                }
                .mo_collect{
                    grid-area: 3/2/4/4;
                }
                .aLink_1_m{
                    text-decoration: none;
                    color: $white-color;
                    font-size: $font-size-0;
                    align-items: center;
                    transition: 0.3s ease-in-out;
                    border-radius: 15px;
                    justify-self: center;
                    display: grid;
                    &:hover{
                        background-color: $bg-color-4;
                    }
                    .fas{
                        font-size: 18px;
                        width: 35px;
                        height: 35px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        color: $text-color-4;
                        background-color: $white-color;
                        border-radius: 100%;
                        justify-self: center;
                    }
                }
                // .active{
                //     background-color: #444444;
                // }
            }
            .right_section{
                grid-area: 2/1/3/2;
                display: grid;
                height: 700px;
                grid-template-columns: 98%;
                justify-content: center;

                .mem_information{
                    grid-area: 2/1/3/2;

                    .mi_2{

                        input{
                            justify-self: end;
                        }
                    }
                    .mi_3{

                        input{
                            justify-self: end;
                        }
                    }
                }
                .mem_order{
                    grid-area: 2/1/3/2;
                }
                .mem_account{
                    grid-area: 2/1/3/2;
                }
                .mem_news{
                    grid-area: 2/1/3/2;

                    .mn_title{
                        width: auto;
                        justify-items: unset;
                    }
                }
                .mem_collect{
                    grid-area: 2/1/3/2;

                    .mc_div{
                        .mc_div_in{
                            .collect_div{
                                .collect_detail{
                                    .mc_score{
                                        grid-area: 4/3/5/4;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 991px){
    #general_member{
        main{
            .right_section{
                .mem_information{
                    .mi_2{
                        .mi_2_mail{
                            div.mi_2_text{
                                white-space: pre-wrap;
                            }
                        }
                    }
                }
                .mem_news{
                    .mn_title{
                        .mn_checkBox_1{
                            grid-area: 2/11/3/13;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 767px){
    #general_member{
        main{
            .right_section{
                display: grid;
                
                .mem_news{
                    .mn_title{
                        .mn_checkBox_1{
                            grid-area: 2/10/3/12;
                        }
                    }
                }
                .mem_collect{
                    .mc_title{
                        .mc_subTitle_2{
                            grid-area: 1/1/2/15;
                        }
                    }
                    .mc_div{
                        .mc_div_in{
                            .collect_div{
                                .collect_photo{
                                    grid-area: 2/2/5/10;
                                }
                                .collect_detail{
                                    grid-area: 2/10/5/25;

                                    .mc_cd_title{
                                        grid-area: 2/2/3/6;
                                    }
                                    .cd_input{
                                        grid-area: 3/10/4/13;
                                    }
                                    .cd_input_2{
                                        grid-area: 4/10/5/13;
                                        justify-self: flex-end;
                                        align-self: flex-end;
                                    }
                                    .mc_star{
                                        grid-area: 4/2/5/3;
                                        justify-self: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 575px){

}