#guide{
  font-size: $font-size-2;
  background-color: $bg-color-1;
  display: flex;
  height: 100vh;
  // overflow: hidden;
  .guide_select{
    width: 50%;
    .guide_tab_list{
      display: none;
      ul{
        display: flex;
        li a{
          display: block;
          font-size: 18px;
          width: 100px;
          height: 35px;
          line-height: 38px;
          color: $text-color-3;
          background-color: $white-color;
          border-radius: 5px 5px 0 0;
          margin: 20px 5px 0 0;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
        }
        li a.-on{
          color: $white-color;
          background-color: $bg-color-4;
        }
      }
    }
    .guide_slide{
      color: $text-color-1;
      background-color: $white-color;
      height: 70px;
      line-height: 70px;
      border-radius: 0 0 8px 8px;
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      .bk_search{
        position: relative;
        .search_input{
          background-color: #F6F6F6;
          width: 160px;
          border-radius: 3px;
          outline:none;
          border: 0;
          padding: 12px 12px 12px 38px;
        }
        i{
          font-size: 16px;
          position: absolute;
          top: 30px;
          left: 10px;
        }
      }
    }
    .tab_content{
      .tab{
        display: none;
      }
      .tab.-on{
        display: block;
      }
      .guide_filter{
        background-color: $white-color;
        color: $text-color-4;
        font-size: 15px;
        margin-top: 30px;
        .filter_list{
          .filter_item{
            display: flex;
            align-items: center;
            border-bottom: 1px solid #eaecf1;
            padding: 10px 0;
            .book_filter-title{
              width: 100px;
              text-align: center;
            }
            .book_filter-content{
              border-left: 1px solid #eaecf1;
              padding-left: 20px;
              ul{
                display: flex;
                .filter_weak_warp{
                  display: flex;
                }
                .filter_select{
                  padding: 6px 6px;
                  margin: 2px 5px;
                  cursor: pointer;
                  &:hover{
                    color: $text-color-3;
                    background-color: $bg-color-1;
                    border-radius: 3px;
                  }
                }
                .part_filter{
                  color: $white-color;
                  background-color: $bg-color-2;
                  border-radius: 3px;
                }
              }
            }
          }
        }
      }
      .guide_book_list{
        padding: 0 20px;
        height: calc(100vh - 380px);
        overflow-y: scroll;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &::-webkit-scrollbar{
          display: none;
        }
        &::after{
            content: '';
            display: block;
            width: 31.5%;
            height: 0;
        }
        #shop_card{
          width: 32%;
          .card_img_2{
            height: 180px;
            overflow: hidden;
            img{
              height: auto;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
  .guide_map{    
    width: 60%; 
       
    #map{
      width:100%;
      height:100%;
    }
      
     .slide_map.slide{
         transform: translateX(0px);
         transition: 0.8s ease-in;
      }
     .slide_map{
       width:300px;
       height:100%;
       position: fixed;
       right:0;
       top:0;        
       background-color: #fff;
       transform: translateX(300px);
       transition: 0.8s ease-in;
       margin-top:70px;
       box-shadow: 0 2px 28px 0 rgba(0,0,0,0.12);

         #slide_map_icon{
           display: inline-block;
           position: absolute;
           top:100px;
           right:300px;
           border:2px solid #F36E30;
           background-color:#fff;           
           cursor: pointer;
           // border-radius: 8px;     

             i{
               font-size: 50px;
               padding:15px 20px;
               color:#F36E30;          
             }
         }

         .top{
           width:80%;
           margin:0 auto;
           border-bottom:1px solid black;
           
            .title{
                padding:10px;
                text-align: center;

              }
         }

         .shop_card_frame{
           height:90%;
           overflow-y: scroll;
               &::-webkit-scrollbar{
                 display: none;
               }
           .shop_card_content{
               display: flex;     
               flex-wrap: wrap;
               justify-content: center;
               background-color:#fff;
               margin:10px 30px;
               box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08);
               .card_img_2{
                 position: relative;                  
                 width:200px;
                 padding-top:20px;
                  img{
                   max-width: 100%;
                  }
                  .cancel_one_list{
                   position: absolute;
                   right:-20px;
                   top:3px;
                   cursor: pointer;
                 }
               }

               .card_content_2{
                 display: flex;
                 flex-wrap: wrap;
                 justify-content: center;
                    .card_title{
                      width:100%;
                      text-align: center;
                      margin:10px auto 10px;
                      font-size:$font-size-3;
                    }
                    .card_score{
                     display: flex;
                     flex-wrap: wrap;
                     justify-content: start;
                     align-items: center;
                     margin-bottom:10px;
                     font-size:14px;
                        .score_star{
                           i{
                             font-size:14px;
                             margin-right:5px;
                             color:#FACC39;
                             
                           }
                        }
                        .score_num{
                          margin-right:5px;
                          color:gray;
                             span{
                               color:black;
                             }
                        }
                        .score_comment{
                          color:gray;
                        }
                    }

               }

              
           }
         }
      } 
  }

  @media screen and (max-width:1800px){
    .guide_select{
      .tab_content{
        .guide_book_list{
          .shop_card{
            width: 48.8%;
            .card_img_2{
              img{
                height: 300px;
              }
            }
          }
        }
      }

    }
  }
  @media screen and (max-width:1600px){
    .filter_weak{
      display: flex;
      flex-direction: column;
    }
    .guide_select{
      .tab_content{
        .guide_book_list{
          .shop_card{
            width: 48.8%;
            .card_img_2{
              img{
                height: 220px;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width:1200px){
    .guide_map{
      display: none;
    }
    .guide_select{
      width: 100%;
      .guide_tab_list{
        display: block;
      }
      .tab_content{
        .guide_filter{
          margin-top: 0;
        }
        .guide_book_list{
          .shop_card{
            width: 32%;
            .card_img_2{
              img{
                height: auto;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width:992px){
    .filter_weak{
      display: flex;
      flex-direction: row;
    }
    .guide_select{
      width: 100%;
      .guide_tab_list{
        display: block;
      }
      .tab_content{
        .guide_filter{
          margin-top: 0;
        }
        .guide_book_list{
          .shop_card{
            width: 32%;
            .card_img_2{
              height: 175px;
              overflow: hidden;
              img{
                height: auto;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width:768px){
    .filter_weak{
      display: flex;
      flex-direction: column;
    }
    .guide_select{
      .tab_content{
        .guide_book_list{
          .shop_card{
            width: 48.5%;
          }
        }
      }
    }
  }
  @media screen and (max-width:576px){
    .guide_select{
      .tab_content{
        .guide_book_list{
          .shop_card{
            width: 100%;
            .card_img_2{
              height: 230px;
              overflow: hidden;
              img{
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}
