//這個只有slider
#index{
  .section{
    .slider {
      position: relative;
      overflow: hidden;
      ul.slides {
        position: relative;
        // margin: 0;padding: 0;
        list-style: none;
        display: flex;
         li {
           display: flex;
           justify-content: center;
           align-items: center;
          position: relative;
          margin: 0;
          padding: 0;
          width: 500px;
          height: 300px;
          // background: #ccc;
          text-align: center;
        }
      }
      
      .steps{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform:translateX(-67%);
        li{
          transition: .3s;
          list-style:none;
          display:inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: black;
          opacity: 0.5;
          cursor:pointer;
        }
      }
      a.control_prev, a.control_next {
        position: absolute;
        top: 40%;
        z-index: 999;
        display: block;
        padding: 4% 3%;
        width: auto;
        height: auto;
        background: #2a2a2a;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        opacity: 0.8;
        cursor: pointer;
      }
      a.control_next {
        right: 0;
      }
    }
    
  }
  /*下面這是banner的*/
  .section:nth-child(2){
    position: relative;
    // border: 5px solid pink ;
    .slider{
      // border: 5px solid greenyellow ;
      // overflow: visible;
      .slides{
        width: 300vw;
        li{
          width: 99vw;
          height:100vh;//calc(95vh - 70px)
          flex-direction: column;
          justify-content: space-between;
          .banner{
            height: 50%;
            .scroll_banner{
              height: 100%;
              object-fit: cover;
            }
          }
          .banbmimg{
            img{
              max-width: 960px;
              object-fit: cover;
            }
          }
        }
      }
      .steps{
        left: initial;
        right: 20px;
        bottom: 40px;
      }
    }
    .scrollDownBtn{
      cursor: pointer;
      color: black;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;justify-content: center;align-items: center;
      flex-direction: column;
      @keyframes scrollDown{
        0%,20%,50%,80%,100%{transform:translateY(0px)}
        40%                {transform:translateY(-10px)}
        60%                {transform:translateY(-5px)}
      }
      .txt{font-weight: 900;}
      .img{
        animation: scrollDown 2s infinite 2s;
        width:  35px;
        height: 35px;
        border: 3px solid black;
        border-radius: 50%;
        margin-bottom: 20px;
        overflow: hidden;
        position: relative;
        display: flex;justify-content: center;align-items: center;
        &::after{
          content: '';
          position: absolute;
          width:  10px;
          height: 10px;
          border: 3px solid black;
          border-width: 0 0 2px 2px;
          transform: rotate(-45deg) ;
          bottom: 35%;
        }
      }
    }
  }
  
  
  .slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
  }
}

#index{
  background-color: $bg-color-1;
  .banner{
    width: 100%;
    position: relative;
    // img{
    //   object-fit: cover;
    //   width: 100%;
    //   height: 100%;
    // }
    .scroll_banner{
      width: 100%;
      display: block;
    }
    .banner_content{
      position: absolute;
      top: 20%;
      left: 5%;
      color: $white-color;
      .banner_title{
        font-size: 50px;
      }
      .banner_text{
        font-size: 40px;
        margin-top: 20px;
      }
      .banner_text2{
        text-align: left;
        font-size: 24px;
        width: 550px;
        line-height: 30px;
        margin: 15px 0;
        opacity: 0.9;
      }
    }
    .banner_circle{
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform:translateX(-241px) ;
    }
    .circle_content{
      position: absolute;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-150px);
      text-align: center;
      .clrcel_num{
        color: $text-color-5;
        font-size: 130px;
      }
      .circle_text{
        font-size: 50px;
      }
      .circle_text2{
        font-size: 40px;
        margin-top: 5px;
      }
    }
  }
  .container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    margin-top: 300px;
    padding: 20px;
    .ad{
      margin-bottom: 80px;
      // display: flex;
      justify-content: space-between;
      .ad_imgaa{
        width: 48%;
        height: 150px;
        border: 1px solid red;
      }
    }
    .hot_shop,.new_shop{
      .title_warp{
        display: flex;
        justify-content: space-between;
        .shop_card_title{
          font-size: $title-font-size;
        }
        .change-btn{
          display: flex;
          .shop_card_prve-btn,.shop_card_next-btn{
            font-size: 20px;
            background-color: $bg-color-3;
            border-radius: 100px;
            width: 30px;
            height: 30px;
            text-align: center;
            margin-left: 20px;
            cursor: pointer;
          }
        }
      }
      .tripleImgWrap{
        max-width: 1200px;
      }
      .shop_card_list{
        display: flex;
        // justify-content: space-between;
        margin-bottom: 80px;
        width: 100%;
        overflow-x: scroll;
        &::-webkit-scrollbar{display: none;}
        .shop_card{
          min-width: calc(33.33% - 20px);
          margin: 10px;
          margin-top: 30px;
          margin-bottom: 0;
          img{
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .plan{
        margin-bottom: 80px;
        .plan_title{
          font-size: $title-font-size;
        }
        .plan_title_text{
          font-size: $font-size-1;
          margin-top: 20px;
        }
        .plan_content{
          margin-top: 30px;
          display: flex;
          flex-direction: column;
          .plan_route_warp{
            display: flex;
            position: relative;
            .section{
              width: 100%;  
              .slider2{
                // overflow: visible;
                width: 100%;
                max-width: 1200px;
                ul.slides{
                  display: flex;
                  li{
                    flex-shrink: 0;
                    .plan_img{
                      font-size: 0;
                      width: 65%;
                      height: 100%;
                      border-radius: 8px;
                      overflow: hidden;
                      img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                      }
                    }
                    .plan_route_list{
                      height: 100%;
                      width: 30.5%;
                      margin-left: 40px;
                      display: flex;
                      flex-direction: column;
                      justify-content: space-between;
                      .plan_route{
                        background-color: $white-color;
                        border-radius: 15px;
                        display: flex;
                        align-items: center;
                        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
                        position: relative;
                        height: calc(20% - 10px);//因為每個上下margin:5px
                        padding-right: 20%;
                        margin: 5px;
                        margin-right: 20%;
                        &::after{
                          content: '\f105';
                          font-family: 'FontAwesome';
                          font-size: 30px;
                          color: $text-color-5;
                          background-color: $white-color;
                          width: 35px;
                          height: 35px;
                          line-height: 35px;
                          text-align: center;
                          border-radius: 50px;
                          box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08);
                          position: absolute;
                          right: -15px;
                          cursor: pointer;
                        }
                        >div{
                          padding-top: 20%;
                          width: 20%;      
                          position: relative;
                          overflow: hidden;
                          border-radius: 8px;
                          img{
                            position: absolute;
                            height: 100%;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                          }
                        }
                        span{
                          font-size: $font-size-1;
                          margin-left: 10px;
                          white-space: nowrap;
                        }
                      }
                    }
                  }
                }
              }
              
            }
          }
          .plan_route_text{
            margin-top: 20px;
            width: 65%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .plan_route_ttitle {
              position: relative;
              margin: 0 50px;
              .plan_change-btn{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .plan_prev-btn,
                .plan_next-btn{
                  position: absolute;
                  margin:0 5px;
                  top: 50%;transform:translateY(-50%);
                  i{
                    font-size: 28px;
                    color: $white-color;
                    background-color: $bg-color-2;
                    display: block;
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    border-radius: 100px;
                    text-align: center;
                    cursor: pointer;
                    &:hover{
                      background-color: #000;
                      transition: ease-out 0.3s;
                    }
                  }
                }
                .plan_prev-btn{
                  left: -50px;
                  top: 50%;
                }
                .plan_next-btn{
                  right:-50px;
                  top: 50%;
                }
              }
              .littleText{
                overflow: hidden;
                width: 200px;
                ul{
                  display: flex;
                  width: 600px;
                  li{
                    width: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span{
                      font-size: $font-size-1;
                      padding-bottom: 8px;
                      border-bottom: 3px solid $bg-color-2;
                      // display: block;
                      margin: auto;
                      text-align: center;
                    }
                  }
                }
              }
            }
            .plan_route_btn{
              font-size: 18px;
              color: $white-color;
              background-color: $bg-color-2;
              width: 120px;
              height: 40px;
              border-radius: 8px;
              border: 2px solid $bg-color-2;
              cursor: pointer;
              &::before{
                content: '\f067';
                font-family: 'FontAwesome';
                padding: 0 8px 0 2px;
              }
              &:hover{
                color: $text-color-5;
                background-color: transparent;
                border: 2px solid $bg-color-2;
                transition: ease-out 0.4s;
              }
            }
          }
        }
      }
    .select{
      margin-bottom: 80px;
      position: relative;
      .food_img{
        width: 100%;
        background-color: #fcdfd3;
      }
      .select_content{
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-100px);
        // border: 1px solid red;
        .select_content_text{
          font-size: $font-size-0;
        }
        .select-btn{
          font-size: 18px;
          color: $white-color;
          background-color: #000;
          width: 120px;
          height: 40px;
          text-align: center;
          border-radius: 100px;
          margin-top: 20px;
          cursor: pointer;
        }
      }
    }
    .news{
      margin-bottom: 80px;
      .news_title{
        font-size: $title-font-size;}
      .news_title_text{
        font-size: $font-size-1;
        margin-top: 20px;}
      .section{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
        position: relative;
        .slider{
          overflow: hidden;
          border-radius: 8px;
          ul.slides{
            
            li{
              overflow: hidden;
              width: 100%;
              img{
                height: 500px;
                object-fit: cover;
              }
            }
          }
        }
        .steps{
          position: absolute;
          left: 50%;
          transform:translateX(-50%);
          bottom: -3em;
          z-index: 1;
          ul{display: flex;}
          li{
            margin:0 5px;
            display:inline-block;
            //width是使用js控制
            height: 7px;
            opacity: 0.5;
            cursor:pointer;
            background: $bg-color-2;
            transition: .3s;
          }
        }
      }
        .news_content{
        margin-top: 30px;
        .news_img{
          height: 500px;
          img{
            width: 100%;
          }
        }
      }
    }
  }
}


