// ---顏色相關變數
$btn-star:#FACC39;
$btn-love-and-addItem:#F42A00;
$btn-like:grey;


  



// 燈箱

.map_lightBox{
    position: fixed;
    width:100vw;
    height:100vh;
    top:0;
    left:0;    
    background-color:hsla(0, 0%, 0%, .5);
    z-index:5;
    display: none;
      .map_frame{     
        width:500px;
        height:650px;
        position: fixed;
        background-color:#fff;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);        
          #map{
            width:500px;
            height:600px;
          }
           .close_map{
             position: absolute;
             right:2%;
             bottom:1%;                  
           }

      }
}

.write_comment_lightbox{
    position: fixed;
    width:100vw;
    height:100vh;
    top:0;
    left:0;    
    background-color:hsla(0, 0%, 0%, .5);
    z-index:5;
    display: none;
     .frame{
      display: flex;
      justify-content:center;
      flex-wrap: wrap;
      position: fixed;
      padding:30px;
      background-color:#fff;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);

           .title{
            width:100%;
            font-size:$font-size-1;
            text-align: center;
           }

           .cancel{
             position: absolute;
             left:90%;
             top:5%; 
             cursor: pointer;            
              
               i{
                 font-size:30px;
               }
           } 

           .content{
              width:250px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              flex-wrap: wrap;
              margin:40px auto;
              

              .member_photo{
                width:30%;               
                margin-top:20px;
                
                 img{
                   width:80px;
                 }
              }
              
              span.mem_id{   
                width:40%;                
                font-size:$font-size-2;               
                margin:20px 0 0 20px;
              }
              .comment_star{
                width:100%;
                margin:20px 0 20px;
                  
                  button{
                    cursor: pointer;

                    &:hover{
                      cursor: pointer;
                      color:$btn-star !important;
                      font-weight:900 !important;
                    }
                  }
              }

              .comment{
                width:100%;
                margin-bottom:20px;
              }

              .comment-btn-frame{
                width:100%;
                display: flex;
                justify-content:flex-end;
                
              }
           }
     }

}




#judge_comment_lightbox{     
    position: fixed;
    width:100vw;
    height:100vh;
    top:0;
    left:0;    
    background-color:hsla(0, 0%, 0%, .5);
    z-index:5;
    display: none;

    .judge_comment_content{
      display: flex;
      justify-content:center;
      flex-wrap: wrap;
      position: fixed;
      padding:40px;
      background-color:#fff;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);      

         .title{
           width:100%;
           font-size:$font-size-1;
           text-align: center;
         }
         
          .report_comment_content{
            display: flex;
            flex-direction: column;
            margin-top:20px;


            .report_comment_content-1,.report_comment_content-2,.report_comment_content-3{
              @include report_comment_content(#bbc3c6);
              margin: 10px 0;
            }            
          }

         .funtion_btn{
           display: flex;
           justify-content: space-evenly;
           margin-top: 20px;
         }
    }

  }

  .cart_frame.slide{
    transform: translate(0px,0px);
    transition:1s ease-in;
  }

  .cart_frame{
    width:300px;
    height:100vh;
    position: fixed;    
    right:0%;
    top:0%;
    transform: translate(320px,0px);
    padding:10px;  
    background-color:#fff;    
    z-index:6; 
    transition:1s ease-in;  
    box-shadow: 0px 2px 8px 0 rgba(0,0,0,0.08);
    // display: none;
    
       .my_order{
         margin: 0 auto;
         text-align: center;
         font-size:$font-size-1;
         padding-bottom:10px;       
         border-bottom:1px solid black;
       }
       .shopping_list_frame{
          height:75vh;
          overflow-y: scroll;
           &::-webkit-scrollbar{
            display:none;
          }
          .shopping_list{        
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items:center;         
            padding:20px;        
            
                span.shop_name{
                  width:80%;
                  font-size:$font-size-2;
                }

                .cancel_shop{
                  .cancel_shop_btn{
                      border:2px solid black;                  
                      padding:5px;
                      cursor: pointer;

                      &:hover{
                        color:#fff;
                        background-color:black;
                      }
                    }
                }

               .shopping_items{
                 display: flex;
                 flex-wrap: wrap;                   
                 width:100%;  
                 margin-top:10px;             
                 padding:10px;
                 background-color: #fff;
                 box-shadow: 0px 2px 8px 0 rgba(0,0,0,0.08);
                 
                 

                    .shopping{
                         width:45%;                        

                         .item_name{
                           margin-bottom:5px;
                         }
                     }

                     .count_quantity{
                       width:45%;
                      //  border:1px solid red;
                       display: flex;
                       align-items: center;
                            .minus{
                              margin-right:5px;
                              cursor: pointer;
                               i{
                                 font-size:18px;
                               }
                            }

                            .buy_quantity{
                              width:30px;
                              text-align: center;
                            }

                            .plus{
                              margin-left:5px;
                              cursor: pointer;
                              i{
                                font-size:18px;
                              }
                            }
                     }

                     .cancel_one_list{
                       display: flex;
                       justify-content: flex-end;
                       align-items: center;
                       width:10%;
                       cursor: pointer;
                     
                     }
               }
           }
        } 
        .count_price{
            display: flex;
            justify-content: flex-end;
            padding:40px;
        }   

        .pay_bill{
            display: flex;
            justify-content: flex-end;
            padding-right:40px;
            a{
              text-decoration: none;
              color: #fff;
            }
        }
  .slide_cart{
    position: absolute;
    right:300px;
    top:20%;
    background-color: #fff;
    cursor: pointer;
    
    
      i{
        color:orange;
        font-size:40px;
        padding:10px;
        border:4px solid orange;
      }
      
    }    
  
  }


// 主頁內容

#shop_menu{
 margin-top:70px;
  .shop_banner{
    width:$container-width;
    margin:0 auto;
     
      .shop_picture{
        height:400px;
        max-width: $container-width;
        overflow: hidden;

            img{
              max-width:100%;
              transform:translate(0 , -20%);
            }
       }

       .shop_info{
          display: flex;
          justify-content: space-evenly;
          margin-top:40px;
          padding:40px 20px;
          box-shadow: 0px 2px 8px 0 rgba(0,0,0,0.08);
          border-radius: 8px;

          
          .shop_info_left{
             width:70%;
             display: flex;
             justify-content: flex-start;
             flex-wrap: wrap;             

                  #shop_name{
                    width:15%;
                    display: flex;
                    align-items: center;
                    font-size:$font-size-1;                    
                    margin-left:20px;
                   }
                  
                  .shop_collect{
                    width:68%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    

                        #shop_love{
                          font-size: 25px;
                          cursor: pointer;
                        }
                   }
                   .shop_score{
                      width:100%;                      
                          
                       .shop_score_block{
                         display: flex;
                         margin:10px 0 30px 20px;
                       
                             i{
                              color:$btn-star;
                             }
                              .score_num{
                                margin-left:5px;
                              }

                         }
                    }

                    .shop_intro{
                        font-size:$font-size-3;
                        margin-left: 20px;
                        
                    }
            }

           .shop_info_right{
            width:30%;
            display: flex;
            justify-content: flex-end;            
           }
        }
 
  }
  
  
  .shop_menu_list{
    width:$container-width;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:40px auto 0;
    // padding:10px;
    box-shadow: 0px 2px 8px 0 rgba(0,0,0,0.08);
    border-radius: 8px;
    
   

        .menu_title{
          width:100%;
          font-size:$font-size-1;
          padding:20px 20px 0px 40px;    
        }
    
        .menu_content_frame{
          width:100%;
          display:flex;
          flex-wrap: wrap;
          justify-content:flex-start;
          margin:0 auto;
          padding:20px;
          

          
            .menu_content{ 
              width:45%;             
              display:flex;
              justify-content:flex-start;
              flex-wrap: wrap;
              box-shadow: 0px 2px 8px 0 rgba(0,0,0,0.08);              
              margin:20px 31px;
              border-radius: 8px;
              // margin:0 auto;
              // border:1px solid red;                  

                  .menu_content_left{
                    width:25%;
                                         
                      .menu_item_pic{
                        margin:0 auto;
                        overflow: hidden;
                        // width:80%;
                        
                        img{
                          display: block;
                          width:120px;
                          transform: scale(1,1);                          
                          transition: 0.3s ease-in;

                          &:hover{
                            transform: scale(1.3,1.3);
                          }
                        }
                      }
                  }
                  
                  .menu_content_right{
                    width:74%;
                    display: flex;                    
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    align-items: center;
                                      

                        
                         .product{
                           width:40%;                         
                           font-size:$font-size-3; 
                          //  border:1px solid red; 
                           
                                .menu_item_name{
                                  margin-bottom:10px;
                                }
                          } 
                         
                         .menu_add{
                           width:30%;
                           display: flex;
                           justify-content: flex-end;                        
                          }

                            i{
                              font-size:22px;
                              transform: scale(1,1);                            
                               transition: 0.2s ease-in;
                          
                              &:hover{
                                cursor: pointer;
                                color:$btn-love-and-addItem;
                                transform: scale(1.5,1.5);                              
                              
                             
                            }
                         }

                         

                  }            
            }
        }

   }    

   .shop_comment_list{
     width:$container-width; 
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;   
     margin:40px auto;
     box-shadow: 0px 2px 8px 0 rgba(0,0,0,0.08);
     border-radius: 8px;


          .comment_title{
            width:25%;
            font-size:$font-size-1;
            padding:30px;
          }

          .write_comment{
             display: flex;
             justify-content: flex-end;
             flex-grow: 1;
             padding:20px;
          }

          .frame{
            width:95%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            
            

                .comment_frame{
                  width:100%;
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: flex-start;
                  margin:20px 0;
                  padding:20px;
                  box-shadow: 0px 2px 8px 0 rgba(0,0,0,0.08);
                  border-radius: 8px;
                  



                        .comment_frame_left{
                          width:15%;
                          

                              .member_photo{                                 
                                  img{
                                    display: block;
                                    margin: 0 auto;
                                    width:80px;
                                  }
                              }
                        }


                        .comment_frame_right{
                            width:85%;
                            display: flex;
                            flex-wrap: wrap;
                            position: relative;                            
                            font-size:$font-size-3;
                            background-color: $bg-color-5;

                            &::before{
                              content: '';
                              width: 0;
                              height: 0;
                              border-style: solid;
                              border-width: 12px 12px 12px 0;
                              border-color: transparent $bg-color-5 transparent transparent;
                              position: absolute;
                              top: 50%;
                              left: -12px;
                              transform: translateY(-12px);
                            }
                                    
                                 .member_id{
                                   width:40%;
                                   margin-top:10px;
                                   padding-left:10px;
                                   font-size:$font-size-3;
                                 }

                                 .judge_comment{
                                   width:57%;
                                   display: flex;
                                   justify-content: flex-end;
                                   margin-top:10px;                                   
                                   position: relative;
                                       
                                      i{
                                        cursor: pointer;
                                      }
                                      
                                      .judge_hint.showHint{                                        
                                        opacity: 1;                                     
                                        cursor: pointer;

                                        &:hover{
                                          color:$bg-color-4;
                                          background-color:$white-color;
                                          border:2px solid $bg-color-4;
                                        }
                                      }

                                      .judge_hint{
                                        position: absolute;
                                        right:20px;                                        
                                        padding:10px; 
                                        background-color:$bg-color-4;
                                        color:$white-color; 
                                        border:2px solid transparent;                                          
                                        transition: 0.3s ease-in;                                    
                                        opacity: 0;               
                                        
                                        }                                        
                                      }

                                      
                                 }

                                 .star{
                                    width:100%;
                                    margin-top: 5px;
                                    margin-bottom:20px;
                                    padding-left:10px;

                                    i{
                                      color:$btn-star;
                                      font-weight: 900;
                                    }
                                 }
                                  .comment_content{
                                    padding-left:10px;
                                  }
                                 .good-btn{
                                    margin-left:10px;
                                    margin-right:5px;
                                    padding-bottom:2px;
                                    display: block;
                                    cursor: pointer;

                                   i{
                                    line-height:$font-size-3;
                                    color:$btn-like;
                                     }
                                   }
                                 
                                 
                                 
                             

                        }
                }

          }

      


#go_top{
  width:50px;
  height:50px;
  position: fixed;
  right:30px;
  bottom:10px;
  display: flex;
  justify-content: center;
  align-items: center; 
  opacity: 1; 
  border-radius: 50%;
  background-color:red;
  border:2px solid transparent;
  color:#fff; 

      
      &:hover{
        background-color: #fff;
        border:2px solid red;
        color:black;
        cursor: pointer;
      }
    
}

}



//--------------- RWD---------------------------------------

@media screen and (max-width: 575px){
  .map_lightBox{    
    .map_frame{     
       width:300px;
       height:550px;
       #map{
         width:300px;
         height:500px;
       }
     }
   }
   .cart_frame{                
      .slide_cart{        
        right:320px; 
         i{
          font-size:20px;
          padding:2px;
         }   
      }
  }
  #shop_menu{
    .shop_banner{
      width:100%;
      .shop_picture{
        height:auto;       
          img{
           max-width:100%;
           transform:translate(0,0);
          }
         }

            
       .shop_info{   
         width: 85%; 
         margin:20px auto 0; 
        .shop_info_left{    
            #shop_name{
              width:40%;
              display: flex;
              align-items: center;
              font-size:$font-size-1;              
            }
            .shop_collect{
              width:40%;
           
            }
            
         } 
         .shop_info_right{
            width:20%;
         } 
      }  
    }
    
    .shop_menu_list{
      width:95%;
      .menu_content_frame{
        width:100%;
        padding:10px;
         .menu_content{
          width:100%;
          .menu_content_left{
            width:20%;
                                 
              .menu_item_pic{
                margin:0 auto;
                // width:80%;
                
                img{
                  width:80px;
                }
              }
          }
          .menu_content_right{
            width:80%;
               .product{
                 width:45%;
               }
          }
         }
      }
    }
    .shop_comment_list{
      width:95%;
       .frame{        
         .comment_frame{ 
           padding:10px;   
            .comment_frame_left{
              width:10%;
              .member_photo{                                 
                img{
                  width:50px;
                }
              }
            }
            .comment_frame_right{
              width:75%;
              margin-left: 35px;
              // border:1px solid red;

              .member_id{
                width:40%;
                // border:1px solid red;
              }
              .judge_comment{
                width:42%;
                // border:1px solid red;
              }
              .comment_content{
                width:95%;
                margin-bottom:5px;
              }
            }
          }
        }
    }
  }

}


@media screen and (min-width: 576px) and (max-width: 767px){
  .map_lightBox{    
       .map_frame{     
          width:400px;
          height:550px;
          #map{
            width:400px;
            height:500px;
          }
        }
    }
  
  .cart_frame{
    width:300px;    
    transform: translate(320px,0px);
    padding:10px; 
     .shopping_list{ 
        span.shop_name{
          width:80%;          
          }
        }
      .slide_cart{        
        right:320px;       
      }
  }

  #shop_menu{
    .shop_banner{
      width:95%;
       .shop_info{     
        .shop_info_left{    
            #shop_name{
              width:28%;
              display: flex;
              align-items: center;
              font-size:$font-size-1;              
            }
         } 
      }  
    }
    
    .shop_menu_list{
      width:95%;
      .menu_content_frame{
        width:95%;
         .menu_content{
          width:100%;
         }
      }
    }
    .shop_comment_list{
      width:95%;
       .frame{        
         .comment_frame{ 
           padding:10px;   
            .comment_frame_left{
              width:13%;
            }
            .comment_frame_right{
              width:80%;
              margin-left: 30px;
              // border:1px solid red;
            }
          }
        }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px){
  #shop_menu{
    .shop_banner{
      width:95%;     
    }
    .shop_menu_list{
      width:95%;
      .menu_content_frame{
        width:95%;
         .menu_content{
          width:100%;
         }
      }
    }
    .shop_comment_list{
      width:95%;
    }
  }
}



@media screen and (min-width: 992px) and (max-width: 1199px){
  #shop_menu{
    .shop_banner{
      width:95%;           
    }
    .shop_menu_list{
      width:95%;
      .menu_content_frame{
        width:95%;
         .menu_content{
          width:42%;
          .menu_content_right{
            width:65%;
            padding-left:25px;            
          }
         }
      }
    }
    .shop_comment_list{
      width:95%;
    }
  }
}


@media screen and (min-width: 1200px){
  #shop_menu{
    .shop_banner{
      width:1140px;      
    }
    .shop_menu_list{
      width:1140px;
      .menu_content_frame{
        width:100%;
         .menu_content{
          width:44%;         
         }
      }
    }
    .shop_comment_list{
      width:1140px;
    }
  }
}