@import "../style";

#ad{
    font-size: $font-size-2;
    background-color: $bg-color-1;
    
    // 晏瑋 header test
   .navlist {
    // position: relative;
    li:nth-child(4) a::after{
      content:"";
      position: absolute;
      bottom: 20px;
      right: 275px;
      width: 115px;
      height: 4px;
      border-radius: 8px;
      background-color: $bg-color-2;
      animation-name: color;
      animation-duration: 2.5s;
        }
    }
    @keyframes color {
        from {background-color:$bg-color-1;}
        to {background-color:$bg-color-2;}
    }
   //test end 
      .container{
              margin-top: 5%;
              margin-bottom: 5%;
          .row{
              .adCard{
                  .item{
                      position: relative;
                      margin-bottom: 50px;
                      -o-transition: 0.9s;
                      transition: 0.9s;
                      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
                      .adImg{
                          .img-fluid{
                              width: 100%;
                              display: block;
                          }
                      }
                      .adText{
                          position: absolute;
                          bottom: -20px;
                          left: -10px;
                          width: 75%;
                          background-color: $white-color;
                          border-radius: 5px;
                          padding: 5%;
                          line-height: 25px;
                          p{
                              display: inline-block;
                              border-bottom: 3px solid rgb(255, 255, 96);
                          }
                          span{
                              display: block;
                              padding-top: 5px;
                          }
                      }
                  }
                  .item:hover{
                    -ms-transform: translate(0, -15px);
                    transform: translate(0, -15px);
                  }
              }
          }
      }
  }
  @media(max-width:1200px) {
    .navmenu .wrap > div:last-child ul li:nth-child(3){
        display: none !important;
      }
      .navlist li:nth-child(2) a::after {
        content: "";
        position: absolute;
        top: 155px;
        left: 0;
        width: 100%;
        height: 40px;
        background-color: #F36E30;
        opacity: 0.5;
    }
} 
  button:focus {
    outline: none;
}
