@import "../style";

#book{
  font-size: $font-size-2;
  background-color: $bg-color-1;
  //卡片動態效果
  .bannerad_img{
    width: 100%;
    height: auto;
    img{
      width: 100%;
      height: auto;
    }
  }
  .bannerad_img_2{
    width: 100%;
    height: auto;
    display: none;
    img{
      width: 100%;
      height: auto;
    }
  }
  // 晏瑋 header test
  .navlist {
      // position: relative;
      li:nth-child(1) a::after{
      content:"";
      position: absolute;
      bottom: 20px;
      right: 675px;
      width: 100px;
      height: 4px;
      border-radius: 8px;
      background-color: $bg-color-2;
      animation-name: color;
      animation-duration: 2.5s;
    }
  }
  @keyframes color {
    from {background-color:$bg-color-1;}
    to {background-color:$bg-color-2;}
  }
// test end


  .container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    //搜尋吧下拉
    .book_slide{
      position: relative;
      #bk_slide_link{
        position: absolute;
        left: 50%;
        transform: translateX(-100px);
        bottom:58px;
        a::before{
          content: '\f103';
          font-family: 'FontAwesome';
          font-size: 20px;
          color: $text-color-2;
          position: absolute;
          transform: translateX(93px);
          top: 15px;
        }
      }
      .bk_slide_con{
        color: $text-color-1;
        background-color: $white-color;
        height: 70px;
        line-height: 70px;
        border-radius: 0 0 8px 8px;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        .bk_search{
          position: relative;
          .search_input{
            background-color: #F6F6F6;
            width: 160px;
            border-radius: 3px;
            outline:none;
            border: 0;
            padding: 12px 12px 12px 38px;
          }
          i{
            font-size: 16px;
            position: absolute;
            top: 30px;
            left: 10px;
          }
        }
      }
    }

    //搜尋列表 
    .search_book{
      .book_filter{
        background-color: $white-color;
        color: $text-color-4;
        font-size: 17px;
        margin-top: 30px;
        border-radius: 8px;
        .filter_list{
          .filter_item{
            display: flex;
            align-items: center;
            border-bottom: 1px solid #eaecf1;
            padding: 10px 0;
            .book_filter-title{
              min-width: 100px;
              text-align: center;
            }
            .book_filter-content{
              border-left: 1px solid #eaecf1;
              padding-left: 20px;
              ul{
                display: flex;
                .filter_weak_warp{
                  display: flex;
                }
                .filter_select{
                  padding: 6px 6px;
                  margin: 2px 5px;
                  cursor: pointer;
                  &:hover{
                    color: $text-color-3;
                    background-color: $bg-color-1;
                    border-radius: 3px;
                  }
                }
                .part_filter{
                  color: $white-color;
                  background-color: $bg-color-2;
                  border-radius: 3px;
                }
              }
            }
          }
        }
      }
      .search_filter_RWD{
        color: $white-color;
        background-color: $bg-color-2;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 8px;
        cursor: pointer;
        // display: none;
        margin-top: 30px;
      }
      .book_list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &::after{
          content: '';
          display: block;
          width: 31.5%;
          height: 0;
        }
        #shop_card{
          width: 32%;
          .card_img_2{
            height: 220px;
            overflow: hidden;
            img{
              height: auto;
            }
          }
        }
      }
    }

    //頁碼
    .page{
      margin-top: 40px;
      .page_list{
        display: flex;
        justify-content: center;
        a{
          display: block;
          font-size: 16px;
          color: $white-color;
          background-color: #254151;
          border-radius: 5px;
          padding: 10px 15px;
          margin: 0 10px;
          text-decoration: none;
          &:hover{
            color: #254151;
            background-color: #ddd;
            transition: ease-out .4s;
          }
        }
        a.page-current{
            background-color: #aaa;
          }
      }
    }
  }
  
  

    

  @media screen and (max-width:1200px){ //31.8% 200
    // 晏瑋 test
    .navlist {
      // position: relative;
      li:nth-child(1) a::after{
        content: "";
        position: absolute;
        top: 14px;
        left: 0;
        width: 100%;
        height: 40px;
        background-color: #F36E30;
        opacity: 0.5;
      }
    }
    .navmenu .wrap > div:last-child ul li:nth-child(3){
        display: none !important;
      }
    // test end

    .bannerad_img{
      display: none;
    }
    .bannerad_img_2{
      display: block;
    }
    .search_book{
      .book_contents{
        .book_list{
          .shop_card{
            width: 31.8%;
            .card_img_2{
              height: 200px;
              overflow: hidden;
              img{
                height: auto;
              }
            }
          }
        }
      }
    }

    .book_slide,.search_book{
      padding: 0 20px;
    }
    .sea_book_list{
      display: flex;
      flex-wrap: wrap;
    }
    .shop_card{
      width: 32%;
      .card_img_2{
        height: 230px;
        overflow: hidden;
        img{
          height: auto;
        }
      }
    }
  }
  @media screen and (max-width:992px){  //48.5% 230
    .sea_book_list{
      display: flex;
      flex-wrap: wrap;
    }
    .search_book{
      .book_contents{
        .book_list{
          .shop_card{
            width: 48.5%;
            .card_img_2{
              height: 230px;
              overflow: hidden;
              img{
                height: auto;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width:768px){  //48.5% 190
    .filter_weak{
      flex-wrap: wrap;
    }
    .search_book{
      .book_contents{
        .book_list{
          .shop_card{
            width: 48.5%;
            .card_img_2{
              height: 190px;
              overflow: hidden;
              img{
                height: auto;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width:576px){  //100% 230
    .search_book{
      .book_contents{
        .book_list{
          .shop_card{
            width: 100%;
            .card_img_2{
              height: 230px;
              overflow: hidden;
              img{
                height: auto;
              }
            }
          }
        }
      }
    }

    //篩選條件
    // .container{
    //   .book_filter{
    //     display: none;
    //   }
    //   .search_book{
    //     .search_filter_RWD{
    //       display: block;
    //     }
    //   }
    // }
  }
}

  