@import "../style";

#book{
  font-size: $font-size-2;
  background-color: $bg-color-1;
  //卡片動態效果
  .card_ani{
    width: 100%;
    height: 400px;
    img{
      max-width: 100%;
    }
  }

  .container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    //搜尋吧下拉
    .book_slide{
      position: relative;
      transform: translateY(80px);
      margin-bottom: 130px;
      .bk_slide_link{
        position: absolute;
        left: 50%;
        transform: translateX(-100px);
        bottom:58px;
        a::before{
          content: '\f103';
          font-family: 'FontAwesome';
          font-size: 20px;
          color: $text-color-2;
          position: absolute;
          transform: translateX(93px);
          top: 15px;
        }
      }
      .bk_slide_con{
        color: $text-color-1;
        background-color: $white-color;
        height: 70px;
        line-height: 70px;
        border-radius: 0 0 8px 8px;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        .bk_search{
          position: relative;
          .search_input{
            background-color: #F6F6F6;
            width: 160px;
            border-radius: 3px;
            outline:none;
            border: 0;
            padding: 12px 12px 12px 38px;
          }
          i{
            font-size: 16px;
            position: absolute;
            top: 30px;
            left: 10px;
          }
        }
      }
    }

    //搜尋列表 
    .search_book{
      .book_filter{
        background-color: $white-color;
        color: $text-color-4;
        font-size: 17px;
        margin-top: 30px;
        .filter_list{
          .filter_item{
            display: flex;
            align-items: center;
            border-bottom: 1px solid #eaecf1;
            padding: 10px 0;
            .book_filter-title{
              width: 100px;
              text-align: center;
            }
            .book_filter-content{
              border-left: 1px solid #eaecf1;
              padding-left: 20px;
              ul{
                display: flex;
                .filter_weak_warp{
                  display: flex;
                }
                .filter_select{
                  padding: 6px 6px;
                  margin: 2px 5px;
                  cursor: pointer;
                  &:hover{
                    color: $text-color-3;
                    background-color: $bg-color-1;
                    border-radius: 3px;
                  }
                }
                .part_filter{
                  color: $white-color;
                  background-color: $bg-color-2;
                  border-radius: 3px;
                }
              }
            }
          }
        }
      }
      .book_list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &::after{
          content: '';
          display: block;
          width: 31.5%;
          height: 0;
        }
        #shop_card{
          width: 32%;
          .card_img_2{
            height: 220px;
            overflow: hidden;
            img{
              height: auto;
            }
          }
        }
      }
    }

    //頁碼
    .page{
      margin-top: 40px;
      .page_list{
        display: flex;
        justify-content: center;
        a{
          display: block;
          font-size: 16px;
          color: $white-color;
          background-color: #254151;
          border-radius: 5px;
          padding: 10px 15px;
          margin: 0 10px;
          text-decoration: none;
          &:hover{
            color: #254151;
            background-color: #ddd;
            transition: ease-out .4s;
          }
        }
        a.page-current{
            background-color: #aaa;
          }
      }
    }
  }

  @media screen and (max-width:1200px){
    .book_slide,.search_book{
      padding: 0 20px;
    }
    .sea_book_list{
      display: flex;
      flex-wrap: wrap;
    }
    .shop_card{
      width: 32%;
      .card_img_2{
        img{
          height: 200px;
        }
      }
    }
  }
  @media screen and (max-width:992px){
    .sea_book_list{
      display: flex;
      flex-wrap: wrap;
    }
    .search_book{
      .book_contents{
        .book_list{
          .shop_card{
            width: 48.5%;
          }
        }
      }
    }
  }
  @media screen and (max-width:768px){
    .filter_weak{
      display: flex;
      flex-direction: column;
    }
    .search_book{
      .book_contents{
        .book_list{
          .shop_card{
            width: 48.5%;
            .card_img_2{
              height: 200px;
              overflow: hidden;
              img{
                height: auto;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width:576px){
    .filter_list{
      font-size: 15px;
    }
    .search_book{
      .book_contents{
        .book_list{
          .shop_card{
            width: 100%;
            .card_img_2{
              height: 230px;
              overflow: hidden;
              img{
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}

  