@import "../style";

body#create{
  *{box-sizing: border-box;}
  background:$bgc;
  .navmenu{
    .navlist{
      li  {
        a[href*="create"]{
          color: $text-color-5;
        }
      }
    }
  }
  .createVendorContainer{
    /* height: 100vh;*/
    div{
      display:flex;
      flex-direction:column;
      flex-wrap:wrap;
    }
    h2{

      color:$text-color-1;
      font-size: $font-size-0;
      margin: $LH 0px;
      // flex: 2;
    }
    h3{
      margin-bottom: 10px;
      font-size: $font-size-2;
      color: $text-color-1;
    }
    input[type="text"],textarea,p,div,.selectwrap{
      color: $text-color-1;
      font-size: $font-size-3;
    }
    input[type="text"],
    .selectcontrol,textarea{
      height: $LH;
      display: flex;
      justify-content: center;
      padding: 20px;
      background: $textBGC;
      border: 0px  ;
      border-radius: $textbdrs;
      position:relative;
      // padding-right: 20px;
      // overflow-x: scroll;
      white-space: nowrap;
      span{
        width: 90%;
        // overflow-x: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        &::-webkit-scrollbar {
          display: none;
        }
        &::-ms-scrollbar{display: none;}
      }
      &::after{
        content: "\f107";
        font-family: 'FontAwesome';
        color:$STRONGcolor;
        position:absolute;
        right: 12px;
        top:50%;
        transform:translateY(-50%);
      }
    }
    .selectwrap{
      position:relative;
      .selectnav{
        display:none;
        line-height: $LH;
        position:absolute;
        top: $LH;
        z-index: 2;
        width: 100%;
        background: $textBGC;
        padding: 10px;
        // border: 1px solid red ;
        label{
          display: block;
        }
      }
    }
    input[type="file"]{
      display:none;
    }
    .pageItem{
      border-radius: $bdrs;
      background: $pageItemBG;
      min-height: 70vh;
      box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08);
      // width: 100%;
      // overflow-y: scroll;
    }
    input,textarea,button{
      outline: none;
      font-family: 微軟正黑體,serif;
    }
    input[type="radio"],input[type="checkbox"]{
      margin-right: 10px;
    }
  }

  
 /*step + page樣式*/
 form#createVendor{
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  height: calc(100vh-300px);
  // height: fit-content;
  max-width: 1200px;
  margin: auto;
  .page1,.page2,.page3,.page5{
    margin: 0 20px;
  }
  .steps{
    padding: 25px;
    max-width: 1200px;
    // *{border: 1px solid green;}
    img{width: 100%;}
    >div{
      align-items: center;
      flex-direction: row;
    }
    .mid{
      position: relative;
      z-index: -2;
    }
    .top,.bom{
      >div{
        width: 20%;
        justify-content: center;
        height: 110px;
      }
      .stepwrap{
        cursor: pointer;
        position: relative;
        background: url(../img/create/gray.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        &::after{
          content: '　';
          z-index: -1;
          background: url(../img/create/dot.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          position: absolute;
          bottom: -0.79em;
          left: 50%;
          transform: translateX(-40%);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .info{
        text-align: center;
        align-items: center;
        .num{
          color: white;
          // font-size: 20px;
          font-weight: 900;
          width:fit-content;
          border-bottom: 3px solid white;
        }
      }
    }
    .bom{
      transform: rotate(180deg);
      .info{
        transform: rotate(180deg);
      }
    }
  }
  .ctrlBtns{
    margin: 0 20px;
    margin-top: $LH;
    flex-direction: row;
    justify-content: space-between;
  }

  .page1{
    .pageItem{
      padding: 5vw 8vw;
      align-items: space-between;
      justify-content: space-around;
      >div{
        flex-direction:row;
        justify-content:space-between;
        >div{
          padding: 10px;
        }
        &:last-child{
          img{
            background: $textBGC;
          }
          textarea,img{
            background-color: $textBGC;
            resize: none;
            border: 0px  ;
            border-radius: $textbdrs;
            height:200px;
            width: $textWidth2c;
            white-space: pre-wrap;
          }
          >div{
            padding: 10px;
          }
        }
      }
      .putheadhere{
        position:relative;
        // width: fit-content;
        font-size: 0;
        img{
          object-fit:cover;
        }
        label[for="myHead"]{
          position:absolute;
          width: 100%;
          height: 100%;
          display: flex;
          align-items:center;
          justify-content:center;
          font-size: 16px;
          background: $textBGC;
          border-radius: $textbdrs;
          span{
            // color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            position:absolute;
            z-index: 1;
          }
        }
      }
      input[type="text"],.selectcontrol{width: $textWidth2c;}
    }
  }
  .page2{
    input[type="text"]{
      font-weight: 600;
    }
    .pageItem{
      padding: 50px;
      flex-wrap: initial;
      >div{
        flex-direction:row;
        align-items: center;
        justify-content:space-between;
      }
      .meal{
        margin: 10px;
        flex-wrap: wrap;
        .putmealhere{
          position:relative;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          overflow: hidden;
          img{
            object-fit:cover;
            width: 100%;
            height: 100%;
          }
          label{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $STRONGcolor;
            span{
              color: white;
              position:absolute;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
        .mealtextwrap{
          min-width: 80%;
          flex-direction: row;
          justify-content: space-between;
          input[type="text"],.selectcontrol{
            width: 150px;
            text-align: center;
          }
          button.deleteBtn{
            @extend %greenCBtn;
          }
        }
      }    
      div.addBtn{
        display: flex;
        justify-content: start;
        margin: 10px;
        // align-items: center;
        label[for="addBtn"]{
          @extend %grayCBtn;
          cursor: pointer;
        }
        input#addBtn{
          @extend %rectBtn;
          cursor: pointer;
          font-size: $font-size-3;
          display: inline-block;
        }
      }
      

    }
  }
  .page3{
    .pageItem{
      position: relative;
      overflow: hidden;
    }
    #map {
      height: 70vh;
      width: 100%;
      margin: 0 auto;
    }

    .user_info{
      display: none;
      width: fit-content;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      p{
        background: white;
        padding: 20px;
        border-radius: $bdrs;
      }
    }
  }
  .page5{
    .pageItem{
      padding: 20px;
      .img{
        margin: auto;
        max-width: 400px;
        height: 100%;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08);
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

// 🟡控制顯示
  .createVendorContainer{
    form#createVendor{
      .page{display: none;}
    }
    #createVendor[data-page="1"] .page:nth-child(1),
    #createVendor[data-page="2"] .page:nth-child(2),
    #createVendor[data-page="3"] .page:nth-child(3),
    #createVendor[data-page="5"] .page:nth-child(4){
      display: flex;
    }
    #createVendor[data-page="4"] .page:nth-child(1),
    #createVendor[data-page="4"] .page:nth-child(2),
    #createVendor[data-page="4"] .page:nth-child(3){
      display: flex;
    }
    #createVendor[data-page="1"] .stepwrap[data-page="1"],
    #createVendor[data-page="2"] .stepwrap[data-page="2"],
    #createVendor[data-page="3"] .stepwrap[data-page="3"],
    #createVendor[data-page="4"] .stepwrap[data-page="4"],
    #createVendor[data-page="5"] .stepwrap[data-page="5"]{
      background-image: url(../img/create/green.png);
    }
    .ctrlBtns{
      button[disabled]{visibility: hidden;}
    }
  }


}//body#


@media screen and (max-width:1200px){
  body#create{
    form#createVendor{
      .page1,.page2,.page5{
        .pageItem{
          padding: 20px;
        }
      }
      .page1{
        .pageItem{
          >div{
            justify-content: center;
          }
        }
      }
      .page2{
        .pageItem{
          padding: 50px;
          .meal{
            flex-wrap: nowrap;
            // margin: 50px;
            .putmealhere{
              margin-right: 20px;
              white-space: nowrap;
            }
            .mealtextwrap{
              // justify-content: space-between;
              text[type="text"]{
                margin-right: 15px;
              }
            }
          }
        }
      }
    }
  }

  body#create{
    form#createVendor{
      .page2{
        .putmealhere,input[type="file"],input[type="text"],.selectcontrol{
          margin-bottom: 15px;
        }
        .mealtextwrap{
          width: 100%;
        }
      }    
    }
  }



}

@media screen and (max-width:992px){
  body#create{
    form#createVendor{
      .page1 .pageItem{
        >div>div{
          width: 80%;
          input[type="text"],textarea,div.selectcontrol,label,img{
            width: 100% !important;
          }
        }
      }
      .page2{
        .pageItem{
          padding: 20px;
          .meal{
            flex-wrap: wrap;
            .mealtextwrap{
              width: 100%;
            }
          }
        }
        .putmealhere,input[type="file"],input[type="text"],.selectcontrol,.deleteBtn{
          margin-bottom: 15px;
        }
      }    
    }
  }
}

@media screen and (max-width:768px){
  body#create{
  form#createVendor{
    .pagewrap{
      .page2{
        .pageItem{
          .meal{
            flex-direction: column;
            justify-content: center;
            .mealtextwrap{
              flex-direction: column;
              align-items: center;
              margin-bottom: 3em;
              input[type="text"],label,.selectwrap,.selectcontrol,span{
                width: 100% ;
              }
            }
          }
          div.addBtn{
            justify-content: center;
            // align-items: center;
          }
        }
      }     
    }
  }
  }
}

@media screen and (max-width:576px){
  body#create{
    .createVendorContainer .page1{
      h2{
        margin: 10px 0 30px;
      }
    }
    // .navmenu{display: none;}
    form#createVendor{
      .steps{
        .top >div,
        .bom >div{
          height: 70px;
        }
        padding: 10px 80px 10px;
        .top .stepwrap::after,
        .bom .stepwrap::after{
          bottom: -13.5%;
          width: 10px;
        }
        .stepwrap .info .num,
        .stepwrap .info .text{
          font-size: 14px;
        }
      }
      .page1 .pageItem>div>div{
        width: 100%;
      }

    }
  }
}

@media screen and (max-width:375px){
  body#create{
    form#createVendor{
      .steps{
        .top .stepwrap::after,
        .bom .stepwrap::after{
          display: -14%;
        }
        .top .stepwrap .info{
          .num,.text{
            font-size: 12px;
            transform: translateX(-7%);
            white-space: nowrap;
          }
        }
      }
      .page1{
        >div>div{display: block;}
        input[type="text"],.selectcontrol,.selectnav,
        textarea,img{
          width: 100% !important;
        }
      }
    }
  }
}
  