@import "../style";



// 晏瑋 header test
.navlist {
  // position: relative;
  li:nth-child(2) a::after{
    content:"";
    position: absolute;
    bottom: 20px;
    right: 548px;
    width: 100px;
    height: 4px;
    border-radius: 8px;
    background-color: $bg-color-2;
    animation-name: color;
    animation-duration: 2.5s;
  }
}
@keyframes color {
  from {background-color:$bg-color-1;}
  to {background-color:$bg-color-2;}
}

//header 漢堡啟動
@media (max-width:1200px){
  .navlist {
    // position: relative;
    li:nth-child(2) a::after{
      content: "";
      position: absolute;
      top: 82px;
      left: 0;
      width: 100%;
      height: 40px;
      background-color: #F36E30;
      opacity: 0.5;
    }
  }
  .navmenu .wrap > div:last-child ul li:nth-child(3){
    display: none !important;
  }
  // test end
}

#guide{
  font-size: $font-size-2;
  background-color: $bg-color-1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  .tab{
    display: flex;
    .tab1,.tab2{
      font-size: 18px;
      width: 100px;
      height: 35px;
      line-height: 38px;
      color: $white-color;
      background-color: $bg-color-2;
      border-radius: 5px 5px 0 0;
      margin: 20px 5px 0 0;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
    }
  }
  .guide_slide{
    color: $text-color-1;
    background-color: $white-color;
    height: 70px;
    line-height: 70px;
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: space-between;
    .title_text{
      margin: 0 20px;
    }
    .bk_search{
      position: relative;
      margin: 0 20px;
      .search_input{
        background-color: #F6F6F6;
        width: 160px;
        border-radius: 3px;
        outline:none;
        border: 0;
        padding: 12px 12px 12px 38px;
      }
      i{
        font-size: 16px;
        position: absolute;
        top: 30px;
        left: 10px;
      }
    }
  }
  .guide_select{
    height: calc(100vh - 70px);   
    .tab_content{
      .guide_filter{
        background-color: $white-color;
        color: $text-color-4;
        font-size: 15px;
        margin-top: 30px;
        .filter_list{
          .filter_item{
            display: flex;
            align-items: center;
            border-bottom: 1px solid #eaecf1;
            padding: 10px 0;
            .book_filter-title{
              width: 100px;
              text-align: center;
            }
            .book_filter-content{
              border-left: 1px solid #eaecf1;
              padding-left: 20px;
              ul{
                display: flex;
                .filter_weak_warp{
                  display: flex;
                }
                .filter_select{
                  padding: 6px 6px;
                  margin: 2px 5px;
                  cursor: pointer;
                  &:hover{
                    color: $text-color-3;
                    background-color: #eeeeee;
                    border-radius: 3px;
                  }
                }
                .part_filter{
                  color: $white-color;
                  background-color: $bg-color-2;
                  border-radius: 3px;
                }
              }
            }
          }
        }
      }
      .guide_book_list{
        padding: 0 20px;
        height: calc(100vh - 380px);
        overflow-y: scroll;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &::-webkit-scrollbar{
          display: none;
        }
        &::after{
            content: '';
            display: block;
            width: 31.5%;
            height: 0;
        }
        #shop_card{
          width: 32%;
          .card_img_2{
            height: 180px;
            overflow: hidden;
            img{
              height: auto;
              vertical-align: middle;
            }
          }
        }
      }
    }    
  }  
  .right_zone{    
    width: 50%; 
    height: calc(100vh - 70px);   
    #map{
      width:100%;
      height:100%;
    }
      
     .slide_map.slide{
         transform: translateX(0px);
         transition: 0.8s ease-in;
      }
     .slide_map{
       width:300px;
       height:100%;
       position: fixed;
       right:0;
       top:0;        
       background-color: #fff;
       transform: translateX(300px);
       transition: 0.8s ease-in; 
       box-shadow: 0 2px 28px 0 rgba(0,0,0,0.12);

         #slide_map_icon{
           display: inline-block;
           position: absolute;
           top:100px;
           right:300px;     
           background-color:#fff;           
           cursor: pointer;  
           border-top-left-radius: 8px;
           border-bottom-left-radius: 8px;  
           overflow: hidden;      
             i{
               font-size: 25px;
               color:#fff; 
               background-color: $bg-color-2;   
               display: block;
               text-align: center;
               width: 55px;
               height: 55px;
               line-height: 55px;    
             }
         }

         .top{
           width:80%;
           margin:0 auto;
           border-bottom:1px solid black;
           
            .title{
                padding:10px;
                text-align: center;
                margin-top: 20px;
              }
         }

         .shop_card_frame{
           height:90%;
           overflow-y: scroll;
               &::-webkit-scrollbar{
                 display: none;
               }
           .shop_card_content{
               display: flex;     
               flex-wrap: wrap;
               justify-content: center;
               background-color:#fff;
               margin:10px 30px;
               border-radius:8px;
               box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08);
               .card_img_2{
                 position: relative;                  
                 width:200px;
                 padding-top:20px;
                  img{
                   max-width: 90%;
                   display: block;
                   margin:0 auto;
                  }
                  .cancel_one_list{
                   position: absolute;
                   right:-15px;
                   top:5px;
                   cursor: pointer;
                 }
               }

               .card_content_2{
                 display: flex;
                 flex-wrap: wrap;
                 justify-content: center;
                    .card_title{
                      width:100%;
                      text-align: center;
                      margin:10px auto 10px;
                      font-size:$font-size-3;
                    }
                    .card_score{
                     display: flex;
                     flex-wrap: wrap;
                     justify-content: start;
                     align-items: center;
                     margin-bottom:10px;
                     font-size:14px;
                        .score_star{
                           i{
                             font-size:14px;
                             margin-right:5px;
                             color:#FACC39;
                             
                           }
                        }
                        .score_num{
                          margin-right:5px;
                          color:gray;
                             span{
                               color:black;
                             }
                        }
                        .score_comment{
                          color:gray;
                        }
                    }

               }

              
           }
         }
      } 
  }

  @media screen and (max-width:1800px){ //48.5 230
    .filter_weak{
      display: flex;
      flex-direction: row;
    }
    .guide_select{
      .tab_content{
        .guide_book_list{
          .shop_card{
            width: 48.5%;
            .card_img_2{
              height: 230px;
              overflow: hidden;
              img{
                height: auto;
              }
            }
          }
        }
      }

    }
  }
  @media screen and (max-width:1400px){ //48.5 200
    .guide_select{
      .tab_content{
        .guide_book_list{
          .shop_card{
            width: 48.5%;
            .card_img_2{
              height: 200px;
              overflow: hidden;
              img{
                height: auto;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width:1200px){ //31.8% 200
    .guide_select{
      width: 100%;
      .tab_content{
        .guide_filter{
          margin-top: 0;
        }
        .guide_book_list{
          .shop_card{
            width: 31.8%;
            .card_img_2{
              height: 200px;
              overflow: hidden;
              img{
                height: auto;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width:992px){ //48.5% 230
    .guide_select{
      .tab_content{
        .guide_book_list{
          .shop_card{
            width: 48.5%;
            .card_img_2{
              height: 230px;
              overflow: hidden;
              img{
                height: auto;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width:768px){ //48.5% 190
    .guide_select{
      .tab_content{
        .guide_book_list{
          .shop_card{
            width: 48.5%;
            .card_img_2{
              height: 190px;
              overflow: hidden;
              img{
                height: auto;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width:576px){ //100% 230
    .guide_select{
      .tab_content{
        .guide_book_list{
          .shop_card{
            width: 100%;
            .card_img_2{
              height: 230px;
              overflow: hidden;
              img{
                height: auto;
              }
            }
          }
        }
      }
    }
    .filter_weak{
      display: flex;
      flex-direction: column;
    }
  }
}




