@import "../style";

#index{
    .indexfog{
        width: 100%;
        height: 100vh;
        background: #ffd4a7 ;
        .welfoot{
            position: absolute;
            bottom: 0;
            background: #ddb488 ;
            width: 100%;
            overflow: hidden;
            img{
                width: 100%;
                height: 30vh;
            }
        }
        .welbody{
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            z-index: 10;
            .front{
                position: relative;
                width: 20%;
                margin-left: 10%;
                margin-right: 10%;
                transition: 0.4s;
                padding-bottom: 5%;    
                &:hover{
                    animation: upDown 0.3s infinite alternate;
                    img{
                        animation: IMGupDown 0.6s infinite alternate;
                    }
                    .front-shadow{
                        left: 21%;
                        animation: IMGbs 0.3s infinite alternate;
                    }
                }
                img{
                    width: 100%;
                    display:block;
                    margin:auto; 

                }
                a{
                    .front-link{
                        position: absolute;
                        width: 50%;
                        top: 19%;
                        left: 25%;
                    }
                }
                .front-shadow{
                    position: absolute;
                    width: 50%;
                    top: 90%;
                    left: 25%;
                }
            }
            .rear{
                position: relative;
                width: 20%;
                margin-left: 10%;
                margin-right: 10%;
                transition: 0.4s;
                padding-bottom: 5%;         
                &:hover{
                    animation: upDown 0.3s infinite alternate;
                    img{
                        animation: IMGupDown 0.6s infinite alternate;
                    }
                    .rear-shadow{
                        left: 21%;
                        animation: IMGbs 0.3s infinite alternate;
                    }
                }
                img{
                    width: 100%;
                    display:block;
                    margin:auto; 
                    
                }
                a{
                    .rear-link{
                        position: absolute;
                        width: 50%;
                        top: 19%;
                        left: 25%;
                        
                    }
                }
                .rear-shadow{
                    position: absolute;
                    width: 50%;
                    top: 90%;
                    left: 25%;
                }
            }
        }
        .welheader{
            width: 100%;
            height: 30vh;
            padding-top: 3%;
            svg{
                display: block;
                width: 13%;
                margin: 0 auto;
                .logo{
                    opacity: 0;
                }
                .logo-text{
                    opacity: 0;
                }
            }
        }
    }
}
@keyframes upDown{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-50px);
    }
}
@keyframes IMGupDown{
    0%{
        height: 100%;
    }
    25%{
        height: 97%;
    }
    50%{
        height: 95%;
    }
    75%{
        height: 97%;
    }
    100%{
        height: 100%;
    }
}
@keyframes IMGbs{
    from{
        width: 65%;
        transform: translateY(0px);
    }
    to{
        width: 50%;
        transform: translateY(25px);
        transform: translateX(10px);
    }
}


@media screen and (max-width:1200px){
    .navmenu .wrap > div:last-child ul li:nth-child(3){
      display: none !important;
    }
}


@media screen and (max-width: 1200px) {
    #index .indexfog .welheader svg {
        width: 18%;
    }
    #index .indexfog .welheader {
        height: 35vh;
    }
    #index .indexfog .welfoot img {
        height: 33vh;
    }
}
@media screen and (max-width: 992px) {
    #index .indexfog .welheader svg {
        width: 21%;
    }
    #index .indexfog .welheader {
        height: 35vh;
        padding-top: 5%;
    }
    #index .indexfog .welfoot img {
        height: 36vh;
    }
}
@media screen and (max-width: 768px) {
    #index .indexfog .welheader svg {
        width: 26%;
    }
    #index .indexfog .welheader {
        height: 35vh;
        padding-top: 8%;
    }
    #index .indexfog .welfoot img {
        width: 120%;
        height: 39vh;
        transform: translateX(-8.5%);
    }
}
@media screen and (max-width: 680px) {
    #index .indexfog .welheader svg {
        width: 30%;
    }
    #index .indexfog .welheader {
        height: 40vh;
        padding-top: 12%;
    }
    #index .indexfog .welfoot img {
        width: 130%;
        height: 43vh;
        transform: translateX(-11.5%);
    }
}
@media screen and (max-width: 576px){
    #index .indexfog .welbody{
        flex-direction: column;
        .front{
            width: 16%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10%;
        }
        .rear{
            width: 16%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
@media screen and (max-width: 480px) {
    #index .indexfog .welbody{
        flex-direction: column;
        .front{
            width: 30%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10%;
        }
        .rear{
            width: 30%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    #index .indexfog .welheader svg {
        width: 35%;
    }
    #index .indexfog .welheader {
        height: 40vh;
        padding-top: 15%;
    }
    #index .indexfog .welfoot img {
        width: 140%;
        height: 46vh;
        transform: translateX(-15%);
    }
}
@media screen and (max-width: 414px) {
    #index .indexfog .welbody{
        flex-direction: column;
        .front{
            width: 30%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10%;
        }
        .rear{
            width: 30%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
  
@media screen and (max-width:992px){
    .shop_card{
      min-width: calc( 50% - 20px )!important;
      .card_img_2{
        img{
          height: 250px;
        }
      }
    #index .indexfog .welheader svg {
        width: 43%;
    }
    #index .indexfog .welheader {
        height: 35vh;
        padding-top: 20%;
    }
    #index .indexfog .welfoot img {
        width: 170%;
        height: 50vh;
        transform: translateX(-20%);
    }
    }
}
@media screen and (max-width: 376px) {
    #index .indexfog .welbody{
        flex-direction: column;
        .front{
            width: 30%;
            margin-left: auto;
            margin-right: auto;
        }
        .rear{
            width: 30%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    #index .indexfog .welheader svg {
        width: 43%;
    }
    #index .indexfog .welheader {
        height: 35vh;
        padding-top: 20%;
    }
    #index .indexfog .welfoot img {
        width: 170%;
        height: 50vh;
        transform: translateX(-20%);
    }
}
