@mixin flexcolum($jc:center,$ai:center) {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: $jc;
  align-items: $ai;
}
@mixin flexrow($jc:center,$ai:center) {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: $jc;
  align-items: $ai;
}
.navmenu{
  position: sticky;
  top: 0;
  font-size: $font-size-1;
  width: 100vw;
  .wrap{
    background-color: lightblue;
    @include flexrow(space-between, );
    .logo{                        //左側欄
      @include flexrow();
      border: 1px solid #41d4e4;
      color: $text-color-3;
      text-align: center;
      padding: 15px 40px;
      margin-left: 15px;
    }
    >div:last-child{
      @include flexrow();
      a{
        padding: 0 15px;
        color: $text-color-3;
        text-decoration: none;
        display: inline-block;
        &:hover{
          color: #41d4e4;
          transition: ease-out 0.3s;
        }
      }
      ul{                           //右側欄
        // margin-right: 15px;
        @include flexrow();
        li{
          height: 70px;
          line-height: 70px;
          text-align: center;
        }
      }
      a.hamburger{
        display: none;
      }
    }
     
  }
}

@media screen and (max-width:1200px){//漢堡
  .navmenu{
    .wrap{
      @include flexcolum();
      height: 70px;
      // height: 100vh; //✅
      .logo{
        position: fixed;
        top: 8px;
        left: 0;
        margin-left: 0;
        align-self: start;
      }
      >div:last-child{
        width: 100%;
        height: 0;
        ul{
          // @include flexcolum(flex-start,);
          align-self: start;
          display: none; //✅
          margin: 0;
          margin-right: 0px;
          li{
            width: 100vw;
            a{
              display: block;
            }
          }
        }
        .rIcon{
          @include flexrow();
          position: fixed;
          top: 22px;
          right: 0;
          .hamburger{
            display: block;
          }
          transition: 0.3s;
        }
      }
    }
  }
}














.footer{
  font-size: 16px;
  background-color: $bg-color-1;
  width: 100%;
  .wrap{
    color: #fff;
    max-width: $container-width;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
  }
}
