.menu{
  font-size: $font-size-1;
  background-color: $bg-color-1;
  .wrap{
    // border: 1px solid red;
    max-width: $container-width;
    width: 100%;
    margin: 0 auto;
    display: flex;
    .logo{
      border: 1px solid #41d4e4;
      color: #fff;
      margin: auto;
      text-align: center;
      padding: 15px 40px;
    }
    ul{
      width: 900px;
      display: flex;
      li{
        // border:1px solid red;
        width: 900px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        a{
          color: #fff;
          text-decoration: none;
          &:hover{
            color: #41d4e4;
            transition: ease-out 0.3s;
          }
        }
        a.order{
          border: 3px solid #41d4e4;
          margin: 0 auto;
          padding: 10PX 12PX;
          i{
            margin-left: 8px;
            font-size: 20px;
          }
        }
        a.cart,a.user{
          i{
            // border: 1px solid red;
            font-size: 20px;
            padding: 0 12px;
          }
        }
      }
    
    }
  }
}

.footer{
  font-size: 16px;
  background-color: $bg-color-1;
  width: 100%;
  .wrap{
    color: #fff;
    max-width: $container-width;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
  }
}
