//背景顏色樣式
$bg-color-1: #11245E;
$bg-color-2: #384F95;
$bg-color-3: #f2f2f2;
$bg-color-4: #4DB7FE;
$bg-color-5: #F0F2F5;//商店卡評論框專用



//白色背景.文字樣式 (請大家統一用這個白色色票)
$white-color:#fff;

//字體顏色樣式
$text-color-1: #7D93B2;
$text-color-2: #4DB7FE;
$text-color-3: #566985;
$text-color-4: #999999; //商店卡內容文字樣式

//星星顏色
$star-color:#FACC39;
